<%= form_for [@course, @training], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span9' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9 html-editor', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :open_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :open_at,
          :value => date_mdY(@training.open_at),
          :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <label>Topic</label>
    <div class="controls">
      <table>
        <% @training.asm_tags.each do |asm_tag| %>
          <%= render partial: "asm_tags/form_row", locals: { asm_tag: asm_tag } %>
        <% end %>
        <tr>
          <td>
            <select>
              <% @tags.each do |tag| %>
                <option value="<%= tag.id %>"><%= tag.name %></option>
              <% end %>
            </select>
          </td>
          <td>
            <%= link_to course_asm_tags_render_form_row_path(@course), class: "btn btn-add-tag" do %>
              <i class="icon-plus"></i>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_path(@course), :class => 'btn' %>
  </div>

  <%= render :partial => "layouts/html_editor" %>
<% end %>
