<%= form_for [@course, @training], :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span9 html-editor', :rows => 10 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :exp, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :exp, :class => 'number_field input-medium', min:"1" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :open_at, :class => 'control-label' %>
      <div class="controls">
        <div class="datetimepicker input-append date">
          <%= f.text_field :open_at,
                           :value => datetime_format(@training.open_at),
                           :class => 'input-medium',
                           id: "open_at"%>
          <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Topic</label>
      <div class="controls">
        <%= render partial: "tags/form_checkboxes",
                   locals: { tag_groups: @course.tag_groups,
                             uncats: @course.tags.uncategorized,
                             exist_tags_hash: @asm_tags } %>
      </div>
    </div>
    <!--for file uploads-->
    <div id="uploaded_files_div"></div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', id: "assignment_update" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  course_path(@course), :class => 'btn' %>
    </div>
    <%= render :partial => "layouts/html_editor" %>
<% end %>
<h3>Upload lesson materials</h3>
<br/>

<%= render partial: "layouts/file_uploader_complicated",
           locals: { owner: @training } %>