<%- model_class = Training -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if current_uc && current_uc.is_lecturer? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_course_training_path(@course),
              :class => 'btn btn-primary' %>
<% end %>

<table class="table table-hover assignments">
  <thead>
    <tr>
      <th>Training</th>
      <th width="5%">Max Exp</th>
      <th width="10%">Requirement for</th>
      <% if current_uc %>
        <% if current_uc.is_lecturer? %>
          <th width="10%">Time till open</th>
        <% end %>
        <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @trainings_with_sbm.each do |tws| %>
      <% training = tws[:training] %>
      <% submission = tws[:submission] %>
      <tr class="<%= "future" if training.open_at > Time.now %>">
        <td>
          <%= link_to course_training_path(@course, training) do %>
            <h4><%= training.title %></h4>
          <% end %>
        </td>
        <td><%= training.exp %></td>
        <td>
          <% training.as_requirements.each do |req| %>
            <a href='#' title="<%= req.obj.title %>">
              <img class="asm-ach-icon" src="<%= req.obj.icon_url %>" >
            </a>
          <% end %>
        </td>
        <% if current_uc %>
          <% if current_uc.is_lecturer? %>
            <td>
              <% if training.open_at > Time.now %>
                <%= time_ago_in_words(training.open_at) %>
              <% else %>
                ----
              <% end %>
            </td>
          <% end %>
          <td>
            <% if current_uc.is_student? %>
              <% if submission %>
                <%= link_to 'Continue',
                        edit_course_training_training_submission_path(@course, training, submission),
                        :class => 'btn btn-mini' %>
              <% else %>
                <%= link_to 'Start',
                        new_course_training_training_submission_path(@course, training),
                        :class => 'btn btn-mini' %>
              <% end %>
            <% elsif current_user.is_lecturer? %>
              <%= link_to edit_course_training_path(@course, training), :class => 'btn btn-mini' do %>
                <i class="icon-edit"></i>
              <% end %>
              <%= link_to course_training_path(@course, training),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",
                                                                             :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' do %>
                 <i class="icon-trash"></i>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
