<%- model_class = Training -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<p><i>* Click at the tags to view missions and trainings in that tag.</i></p>

<% if can? :create, Training %>
  <p>
    <%= link_to "New Training",
                new_course_training_path(@course),
                :class => 'btn btn-primary' %>
  </p>
<% end %>

<table class="table table-hover assignments">
  <thead>
    <tr>
      <th>Training</th>
      <th width="15%">Tag</th>
      <th width="5%">Max Exp</th>
      <th width="10%">Requirement for</th>
      <% if can? :view_detail, Training %>
        <th width="10%">Time till open</th>
      <% end %>
      <% if curr_user_course.id && can?(:manage, TrainingSubmission) %>
        <th width="10%"></td>
      <% end %>
      <% if can? :view_detail, Training %>
        <th width="10%"></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @trainings_with_sbm.each do |tws| %>
      <% training = tws[:training] %>
      <% submission = tws[:submission] %>
      <tr class="<%= "future" if training.open_at > Time.now %>">
        <td>
          <% if can? :manage, Training %>
            <%= link_to course_training_path(@course, training) do %>
              <h4><%= training.title %>
                <% if @is_new[training.id] %>
                  <img class="asm-new-icon"
                      src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/256x256/promotion_new.png">
                <% end %>
              </h4>
            <% end %>
          <% else %>
             <h4><%= training.title %>
              <% if @is_new[training.id] %>
                <img class="asm-new-icon"
                    src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/256x256/promotion_new.png">
              <% end %>
            </h4>
          <% end %>
        </td>
        <td>
          <% training.tags.each do |tag| %>
            <%= link_to course_tag_path(@course, tag) do %>
              <span class="label label-info"><%= tag.name %></span>
            <% end %>
          <% end %>
        </td>
        <td><%= training.exp %></td>
        <td>
          <% training.as_requirements.each do |req| %>
            <a href='<%= req.obj.get_path %>' title="<%= req.obj.title %>">
              <img class="asm-ach-icon" src="<%= req.obj.icon_url %>" >
            </a>
          <% end %>
        </td>

        <% if can? :view_detail, Training %>
          <td>
            <% if training.open_at > Time.now %>
              <%= time_ago_in_words(training.open_at) %>
            <% else %>
              ----
            <% end %>
          </td>
        <% end %>

        <% if curr_user_course.id && can?(:manage, TrainingSubmission) %>
          <td>
            <% if submission %>
              <% if !submission.done? %>
                <%= link_to 'Continue',
                      edit_course_training_training_submission_path(@course, training, submission,
                      anchor: 'training-stop-pos'), class: 'btn btn-primary' %>
              <% else %>
                <%= link_to "Revise",
                      new_course_training_training_submission_path(@course, training),
                      class: 'btn' %>
              <% end %>
            <% else %>
              <%= link_to 'Start',
                      new_course_training_training_submission_path(@course, training),
                      class: 'btn btn-success' %>
            <% end %>
          </td>
        <% end %>

        <% if can? :view_detail, Training %>
          <td>
            <%= link_to course_training_path(@course, training), class: 'btn' do %>
              <i class="icon-external-link"></i>
            <% end %>
            <% if can? :manage, Training %>
              <%= link_to course_training_path(@course, training),
                          method: :delete,
                          data: { confirm: t('.confirm', :default => t("helpers.links.confirm",
                                                                       :default => 'Are you sure?')) },
                          class: 'btn btn-danger' do %>
                 <i class="icon-trash"></i>
              <% end %>
            <% end %>
          </td>
        <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @trainings %>
