<%- model_class = Training -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="<%= "active" if @tab == 'main' %>">
    <a href="<%=  course_trainings_path(@course) %>?_tab=main" data-toggle="tab"><h4>Main</h4></a>
  </li>
  <li class="<%= "active" if @tab == 'extra' %>">
    <a href="<%= course_trainings_path %>?_tab=extra" data-toggle="tab"><h4>Extra (Optional)</h4></a>
  </li>
</ul>

<div>
  <h3><a href="#" data-toggle="collapse" data-target="#tag-checklist">&raquo; Filter</a> <small>(click to reveal)</small></h3>
  <%= form_tag(course_trainings_path(@course), method: :get) do %>
      <div class="collapse <%= @selected_tags ? "in" : "out" %>" id="tag-checklist">
        <div class="well">
          <%= render partial: "tags/form_checkboxes",
                     locals: { tag_groups: @course.tag_groups,
                               uncats: @course.tags.uncategorized,
                               exist_tags_hash: @tags_map } %>
          <button class="btn">Filter</button>
        </div>
      </div>
  <% end %>
</div>

<% if can? :create, Training %>
    <p>
      <%= link_to "New Training",
                  new_course_training_path(@course),
                  :class => 'btn btn-primary' %>
    </p>
<% end %>

<%= render partial: "training_table", locals: {trainings_with_sbm: @trainings_with_sbm} %>

