<div class="page-header">
  <h1>Update Trainings</h1>
</div>

<ul class="nav nav-tabs">
  <li class="<%= "active" if @tab == 'main' %>">
    <a href="<%=  course_trainings_path(@course) %>?_tab=main" data-toggle="tab"><h4>Main</h4></a>
  </li>
  <li class="<%= "active" if @tab == 'extra' %>">
    <a href="<%= course_trainings_path %>?_tab=extra" data-toggle="tab"><h4>Extra (Optional)</h4></a>
  </li>
  <% if can? :manage, :bulk_update %>
      <li class="<%= "active" if @tab == 'overview' %>">
        <a href="<%= course_trainings_overview_path %>" data-toggle="tab"><h4>Overview</h4></a>
      </li>
  <% end %>
</ul>

<%= form_tag course_trainings_bulk_update_path(@course), :method => 'POST' do %>
    <table class="table">
      <thead>
      <tr>
        <th><%= @display_columns['title'] %></th>
        <th><%= @display_columns['exp'] %></th>
        <th><%= @display_columns['start'] %></th>
        <th><%= @display_columns['bonus-exp'] %></th>
        <th><%= @display_columns['bonus-cutoff'] %></th>
        <th>Type</th>
        <th>Publish?</th>
      </tr>
      </thead>
      <tbody>
      <% @trainings.each do |training| %>
          <tr>
            <td>
              <input name="trainings[<%= training.id %>][title]" type="text"  class="input-medium" value="<%= training.title %>" required>
            </td>
            <td>
              <input name="trainings[<%= training.id %>][exp]" type="number" value="<%= training.exp %>" min="0" class="input-mini" required>
            </td>
            <td>
              <div class="datetimepicker input-append date">
                <input name="trainings[<%= training.id %>][open_at]" type="text" value="<%= datetime_format(training.open_at) %>" class="input-medium" required="true">
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
              </div>
            </td>

            <td>
              <input name="trainings[<%= training.id %>][bonus_exp]" type="number" value="<%= training.bonus_exp %>" min="0" class="input-mini" required>
            </td>
            <td>
              <div class="datetimepicker input-append date">
                <input name="trainings[<%= training.id %>][bonus_cutoff]" type="text" value="<%= datetime_format(training.bonus_cutoff) %>" class="input-medium" required="true">
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
              </div>
            </td>
            <td>
              <select name="trainings[<%= training.id %>][t_type]" class="input-mini" >
                <% AssignmentType.all.each do  |assign_type| %>
                    <option value="<%= assign_type.id %>" <%= 'selected="selected"' if training.t_type == assign_type.id  %>> <%= assign_type.title  %></option>
                <% end %>
              </select>
            </td>
            <td style="text-align: center">
              <input type="hidden" name="trainings[<%= training.id %>][publish]" value="0">
              <input name="trainings[<%= training.id %>][publish]" type="checkbox" <%= 'checked' if training.publish? %>>
            </td>
          </tr>
      <% end%>
      </tbody>
    </table>
    <div class="center">
      <button class="btn btn-large" style="width: 50%; font-weight: bold">Update</button>
    </div>
<% end %>
