<%- model_class = Training -%>
<div class="page-header">
  <h1 class="pull-left">Training: <%= @training.title %></h1>
  <% if curr_user_course.is_student? %>
    <div class="pull-right">
      <% if @submission %>
        <%= link_to 'Continue',
                edit_course_training_training_submission_path(@course, @training, @submission),
                class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Start',
                new_course_training_training_submission_path(@course, @training),
                class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
  <% if curr_user_course.is_lecturer? %>
    <div class="pull-right">
      <%= link_to edit_course_training_path(@course, @training), class: "btn" do %>
        <i class="icon-edit"></i>
      <% end %>
      <%= link_to course_training_path(@course, @training), class: "btn btn-danger", method: "DELETE" do %>
        <i class="icon-trash"></i>
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<p><%= @training.description.html_safe %></p>

<table>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @training.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:max_grade) %>:</strong></td>
    <td><%= @training.max_grade %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= @training.open_at %></td>
  </tr>
</table>
<hr/>
<% if curr_user_course.is_lecturer? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_course_training_mcq_path(@course, @training),
              :class => 'btn btn-primary' %>

  <h2>MCQ Questions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @mcqs.each do |q| %>
        <tr>
          <td>
            <%= render partial: "mcqs/one", locals: { q: q } %>
          </td>
          <td>
            <%= link_to edit_course_training_mcq_path(@course, @training, q), class: 'btn' do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to course_training_mcq_path(@course, @training, q),
                        method: :delete,
                        data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        class: 'btn btn-danger' do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
<% end %>
