<div class="page-header">
  <h1><%= @course.customized_title(@summary[:type]).singularize %> Grading: <%= @assessment.title %></h1>
</div>

<% @summary[:stats].each do |key, stds| %>
    <% if stds.size > 0 or key != 'My Students'%>
        <h3><%= key %></h3>
        <br>
        <% if @assessment.is_mission? && (@assessment.questions.coding.any? || @assessment.specific.file_submission_only?)  %>
            <%= link_to "Download Submissions",
                        "#{course_assessment_mission_dump_code_path(@course, @assessment.specific, format: 'zip')}?_type=#{key.split(" ").first}",
                        class: "btn"
            %>
        <% end %>
        <table class="table">
          <thead>
          <th>Student</th>
          <% if key != 'My Students' %>
              <th>Tutor</th>
          <% end %>
          <th>Status</th>
          <th>Grade</th>
          <th>EXP</th>
          </thead>
          <tbody>
          <% stds.each do |std| %>
              <% sub = @submissions.select {|s| s.std_course_id == std.id }.first %>
              <% grade = nil %>
              <% exp = nil %>
              <tr>
                <% if sub %>
                    <% grade = sub.gradings.first %>
                        <% if grade %>
                            <% exp = grade.exp_transaction %>
                        <% end %>
                    <td><a href="<%= course_assessment_submission_path(@course, @assessment, sub) %>"><%= std.name %></a> </td>
                <% else %>
                    <td><%= std.name %></td>
                <% end %>
                <% if key != 'My Students' %>
                    <td><%= std.get_my_tutor_name %></td>
                <% end %>
                <td><%= (sub and sub.status) ? sub.status.capitalize : '<span class="not-started">Not Started</span>'.html_safe %></td>
                <td><%= grade ? grade.grade : 0 %> / <%= @assessment.max_grade %></td>
                <td><%= exp ? exp.exp : 0 %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% if key == "All Students" and @stats_paging.display? %>
            <%= paginate stds %>
        <% end %>
    <% end %>
<% end %>