<div class="page-header">
  <h1>Leaderboards</h1>
</div>

<div class="span5 leaderboard">
  <table class="table table-bordered">
    <caption class="leaderboard-caption">By Experience Point</caption>
    <% @top_10_exp.each_with_index do |std_course, index| %>
      <tr class="<%= "leaderboard-top-row" if index == 0 %>">
        <td class="user-profile-pic-col">
          <a href="<%= course_user_course_path(@course, std_course) %>">
            <img class="user-profile-pic" src="<%= std_course.user.profile_photo_url %>">
          </a>
        </td>
        <td>
          <a href="<%= course_user_course_path(@course, std_course) %>"
            class="leaderboard-name"><%= std_course.user.name %>
          </a>
          <br/>
          <span class="leaderboard-level"><%= std_course.level.get_title if std_course.level %></span><br/>
          <strong class="leaderboard-exp"><%= std_course.exp %></strong> pts
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="span5 pull-right">
  <table class="table table-bordered">
    <caption class="leaderboard-caption">By Achievement</caption>
    <% @top_10_ach.each_with_index do |std_course, index| %>
      <tr class="<%= "leaderboard-top-row" if index == 0 %>">
        <td class="user-profile-pic-col">
          <a href="<%= course_user_course_path(@course, std_course) %>">
            <img class="user-profile-pic" src="<%= std_course.user.profile_photo_url %>">
          </a>
        </td>
        <td>
          <a href="<%= course_user_course_path(@course, std_course) %>"
            class="leaderboard-name"><%= std_course.user.name %>
          </a><br/>
          <% std_course.user_achievements.each do |uach| %>
            <a href='#' title="<%= uach.achievement.title %>">
              <img class="asm-ach-icon" src="<%= uach.achievement.icon_url %>" >
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
