<%- model_class = Assessment::Mission -%>
<div class="page-header">
  <h1><%= @mission.title %></h1>
</div>

<p><%= @mission.description.html_safe %></p>

<table class="table table-bordered" style="width: 250px">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @mission.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= datetime_format(@mission.open_at) %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></td>
    <td><%= datetime_format(@mission.close_at) %></td>
  </tr>
  <!--tr>
    <td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>
    <td><%# @mission.deadline %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>
    <td><%# @mission.timelimit %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>
    <td><%# @mission.attempt_limit %></td>
  </tr-->
</table>

<%= render partial: 'file_uploads/download_files',
           locals: { owner: @mission } %>
<% if @mission.required_for.count > 0 %>
  <h3>Finish to unlock:</h3>
  <ul>
    <% @mission.required_for.each do |mission| %>
      <h4><li><%= mission.title %></li></h4>
    <% end %>
  </ul>
<% end %>
<hr />

<%= render partial: 'form' %>
