
<%- model_class = Assessment::Submission -%>
<div class="page-header">
  <h1><%=t '.title', :default => submission_display_name %></h1>
</div>


<ul class="nav nav-tabs">
  <li class="<%= "active" if @tab == Mission %>">
    <a href="<%= course_submissions_path(@course) %>"><%= "#{@course.customized_title_by_model(Mission).singularize} #{submission_display_name }" %></a>
  </li>
  <li class="<%= "active" if @tab == Training %>">
    <a href="<%= course_assessment_training_submissions_path(@course) %>"><%= "#{@course.customized_title_by_model(Training).singularize} #{submission_display_name }" %></a>
  </li>
</ul>

<% if can? :see_all, Assessment::Submission %>
    <form class="form-horizontal" action="<%= nil %>" method="GET">
      <h3>Show only Submissions:</h3>
      <div class="control-group">
        <label class="control-label">Assignments</label>
        <div class="controls">
          <select name="asm_id">
            <option value="0">Any</option>
            <% @all_asm.each do |asm| %>
                <option value="<%= asm.id %>"
                        <%= "selected" if @selected[:asm] && asm == @selected[:asm] %>>
                  <%= asm.title %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Tutors</label>
        <div class="controls">
          <% tas = @staff_courses.map {|tac| [tac.name, tac.id] }.unshift(["Any", 0]) %>
          <% tutor_id = @selected[:tutor] ? @selected[:tutor].id : 0 %>
          <%= select "tutor","", tas, {:selected => "#{tutor_id}" } %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Students</label>
        <div class="controls">
          <select name="student">
            <option value="0">Any</option>
            <% @student_courses.each do |sc| %>
                <option name="student" value="<%= sc.id %>"
                        <%= "selected" if @selected[:student] && sc.id == @selected[:student].id %>>
                  <%= sc.name %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-primary"/>
        </div>
      </div>
    </form>
<% end %>

<table class="table">
  <thead>
  <tr>
    <% if can? :see_all, Assessment::Submission %>
        <th width="20%">Student</th>
    <% end %>
    <th><%= assign_display_name %></th>
    <th>Submitted at </th>

    <th width="15%">
      <% if can? :manage, Assessment::Grading %>
          Grading
      <% else %>
          Status
      <% end %>
    </th>
    <th>
      Grade
    </th>
    <th width="10%">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @sbms.each do |sub| %>
      <tr>
        <% if can? :see_all, Assessment::Submission %>
            <td>
              <%= render partial: 'layouts/user_name_link', locals: {user_course: sub.std_course} %>
            </td>
        <% end %>
        <td><%= link_to sub.assessment.title, url_for([@course, sub.assessment.specific]) %></td>
        <td><%= datetime_format(sub.submitted_at || sub.created_at) %> </td>
        <!--TODO: refactoring-->
        <% if can? :manage, Assessment::Grading %>
          <td>
            <% if sub.graded? %>
              <%= sub.graders.empty? ? 'Auto graded' : sub.graders.join(', ') %>
            <% else %>
              Not graded
            <% end %>
          </td>
          <td>
             <% grade = sub.grade %>
            <% if grade %>
                <%= grade %> / <%= sub.assessment.max_grade %>
            <% end %>
          </td>
          <% if sub.gradings.empty? == 0 %>
            <td>
              <%= link_to 'Evaluate',
                          course_assessment_mission_assessment_submission_assessment_gradings_path(@course, sub.assessment.specific, sub),
                          class: 'btn btn-primary' %>
            </td>
          <% else %>
            <td>
              <%= link_to 'View',
                          course_assessment_mission_assessment_submission_assessment_gradings_path(@course, sub.assessment.specific, sub),
                          class: 'btn'%>
            </td>
          <% end %>
        <% else %>
            <td>
              <%= sub.status %>
            </td>
            <td>
              <% grade = sub.submission_gradings.last %>
              <% if grade %>
                  <%= grade.grade %> / <%= sub.get_asm.max_grade %>
              <% end %>
            </td>
            <td>
              <%= link_to "Review", sub.get_path,
                          class: sub.graded? ? "btn btn-primary" : "btn" %>
            </td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>

<% if @sbms_paging.display? %>
    <%= paginate @sbms %>
<% end %>
