<meta name="viewport" content="width=device-width">

<body id="inner_body" class="inner_body">
<div id="content" class="welcome_content">
  <% if flash[:notice] %>
      <div class="alert alert-info" style="position: absolute; z-index: 200">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <div class="container-fluid">
    <div id="_slogen" class="_slogen">
      <p style="text-align: center;"><span style="font-family: arial,helvetica,sans-serif;font-size: 14px;color: #707070;">
      Gamified Online Education Platform:
    </span></p>
      <p style="text-align: center;"><span style="font-family: arial,helvetica,sans-serif;font-size: 14px;color: #707070;"><span>
      Making your class a world of games in a universe of fun.
    </span></span></p>
    </div>
    <div class="_gray_background">

    </div><div id="_center_image">
    <img src="/images/teaching-wordle_316.png">
  </div>

    <div id="_sign_up">
      <div id="landerapp_conversionform">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= f.label :name, class: "firstLabel labelInput" %>
            <%= f.text_field :name%>

            <!--
    <div class="control-group">
      <%= f.label :display_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :display_name %>
      </div>
    </div>
    -->

            <%= f.label :email, class: "labelInput" %>
            <%= f.email_field :email %>

            <%= f.label :password, class: "control-label" %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, class: "control-label" %>
            <%= f.password_field :password_confirmation %>

            <div style="text-align: right">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>

    <div id="_first_divider"></div>
    <div id="_second_divider"></div>
    <div id="_engaging_title">
      <p><span style="color: #333333;font-size: 18px;"><strong><span style="font-family: arial,helvetica,sans-serif;">Engaging<br></span></strong></span></p>
    </div>
    <div id="_first_tick">
      <img src="/images/tick.png" height="31" width="31" alt="">
    </div>
    <div id="_second_tick">
      <img src="/images/tick.png" height="31" width="31" alt="">
    </div>
    <div id="_second_title">
      <p><span style="color: #333333;font-size: 18px;"><strong><span style="font-family: arial,helvetica,sans-serif;">General<br></span></strong></span></p>
    </div>

    <div id="_third_title">
      <p><span style="color: #333333;font-size: 18px;"><strong><span style="font-family: arial,helvetica,sans-serif;">Simple</span></strong></span></p>
    </div>

    <div id="_third_tick">
      <img src="/images/tick.png" height="31" width="31" alt="">
    </div>

    <div id="_bottom_line"></div>

    <div id="_first_text_box" class="_first_text_box">
      <p><span style="color: #707070;">
    Coursemology allows educators to add gamification elements, such as experience points, levels, achievements, to their classroom exercises and assignments.
  </span></p>
      <p><span style="color: #707070;"> </span></p>
      <p><span style="color: #707070;">
    The gamification elements of Coursemology motivate students to do assignments and trainings.
  </span></p>
      <p><br><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;"><br></span></p>
    </div>

    <div id="_second_text_box" class="_second_text_box">
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;">
    It's built for all subjects. The gamification system of Coursemology doesn't make assumption on the course's subject.
  </span></p>
      <p> </p>
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;">
    Through Coursemology, any teacher who teaches any subject can turn his course excercies into a online game.
  </span></p>
    </div>

    <div id="_third_text_box" class="_third_text_box">
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;">
    It's built for all teachers. You don't need to have any programming knowledge to master the platform.
  </span></p>
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;"></span></p>
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;">
    Coursemology is easy and intuitive to use for both teachers and students.
  </span></p>
      <p><span style="font-family: arial,helvetica,sans-serif;color: #707070;font-size: small;"> </span></p>
    </div>

    <div id="_logo">
      <img src="\images\coursemology_logo_landscape_100.png"  alt="">
    </div>

  </div>
</div>
</body>

