<%= form_for [@course, @announcement], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publish_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :publish_at,
          :value => date_mdY(@announcement.publish_at),
          :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :important, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :important %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_announcements_path, :class => 'btn' %>
  </div>
<% end %>
