<%- model_class = Announcement -%>
<div class="page-header">
  <h1><%=t '.title', :default => @course.customized_title(Announcement.to_s).pluralize %></h1>
  <% if can? :manage, Announcement %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_course_announcement_path(@course),
                  :class => 'btn btn-primary' %>

  <% end %>
</div>

<% @announcements.each do |announcement| %>
    <div class="announcement <%= 'future' if announcement.publish_at > DateTime.now %>">
      <h2>
        <% if @is_new.has_key?(announcement.id) %>
            <input type="hidden" class="new_<%= model_class.model_name.human.pluralize %>">
            <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/48x48/promotion_new.png">
        <% end %>
        <%= announcement.title %>
        <% if can? :manage, Announcement %>
            <div class="pull-right">
              <%= link_to edit_course_announcement_path(@course, announcement), class: "btn" do %>
                  <i class="icon-edit"></i>
              <% end %>
              <%= link_to course_announcement_path(@course, announcement),
                          class: "btn btn-danger",
                          method: "DELETE",
                          data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))} do %>
                  <i class="icon-trash"></i>
              <% end %>
            </div>
        <% end %>
      </h2>
      <%= render partial: "announcement", locals: {announcement: announcement} %>
    </div>
    <hr/>
<% end %>

<% if @paging_pref.display? %>
    <%= paginate @announcements %>
<% end %>
