<%- model_class = Announcement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <% if current_uc && current_uc.is_lecturer? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_course_announcement_path(@course),
                :class => 'btn btn-primary' %>

  <% end %>
</div>

<% @announcements.each do |announcement| %>
  <div class="announcement <%= 'future' if announcement.publish_at > DateTime.now %> <%= 'new' if @is_new.has_key?(announcement.id) %>">
    <h3><%= announcement.title %></h3>
    <p><%= announcement.description.html_safe %></p>
    <i><%= announcement.publish_at.to_formatted_s(:long) %></i>
  </div>
  <hr/>
<% end %>
