<%- model_class = Announcement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @announcement.course_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:creator_id) %>:</strong></dt>
  <dd><%= @announcement.creator_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:publish_at) %>:</strong></dt>
  <dd><%= @announcement.publish_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:important) %>:</strong></dt>
  <dd><%= @announcement.important %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_announcements_path(@course), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_announcement_path(@course, @announcement), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_announcement_path(@course, @announcement),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
