<% if entry.is_virtual %>
  <% entry_type = entry.entry_real_type %>
<% else %>
  <% entry_type = LessonPlanEntry::ENTRY_TYPES[entry.entry_type][0] %>
<% end %>

<tr class="<% if entry.is_virtual %>lesson-plan-virtual-entry<% else %>lesson-plan-entry<% end %>">
  <td>
    <h1>
      <small>
        <%= entry_type %>
      </small>
    </h1>
  </td>
  <td>
    <% if entry.is_virtual %>
      <%= link_to entry.url do %>
        <h3 class="link">
          <% if not entry.is_published %>
             <span class="label label-info">Unpublished</span>
          <% end %>
          <%= entry.title %>
        </h3>
      <% end %>
    <% else %>
    <a class="lesson-plan-anchor" name="entry-<%= entry.id %>"></a>
    <h2>
      <%= entry.title %>
    </h2>
    <% end %>
    <h3><%= entry.location %></h3>
    <h4>
      <% if entry.start_at %>
        <span class="icon-calendar"></span>
        <%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>
        <% if entry.end_at %> to 
          <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
            <%= entry.end_at.strftime("%I:%M %p") %>
          <% else %>
            <%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>
          <% end %>
        <% end %>
      <% end %>
    </h4>
    <div class="show-bullet-points lesson-plan-entry-description">
      <% if entry.is_virtual %>
        <%= truncate_html entry.description, :length => 140 %>
      <% else %>
        <%= entry.description.html_safe %>
      <% end %>
    </div>
    
<% if entry.resources.length > 0 %>
    <h4>Instructional Resources</h4>
    <ul>
    <% entry.resources.each { |r| %>
      <li><%= link_to r.obj.title, url_for([@course, r.obj]) %></li>
    <% } %>
    </ul>
<% end %>
  </td>
  <td width="10%">
  <% if can? :manage, LessonPlanEntry and not entry.is_virtual %>
      <%= link_to edit_course_lesson_plan_entry_path(@course, entry), class: 'btn' do %>
        <i class="icon-edit"></i>
      <% end %>
      <%= link_to course_lesson_plan_entry_path(@course, entry),
                  method: :delete,
                  data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  class: 'btn btn-danger' do %>
          <i class="icon-trash"></i>
      <% end %>
  <% end %>
    </td>
</tr>
