<tr>
  <td>
    <h2><%= LessonPlanEntry::ENTRY_TYPES[entry.entry_type][0] %></h2>
  </td>
  <td>
    <h2><%= entry.title %></h2>
    <h3><%= entry.location %></h3>
    <h4><span class="icon-calendar"></span> <%= entry.start_at.strftime("%A, %d %B %Y %I:%M %p") %> to 
      <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
      <%= entry.end_at.strftime("%I:%M %p") %>
      <% else %>
      <%= entry.end_at.strftime("%A, %d %B %Y %I:%M %p") %>
      <% end %>
    </h4>
    <%= entry.description %>
  </td>
<% if can? :manage, LessonPlanEntry %>
  <td>
    <%= link_to edit_course_lesson_plan_entry_path(@course, entry), class: 'btn' do %>
      <i class="icon-edit"></i>
    <% end %>
  </td>
  <td>
    <%= link_to course_lesson_plan_entry_path(@course, entry),
                method: :delete,
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                class: 'btn btn-danger' do %>
        <i class="icon-trash"></i>
    <% end %>
  </td>
<% end %>
</tr>
