<tr>
  <th><%= entry.start_at %> - <%= entry.end_at %></th>
  <td>
    <h2><%= entry.title %> <small><%= LessonPlanEntry::ENTRY_TYPES[entry.entry_type][0] %></small></h2>
    <h3><%= entry.location %></h3>
    <%= entry.description %>
  </td>
</tr>
