<hr class="hr-shrink-margin">

<div class="row">
  <div class="span2">
    <h4>Type</h4>
    
    <select name="lesson_plan_entry[<%= entry.id %>][entry_type]" class="span2">
      <% LessonPlanEntry::ENTRY_TYPES.each { |type| %>
        <option value="<%= type[1] %>"><%= type[0] %></option>
      <% } %>
    </select>
  </div>
  
  <div class="span7">
    <h4>Title</h4>
    
    <input name="lesson_plan_entry[<%= entry.id %>][title]" type="text" value="<%= entry.title %>" class="span5" required="true">
  </div>
</div>

<div class="row">
  <div class="span3 datetimepicker input-append">
    <h4>Start</h4>
    
    <input name="lesson_plan_entry[<%= entry.id %>[start_at]" type="datetime" value="<%= entry.start_at.strftime('%d-%m-%Y %H:%M') %>" class="span2" required="true">
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
  </div>
  
  <div class="span3 datetimepicker input-append">
    <h4>End</h4>
    
    <input name="lesson_plan_entry[<%= entry.id %>[end_at]" type="datetime" value="<%= entry.end_at.strftime('%d-%m-%Y %H:%M') %>" class="span2" required="true">
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
  </div>
</div>

<div class="row">
  <div class="span7">
    <h4>Description</h4>
    
    <textarea class="span7 html-editor">
      <%= entry.description %>
    </textarea>
  </div>
</div>
