<%= form_for [@course, @asm, @mcq], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9 html-editor', :rows => 10 %>
    </div>
  </div>
  <!--
  <div class="control-group">
    <%= f.label :max_grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_grade, :class => 'number_field' %>
    </div>
  </div>
  -->
  <div class="control-group">
    <%= f.label "Answers", :class => 'control-label' %>
    <div class="controls" id="mcq-answers">
      <table class="span9 table form-mcq-answer">
        <thead>
          <tr>
            <th style="width: 8%"></th>
          </tr>
        </thead>
        <tbody>
          <% @mcq.mcq_answers.each do |answer| %>
            <tr>
              <input type="hidden" name="answers[][id]" value="<%= answer.id %>" />
              <td><input type="checkbox" name="answers[][is_correct]" value="true"
                <%= 'checked' if answer.is_correct %> />
              </td>
              <td>
                <textarea name="answers[][text]" placeholder="Answer..." /><%= answer.text %></textarea>
                <textarea name="answers[][explanation]" placeholder="Explanation..." /><%= answer.explanation %></textarea>
              </td>
            </tr>
          <% end %>
          <% if @mcq.mcq_answers.size < 4 %>
            <% (4 - @mcq.mcq_answers.size).times.each do %>
              <tr>
                <td><input type="checkbox" /></td>
                <td>
                  <textarea name="answers[]" placeholder="Answer..." /></textarea>
                  <textarea name="answers[][explanation]" placeholder="Explanation..." /></textarea>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr><td></td><td><a href='#' class="add-mcq-answer">Add more choices</a></td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nil, :class => 'btn' %>
  </div>

  <%= render :partial => "layouts/html_editor" %>
<% end %>
