<%= form_for [@course, @asm, @mcq], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_grade, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Answers", :class => 'control-label' %>
    <div class="controls" id="mcq-answers">
      <table>
        <% @mcq.mcq_answers.each do |answer| %>
          <tr class="answer-row">
            <input type="hidden" name="answers[][id]" value="<%= answer.id %>" />
            <input type="hidden" name="answers[][text]" value="<%= answer.text %>">
            <td><input type="checkbox" name="answers[][is_correct]" value="true"
              <%= 'checked' if answer.is_correct %> />
            </td>
            <td class="ans-text"><%= answer.text %></td>
            <td>
              <button type="button" class="btn btn-edit"><i class="icon-edit"></i></button>
              <button type="button" class="btn btn-remove"><i class="icon-minus"></i></button>
            </td>
          </tr>
        <% end %>
        <tr class="answer-new answer-row">
          <td><input type="checkbox" /></td>
          <td><input type="text" placeholder="Add new..." /></td>
          <td><button type="button" class="btn btn-primary btn-add"><i class="icon-plus"></i></button></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nil, :class => 'btn' %>
  </div>
<% end %>
