<%= form_for [@course, @asm, @mcq], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9 html-editor', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_grade, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Answers", :class => 'control-label' %>
    <div class="controls" id="mcq-answers">
      <table class="span9 table form-mcq-answer">
        <thead>
          <tr>
            <th style="width: 8%"></th>
          </tr>
        </thead>
        <tbody>
          <% @mcq.mcq_answers.each do |answer| %>
            <%= render partial: "mcq_answers/form_row", locals: { answer: answer } %>
          <% end %>
          <tr class="answer-new answer-row">
            <td><input type="checkbox" /></td>
            <td><input type="text" class="ans-text" placeholder="Answer..." /></td>
            <td><input type="text" class="ans-expl" placeholder="Explanation..." /></td>
            <td>
              <%= link_to course_mcq_answers_path(@course), class: "btn btn-mini add-mcq-answer" do %>
                <i class="icon-plus"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nil, :class => 'btn' %>
  </div>

  <%= render :partial => "layouts/html_editor" %>
<% end %>
