<a class='post-anchor' name='post-<%= post.id %>'></a>
<div class="row" style="padding:5px;">
  <div id='post_<%= post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%> span12'>
    <div class='user span1' style="text-align:right;">
      <h5 class='username'>
        <% if user_course = post.user.get_user_course(@course)  %>
            <a href="<%= main_app.course_user_course_path(@course, user_course) %>"><%= post.user %></a>
        <% else %>
            <%= post.user %>
        <% end %>
      </h5>
      <div class='icon' style="float:right;">
        <img class="user-profile-pic" src="<%= post.user.get_profile_photo_url %>"/>
      </div>
    </div>

    <div class='contents span7 thumbnail' style="padding:20px;">
      <%=raw forem_format(post.text) %>

      <% if post.reply_to %>
          <div class='in-reply-to'>
            <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
          </div>
      <% end %>

      <div>
        <a href='#post-<%= post.id %>'>
          <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
        </a>
      </div>
    </div>
  </div>
</div>