<tr class="forum">
  <td style="vertical-align: middle">
    <span class="post-status-icons">
      <% if forum.has_unanswered_question? %>
          <a href="<%= course_forum_topic_url(@course, forum, forum.topics.unanswered.first) %>" rel="tooltip" title="Unanswered Question">
            <i class="icon-question-sign" style="color:#da4e49"></i>
          </a>
          <% end %>

      <% if forum.topics.unread(curr_user_course).count > 0 %>
          <a href="<%= course_forum_topic_url(@course, forum, forum.topics.unread(curr_user_course).first) %>" rel="tooltip" title="Next Unread">
            <span class="unread-count">
            <%= ForumTopic.unread(curr_user_course).
                        where(forum_id: forum).count %>
          </span>
          </a>
      <% end %>
    </span>
  </td>
  <td>
    <%= link_to forum.name, course_forum_path(@course, forum), class: 'title' %>
    <div class="description"><%= forum.description.html_safe %></div>
    Last post:
    <span class="last_post">
    <% last_post = forum.last_post %>
      <% if last_post %>
      <%= link_to last_post.topic.title, course_forum_topic_path(@course, forum, last_post.topic) -%> by <%= last_post.author ? last_post.author.name : '(unknown)' %>
          <time datetime="<%= last_post.created_at.to_s(:db) -%>"><%= time_ago_in_words(last_post.created_at) %> ago</time>
    <% else %>
      none
    <% end %>
  </span>
  </td>
  <td class="topics-count text-center"><%= forum.topics.count %></td>
  <td class="posts-count text-center"><%= forum.posts.count %></td>
  <td class="views-count text-center"><%= forum.views_count %></td>
  <td style="vertical-align: middle">
        <a href="#" rel="tooltip" title="Click to Unsubscribe" class="subscription unsubscribe <%= 'hidden' unless forum.subscribed? curr_user_course %>" url="<%= unsubscribe_course_forum_path(@course, forum) %>"><i class="icon-ok subscribe-icon"></i>Subscribed</a>
        <a href="#" rel="tooltip" title="Click to Subscribe" class="subscription subscribe <%= 'hidden' if forum.subscribed? curr_user_course %>" url="<%= subscribe_course_forum_path(@course, forum) %>">Subscribe</a>
  </td>
</tr>
