<tr class="forum">
  <td style="vertical-align: middle; text-align: center">
    <span class="post-status-icons">
      <% if not forum.unread_topics(curr_user_course).empty? %>
          <a href="<%= next_unread_course_forums_path(@course) %>" rel="tooltip" title="Next Unread" style="font-size: 1.4em"><i class="icon-envelope"></i></a>

      <% end %>
    </span>
  </td>
  <td>
    <%= link_to forum.name, course_forum_path(@course, forum), class: 'title' %>
    <div class="description"><%= forum.description.html_safe %></div>
    Last post:
    <span class="last_post">
    <% last_post = forum.last_post %>
    <% if last_post %>
      <%= link_to last_post.topic.title, course_forum_topic_path(@course, forum, last_post.topic) -%> by <%= last_post.author ? last_post.author.user : '(unknown)' %>
      <time datetime="<%= last_post.created_at.to_s(:db) -%>"><%= time_ago_in_words(last_post.created_at) %> ago</time>
    <% else %>
      none
    <% end %>
  </span>
  </td>
  <td class="topics-count"><%= forum.topics.count %></td>
  <td class="posts-count"><%= forum.posts.count %></td>
</tr>
