<div id='forum'>
  <div id='forum_topic_links' class='btn-group pull-right'>
    <% unread = Forem::Post.joins(topic: :forum).unread_by(current_user).where('forem_forums.id' => @forum.id) %>
    <% if unread.count > 0 %>
        <%= link_to 'Next unread topic', main_app.course_forum_next_unread_path(@course, forum), :class => "btn" %>
        <%= link_to 'Mark all as read', main_app.course_forum_mark_read_path(@course, forum), :class => "btn" %>
    <% end %>
    <% if can?(:create, ForumTopic) %>
      <%= link_to 'New Topic', new_course_forum_topic_path(@course, @forum), :class => 'btn btn-primary' %>
    <% end %>
    <% if can?(:edit, @forum) %>
      <%= link_to 'Edit Forum', edit_course_forum_path(@course, @forum), :class => 'btn' %>
    <% end %>
    <% if @topic %>
      <%= link_to t('forem.topic.links.back_to_topics'), course_forum_path(@course, @forum), :class => "btn" %>
    <% end %>
  </div>
  <div class="page-header">
    <h1>Forums</h1>
    <ul class="breadcrumb">
      <li>
        <%= link_to course_forums_path(@course) do %>
          <%= content_tag :i, '', :class => 'icon-home' %>
        <% end %>
        <span class="divider">/</span>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <%= @forum.name %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% category = Forem::Category.find(@course.id) %>
          <% category.forums.each do |f| %>
            <li><%= link_to f.title, main_app.course_forum_path(@course, f) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
