<div class="forum">
  <div id="forum_topic_links" class="pull-right btn-toolbar">
    <div class="btn-group">
      <% unread = ForumTopic.unread(curr_user_course).where(forum_id: @course.forums) %>
      <% if unread.count > 0 %>
          <%= link_to 'Mark all as read', mark_read_course_forums_path(@course), class: 'btn' %>
          <%= link_to 'Next unread', next_unread_course_forums_path(@course), class: 'btn', title: 'Jump to next unread topic' %>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Next unanswered question', next_unanswered_course_forums_path(@course) %></li>
        </ul>
      <% end %>
    </div>
    <div class="btn-group">
      <% if can? :create, ForumForum %>
        <%= link_to 'New Forum', new_course_forum_path(@course), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="page-header">
    <h1>Forums</h1>

    <ul class="breadcrumb">
      <li>
        <%= link_to course_forums_path(@course), data: { toggle: 'dropdown' } do %><i class="icon-home"></i><% end %>
      </li>
    </ul>
  </div>

  <table id="forums" class="forums table table-striped">
    <thead>
    <tr>
      <th class="icon span1">&nbsp;</th>
      <th class="desc-and-last-post span9">Forum</th>
      <th class="topics-count span1">Topics</th>
      <th class="posts-count span1">Posts</th>
      <th class="views-count span1">Views</th>
      <th>Subscription</th>
    </tr>
    </thead>
    <tbody>

    <% @forums.each do |forum| %>
      <%= render partial: 'forum', locals: {forum: forum} %>
    <% end %>

    </tbody>
  </table>
</div>
