<div>
  <div id='forum_topic_links' class='pull-right btn-toolbar'>
    <%# TODO: reimplement. %>
    <div class='btn-group dropdown-trigger-on-hover'>
      <% subscription = Forem::CategorySubscription.where('subscriber_id = ? AND category_id = ?', current_user.id, @course.id) %>
      <% if subscription.first %>
        <% if subscription.first.is_digest? %> <!-- subscribed to digest -->
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
            Subscribed
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New email on each post", main_app.course_forums_subscribe_path(@course) %></li>
            <li><%= link_to "Daily summary ✔", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Unsubscribe", main_app.course_forums_unsubscribe_path(@course) %></li>
          </ul>
        <% else %> <!-- subscribed to new post -->
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
            Subscribed
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New email on each post ✔", '#' %></li>
            <li><%= link_to "Daily summary", main_app.course_forums_subscribe_path(@course, digest: true) %></li>
            <li class="divider"></li>
            <li><%= link_to "Unsubscribe", main_app.course_forums_unsubscribe_path(@course) %></li>
          </ul>
        <% end %>

      <% else %> <!-- Not subscribed -->
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Subscribe
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Subscribe to new posts", main_app.course_forums_subscribe_path(@course) %></li>
          <li><%= link_to "Subscribe to daily summary", main_app.course_forums_subscribe_path(@course, digest: true) %></li>
        </ul>
      <% end %>
    </div>

    <div class='btn-group'>
      <% unread = Forem::Post.joins(topic: {forum: :category}).unread_by(current_user).where('forem_categories.id' => @course.id) %>
      <% if unread.count > 0 %>
        <!--<%= link_to "Mark all as read", main_app.course_forums_mark_read_path(@course), :class => "btn" %>-->
      <% end %>
      <% if curr_user_course.is_staff? %>
        <%= link_to "Manage Forum Sections", main_app.course_forums_admin_path(@course), :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="page-header">
    <h1><%=t '.title', :default => "Forums" %></h1>
  </div>

  <table id='forums' class='forums table table-striped' cellspacing='0'>
    <thead>
    <tr>
      <th class="desc-and-last-post span9">Forum</th>
      <th class="topics-count span1">Topics</th>
      <th class="posts-count span1">Posts</th>
    </tr>
    </thead>
    <tbody>

    <% @forums.each do |forum| %>
      <%= render partial: 'forum', locals: {forum: forum} %>
    <% end %>

    </tbody>
  </table>
</div>
