<div class="forum">
  <div id="forum_topic_links" class="btn-toolbar pull-right">
    <div class="btn-group">
      <% unread = @forum.unread_topics(curr_user_course) %>
      <% if unread.count > 0 %>
        <%= link_to 'Next unread topic', next_unread_course_forums_path(@course, @forum), :class => 'btn' %>
        <%= link_to 'Mark all as read', mark_read_course_forum_path(@course, @forum), :class => 'btn' %>
      <% end %>
      <% if can?(:create, ForumTopic) %>
        <%= link_to 'New Topic', new_course_forum_topic_path(@course, @forum), :class => 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="btn-group">
      <% if can?(:edit, @forum) %>
        <%= link_to 'Edit Forum', edit_course_forum_path(@course, @forum), :class => 'btn' %>
      <% end %>
      <% if can?(:destroy, @forum) %>
        <%= link_to 'Delete Forum', course_forum_path(@course, @forum), :method => :delete, data: { :confirm => 'Are you sure you want to delete this forum? This action is irreversible!' }, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'header', :locals => { } %>

  <table class='topics table-striped table' cellspacing='0'>
    <thead>
    <tr>
      <th class="icon span1"></th>
      <th class="byline">&nbsp;</th>
      <th class="posts-count span1">Posts</th>
      <th class="views-count span1">Views</th>
      <th class="latest-post span3">Latest</th>
    </tr>
    </thead>
    <tbody>
    <% if @topics.empty? %>
      <tr><td colspan='5' align='center'>There are currently no topics in this forum</td></tr>
    <% else %>
      <% @topics.each do |t| %>
        <%= render partial: 'forums/topics/topic', locals: { topic: t } %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
