<div class="page-header">
  <h1>My Students</h1>
</div>


<ul class="nav nav-tabs">
  <li>
    <a href='<%= course_student_summary_path(@course) %>'>Student Summary</a>
  </li>
  <li class="active">
    <a href='<%= course_manage_group_path(@course) %>'>My Students</a>
  </li>
</ul>


<%= render "add_student" %>

<%= form_for(@course, url: course_manage_update_exp_path,
             html: { method: :post, class: "form-horizontal" } ) do |f| %>
    <table class="table table-hover table-middle-align" id="dg-std-table">
      <thead>
      <th>
        <%= sortable 'Name', course_manage_group_path %>
      </th>
      <th>
        <%= sortable 'Level', course_manage_group_path %>
      </th>
      <th>
        <%= sortable 'Exp', course_manage_group_path %>
      </th>
      <th>
        Email
      </th>
      <th>
        Add Exp
      </th>
      </thead>
      <tbody>
      <% @my_std_courses.each do |std_course| %>
          <tr>
            <td><%= link_to std_course.name,course_user_course_path(@course,std_course),id:std_course.id %></td>
            <td><%= std_course.level ? std_course.level.level : 0 %></td>
            <td><%= link_to std_course.exp, course_user_course_exp_transactions_path(@course, std_course) %></td>
            <td><%= std_course.user.email %></td>
            <td><input type="number" name="EXP[<%= std_course.id %>]" title="EXP amount" class="input-mini"> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= f.label :Reason, style:"display: inline-block;"%>
    <input type="text" class="text_field" name="reason">
    <%= f.submit "Update EXP", :class => 'btn btn-primary', "data-disable-with" => "Submitting..."%>
<% end %>
