<%= form_for [@course, @assignment], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :open_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :open_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :close_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :close_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :deadline, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timelimit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :timelimit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attempt_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :attempt_limit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :auto_graded, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :auto_graded %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :order, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :order, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_path(@course), :class => 'btn' %>
  </div>
<% end %>
