<%= form_for @assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :class_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :class_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :open_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :open_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :close_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :close_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :deadline, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timelimit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :timelimit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attempt_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :attempt_limit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :auto_graded, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :auto_graded, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :order, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :order, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :creator_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                assignments_path, :class => 'btn' %>
  </div>
<% end %>
