<%- model_class = Assignment -%>
<div class="page-header">
  <h1>Assignment <%= @assignment.order %>: <%= @assignment.title %></h1>
</div>

<p><%= @assignment.description %></p>

<table>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @assignment.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:max_grade) %>:</strong></td>
    <td><%= @assignment.max_grade %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= @assignment.open_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></td>
    <td><%= @assignment.close_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>
    <td><%= @assignment.deadline %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>
    <td><%= @assignment.timelimit %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>
    <td><%= @assignment.attempt_limit %></td>
  </tr>
</table>
<a href="<%= course_assignment_submissions_path(@course, @assignment) %>">View submissions</a>
<hr/>
<% if @assignment.auto_graded > 0 %>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_course_assignment_mcq_path(@course, @assignment),
              :class => 'btn btn-primary' %>

  <h2>MCQ Questions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @mcqs.each do |q| %>
        <tr>
          <td>
            <span><%= q.description %></span>
            <ul>
            <% q.answers.each do |ans| %>
              <li>
                <input type="checkbox" disabled <%= "checked" if ans.is_correct %> />
                <span><%= ans.text %></span>
              </li>
            <% end %>
            </ul>
          </td>
          <td>
            <%= link_to edit_course_assignment_mcq_path(@course, @assignment, q), :class => 'btn btn-mini' do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to course_assignment_mcq_path(@course, @assignment, q),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#new_wquestion_form">
    Add Question
  </button>
  <div id="new_wquestion_form" class="collapse out">
    <div class="well">
      <%= render "questions/form" %>
    </div>
  </div>
  <h2>Questions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.description %></td>
          <td>
            <%= link_to edit_course_assignment_question_path(@course, @assignment, q), :class => 'btn btn-mini' do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to course_assignment_question_path(@course, @assignment, q),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' do %>
              <i class="icon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br/>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_assignments_path(@course), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_assignment_path(@course, @assignment), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_assignment_path(@course, @assignment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
