<%- model_class = Assignment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @assignment.course_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exp) %>:</strong></dt>
  <dd><%= @assignment.exp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></dt>
  <dd><%= @assignment.open_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></dt>
  <dd><%= @assignment.close_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></dt>
  <dd><%= @assignment.deadline %></dd>
  <dt><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></dt>
  <dd><%= @assignment.timelimit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></dt>
  <dd><%= @assignment.attempt_limit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:auto_graded) %>:</strong></dt>
  <dd><%= @assignment.auto_graded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order) %>:</strong></dt>
  <dd><%= @assignment.order %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @assignment.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:creator_id) %>:</strong></dt>
  <dd><%= @assignment.creator_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_assignments_path(@course), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_assignment_path(@course, @assignment), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_assignment_path(@course, @assignment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
