<p>Hello, <%= @user.user %>!</p>
<p>Here are the new forum posts for <%= @day %> in <%= @course.title %>:</p>

<% @posts.each_with_index do |post, index| %>
  <h2><%= index + 1 %>.&nbsp; <%= link_to post.title, main_app.course_forum_topic_url(@course, post.topic.forum, post.topic, :anchor => 'post-' + post.id.to_s) %></h2>

  <p>Posted by <%= post.author ? post.author.user : '(unknown)' %> at <%= post.created_at %></p>
  <blockquote>
    <%= (truncate_html CoursemologyFormatter.sanitize(post.text), length: @length, omission: '... (truncated)').html_safe %>
  </blockquote>
  <hr />
<% end %>

<p>
  Best Regards,<br />
  The Coursemology Team
</p>
