<p>Hello, <%= @user.user %>!</p>
<p>A new topic has been created in the forum <%= @topic.forum.name %> in <%= @course.title %>.</p>

<div>
  <%= link_to @topic.title, course_forum_topic_url(@course, @topic.forum, @topic) %>
  by <%= @topic.author ? @topic.author.user : '(unknown)' %>
</div>

<blockquote>
  <%= CoursemologyFormatter.sanitize(@post.text).html_safe %>
</blockquote>

<p><%= link_to 'Click here', course_forum_topic_url(@course, @topic.forum, @topic) %> to view.</p>

<p>
  Best Regards,<br />
  The Coursemology Team
</p>
