Hello, <%= @lecturer.name %>!

<p><%= @user.name %>(<%= @user.email %>) requests to enroll as: <%= @role.title %> for your course: <%= @course.title %></p>

<p><a href="<%= @redirect_url %>"> Click here</a> to view the request.</p>

Best Regards,
<br/>

The Coursemology Team
