<div class="page-header">
  <h3>Users</h3>
</div>
<div class="alert alert-success hidden">Update role successful</div>
<%= form_tag admins_path, :method => 'get', class: "form-search" do %>
    <%= render :partial => 'search_form'%>
<% end %>

<% if @users %>
    <table class="table assignments table-middle-align">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Related Courses</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody class="table-hover">
      <% @users.each do |user| %>
          <tr>
            <td>
              <a href="<%= user_path(user) %>">
                <img src="<%= user.profile_photo_url %>" class="user-thumb-small"/>
              </a>
            </td>
            <td>
              <input type="hidden" class="user-id" value="<%= user.id %>">
              <input type="hidden" class="user-role-update-path" value="<%= users_update_path %>">
              <a href="<%= user_path(user) %>">
                <%= user.name %>
              </a>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td style="text-align: center">
              <%= user.user_courses.count %>
            </td>
            <td class="select-role">
              <%= select "select-role","", Role.all.map {|role| [role.title, role.id] }, {:selected => "#{user.system_role_id}" }%>
            </td>
            <td>
              <%= link_to '#', class: 'btn update-user-role' do %>
                  <i class="icon-ok"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
<% end %>
