<% submission = std_answer.submission %>
<% unless submission %>
    <% return %>
<% end %>

<% question = std_answer.question %>
<% asm_qn = question.question_assessments.first %>
<% pos = asm_qn ? asm_qn.position : 0 %>
<% mission = asm_qn ? asm_qn.assessment : nil %>
<% std_course = std_answer.std_course %>

<input type="hidden" id="submission_url_<%=ecid%>" value="<%= course_assessment_submission_url(@course, mission, submission) %>">
<div class="mission-box" href="<%= course_assessment_submission_url(@course, mission, submission) %>">
  <div class="title"><%= mission.title.html_safe %></div>
  <div class="student"><label>by:</label><span class="student-link">
    <a href="<%= course_user_course_path(@course, std_course) %>"><%= std_course.name %></a>
    </span>
  </div>
  <% unless mission.single_question? %>
      <div class="code"><label>Question <%= pos.to_i + 1 %>:</label><span style="color: #FCDF9A"><%= (CoursemologyFormatter.sanitize(question.description.split(" ").first(13).join(" ")+ "...")).html_safe  if question.description %></span></div>
  <% end %>
</div>
