<% pos = question.question_assessments.first.position %>
<% training = question.question_assessments.first.assessment.specific %>

<input type="hidden" id="submission_url_<%=ecid%>" value="<%= course_assessment_training_url(@course, training) %>">
<a class="mission-box" href="<%= course_assessment_training_url(@course, training) %>">
  <!--<img class="small-mission-pic" width="54" height="54" src="public/images/mission_icons/mission22_small.jpg">-->
  <div class="title"><%= training.title %></div>
  <div class="code"><label>Question <%= pos.to_i + 1 %>:</label><span style="color: #FCDF9A"> <%= question.description.html_safe.split(" ").first(13).join(" ") %>... </span></div>
</a>
