<div class="page-header">
  <h1><%= @course.customized_title(Comment.to_s) %></h1>
</div>
<% require 'digest/md5' %>

<% if can? :see, :pending_comments %>
    <ul class="nav nav-tabs">
      <li class="<%= "active" if @tab == "minepending" %>">
        <a href="<%=  course_comments_url(@course) %>?_tab=minepending">My Students Pending (<%= @mine_pending_comments.count %>)</a>
      </li>
      <li class="<%= "active" if @tab == "pending" %>">
        <a href="<%= course_comments_url(@course) %>?_tab=pending">Pending Comments (<%= @pending_comments.count %>)</a>
      </li>
      <li class="<%= "active" if @tab == "mine" %>">
        <a href="<%=  course_comments_url(@course) %>?_tab=mine">My Students</a>
      </li>
      <li class="<%= "active" if @tab == "all" %>">
        <a href="<%= course_comments_url(@course) %>?_tab=all">All Comments </a>
      </li>
    </ul>
<% end %>

<input type="hidden" id="comments_togging_path" value="<%= course_comments_toggle_path(@course) %>">
<% @topics.each do |comment_topic| %>
    <% unless comment_topic.topic %>
        <% next %>
    <% end %>
    <% if can? :see, :pending_comments %>
        <div class="mission-pending"><a cid="<%= comment_topic.id %>" href="#">
          <%= comment_topic.pending ? 'Unmark' : 'Mark' %> as pending</a>
        </div>
    <% end %>

    <% # currently the topic of the comment is only student answer for a question %>
    <% ecid =  Digest::MD5.hexdigest(comment_topic.topic.class.to_s << comment_topic.topic.id.to_s) %>
    <% if comment_topic.topic.class == Assessment::Answer %>
        <%= render partial: "commentable_std_answer", locals: { std_answer: comment_topic.topic, ecid: ecid } %>
    <% elsif comment_topic.topic.class == Assessment::Question %>
        <%= render partial: "commentable_training_question", locals: { question: comment_topic.topic, ecid: ecid } %>
    <% elsif comment_topic.topic.class == Assessment::Submission %>
        <%= render partial: "commentable_sbm", locals: { sbm: comment_topic.topic} %>
    <% end %>

    <% if comment_topic.topic.is_a?(Assessment::CodingAnswer) %>
        <% annotations = comment_topic.topic.annotations.sort_by {|anno| anno.line_start } %>
        <% start = -1 %>
        <% if annotations.count > 0 %>
            <% annotations.each_with_index do |anno, index| %>
                <% code_lines = anno.get_code_lines %>
                <% unless code_lines %>
                    <% next %>
                <% end %>
                <% if start != anno.line_start %>
                    <% if index > 0%>
                        </ul>
                        </div>
                    <% end %>

                    <% start = anno.line_start %>

                    <div class="cos_code code-annotation">
                      <div class="annotate-code-lines cm-s-molokai">
                        <div class="inner"><%= code_lines %></div>
                        <div class="line-numbers">
                          <% for i in anno.line_start..anno.line_end %>
                              <pre class="line-number"><%= i %></pre>
                          <% end %>
                        </div>
                      </div>
                      <ul class="code-comment-box">
                <% end %>

                <li class="annotation-summary comment" >
                  <div class="commentor" style="display: inline">
                      <span class="student-link">
                        <a href="<%= course_user_course_path(@course, curr_user_course)%>"><%= anno.user_course.name if anno.user_course%></a>
                      </span>
                  </div>
                  <div class="annotation-inner" ><%= style_format(anno.text, false) %></div>
                </li>
            <% end %>
            </ul>
            </div>
        <% end %>
    <% end %>

    <%= render partial: "comments/list",
               locals: { comments: comment_topic.comments_json(curr_user_course, true),
                         target: comment_topic.topic,
                         header: "",
                         ecid: ecid,
                         margin_left: "30px"} %>

<% end %>

<% if @comments_paging.display? %>
    <%= paginate @topics %>
<% end %>

<script>
    $('.mission-box').click(function(){
        document.location = $(this).attr('href');
    }).find('a').click(function(evt){
                evt.stopPropagation();
                return true;
            });
    $(function(){
        $('.annotate-code-lines .inner').each(function(){
            var accum = [], zam = [];
            CodeMirror.runMode($(this).text(), "python", function(string, style){
                if (string == "\n"){
                    str = accum.join("");
                    if (str == '') str = '\x20';
                    zam.push('<pre class="line">'+str+"\n"+'</pre>');
                    accum = [];
                }else if (style){
                    accum.push("<span class=\"cm-" + style + "\">" + string + "</span>");
                }else{
                    accum.push(string);
                }
            });
            if (accum.length){
                str = accum.join("");
                if (str == '') str = '\x20';
                zam.push('<pre class="line">'+str+'</pre>');
            }
            var code = zam.join("");
            $(this).html(code);
        });
    })

</script>
