<table class="table enroll-requests">
  <thead>
    <tr>
      <td><input type="checkbox" class="check-all" data-target="<%= ".checkbox-#{type}" %>"/></td>
      <td>Name</td>
      <td>Email</td>
      <td>Role</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |ec| %>
    <tr>
      <input type="hidden" class="destroy-url"
          value="<%= course_enroll_request_path(@course, ec.id) %>" />
      <td><input type="checkbox" value="<%= ec.id %>" class="<%= "checkbox-#{type}" %>"/></td>
      <td><%= ec.user.name %></td>
      <td><%= ec.user.email %></td>
      <td><%= ec.role.title %></td>
      <td>
        <%= link_to '#', class: "btn btn-primary request-approve" do %>
          <i class="icon-ok"></i>
        <% end %>
        <%= link_to '#', class: "btn btn-danger request-del" do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <a class="update-selected" href="<%= course_enroll_request_approve_selected_path(@course)%>" data-target="<%= ".checkbox-#{type}" %>"/>Approve Selected</a> |
  <a class="update-selected" href="<%= course_enroll_request_delete_selected_path(@course) %>" data-target="<%= ".checkbox-#{type}" %>"/>Delete Selected</a> |
  <%= link_to 'Approve All', course_enroll_request_approve_all_path(@course, req_type: type) %></a> |
  <%= link_to 'Delete All', course_enroll_request_delete_all_path(@course, req_type: type) %></a> |
</div>

