<table class="table table-striped enroll-requests">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |ec| %>
    <tr>
      <input type="hidden" class="destroy-url"
          value=<%= course_enroll_request_path(@course, ec.id) %> />
      <td><%= ec.id %></td>
      <td><%= ec.user.name %></td>
      <td><%= ec.user.email %></td>
      <td>
        <%= link_to '#', class: "btn btn-mini btn-primary enroll-request-approve" do %>
          <i class="icon-ok"></i>
        <% end %>
        <%= link_to '#', class: "btn btn-mini btn-danger enroll-request-del" do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
