<%- display_name = @course.customized_title("Trainings").singularize -%>
<%= simple_form_for [@course, @training],
                    :html => { :class => 'form-horizontal' },
                    defaults: { input_html: { class: 'span7' } } do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text, input_html:{class: "span7 text-area html-editor", rows:10}  %>
    <%= f.input :exp, as: :integer, input_html: {class: "number_field input-medium"}  %>
    <%= f.input :open_at, as: :datetime_picker, input_html: {class: "input-medium"} %>
    <% if @course.tabs.training.count > 0 %>
        <%= f.association :tab, collection: @course.tabs.training, input_html: {class: "input-medium"}, include_blank: false%>
    <% end %>
    <%= f.input :bonus_exp, as: :integer, input_html: {class: "number_field input-medium"} %>
    <%= f.input :bonus_cutoff_at, as: :datetime_picker, input_html: {class: "input-medium"} %>
    <%= f.input :skippable, as: :boolean, label: "Allow skip?",
                input_html: {class: ""},
                inline_label:"Check to allow students to skip steps"%>
    <%= f.input :published, as: :boolean,
                input_html: {class: ""},
                inline_label:"Check to publish #{display_name.downcase}" %>

    <div class="control-group select optional assessment_training_dependent_on">
      <label class="select optional control-label" for="assessment_training_dependent_on_ids">
        Dependent On
      </label>
      <div class="controls" id="dependent_on_ids dependent_on">
        <% if @training.dependent_on %>
            <%= f.simple_fields_for :dependent_on do |dep_on| %>
                <%= render partial: "dependent_on_fields",
                           locals: { f: dep_on } %>
            <% end %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '<i class="icon-plus-sign"></i> Add Dependency'.html_safe,
                                      f,
                                      :dependent_on,
                                      html_options: { class: "btn btn-info" } %>
        </div>
      </div>
    </div>

    <div id="uploaded_files_div"></div>
    <%= f.button :form_submit, cancel: course_assessment_trainings_path %>
    <%= render :partial => "layouts/html_editor" %>
<% end %>

<h3>Upload lesson materials</h3>
<br/>

<%= render partial: "layouts/file_uploader_complicated",
           locals: { owner: @training.assessment, access_control: true } %>