<%- model_class = Training %>
<% to_display = @display_columns.keys %>
<% if to_display.include? 'tag' %>
    <p class="assignments-blurb"><em>* Click on the tags to view <%= @course.customized_title_by_model(Mission).pluralize.downcase %> and <%= @course.customized_title_by_model(Training).pluralize.downcase %> in that tag.</em></p>
<% end %>

<table class="table assignments">
  <thead>
  <tr>
    <% @display_columns.each do |key, val| %>
        <th width="<% if key == 'tag'  %>
        15%
        <% end %>
        "><%= val %></th>
    <% end %>

    <% if curr_user_course.id && can?(:manage, TrainingSubmission) %>
        <th width="10%"></th>
    <% end %>
    <% if can? :view_detail, Training %>
        <th width="10%"></th>
    <% end %>
  </tr>
  </thead>
  <tbody class="table-hover">

  <% trainings_with_sbm.each do |tws| %>
      <% training = tws[:training] %>
      <% submission = tws[:submission] %>
      <tr class="<%= "future" if training.open_at > Time.now %>">
        <% if to_display.include? 'title' %>
            <td>
              <% if can? :manage, Training %>
                  <%= link_to course_assessment_training_stats_path(@course, training) do %>
                      <h4>
                        <% if @is_new[training.id] %>
                            <input type="hidden" class="new_<%= model_class.model_name.human.pluralize %>">
                            <img class="asm-new-icon"
                                 src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/48x48/promotion_new.png">
                        <% end %>
                        <%= training.title %>
                      </h4>
                  <% end %>
              <% else %>
                  <h4>
                    <% if @is_new[training.id] %>
                        <input type="hidden" class="new_<%= model_class.model_name.human.pluralize %>">
                        <img class="asm-new-icon"
                             src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/48x48/promotion_new.png">
                    <% end %>
                    <%= training.title %>
                  </h4>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'tag' %>
            <td>
              <% training.tags.each do |tag| %>
                  <%= link_to course_tag_path(@course, tag) do %>
                      <span class="label label-info"><%= tag.name %></span>
                  <% end %>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'exp' %>
            <td><%= training.exp %></td>
        <% end %>
        <% if to_display.include? 'award' %>
            <td>
              <% training.as_requirements.each do |req| %>
                  <a href='<%= req.obj.get_path %>' title="<%= req.obj.title %>">
                    <img class="asm-ach-icon" src="<%= req.obj.icon_url %>" >
                  </a>
              <% end %>
            </td>
        <% end %>

        <% if to_display.include? 'start' %>

            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if training.open_at > Time.now then time_ago_in_words(training.open_at) else '----' end%>
              <% else %>
                  <%= training.open_at.strftime(@time_format.prefer_value)  %>
              <% end %>
            </td>
        <% end %>

        <% if to_display.include? 'bonus-exp' %>
            <td><%= training.bonus_exp %></td>
        <% end %>
        <% if to_display.include? 'bonus-cutoff' %>
            <% cutoff_time  = training.bonus_cutoff_at || training.open_at %>
            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if cutoff_time > Time.now then time_ago_in_words(cutoff_time) else '----' end%>
              <% else %>
                  <%= cutoff_time.strftime(@time_format.prefer_value)  %>
              <% end %>
            </td>
        <% end %>

        <% if curr_user_course.id && can?(:manage, TrainingSubmission) %>
            <td>
              <% if training.open_at < Time.now || can?(:manage, Training)%>
                <%= render partial: "action", locals:{training: training} %>
              <% end %>
            </td>
        <% end %>

        <% if can? :view_detail, Training %>
            <td>
              <%= link_to course_assessment_training_path(@course, training), class: 'btn' do %>
                  <i class="icon-external-link"></i>
              <% end %>
              <% if can? :manage, Training %>
                  <%= link_to course_assessment_training_path(@course, training),
                              method: :delete,
                              data: { confirm: t('.confirm', :default => t("helpers.links.confirm",
                                                                           :default => 'Are you sure?')) },
                              class: 'btn btn-danger' do %>
                      <i class="icon-trash"></i>
                  <% end %>
              <% end %>
            </td>
        <% end %>
  <% end %>
  </tbody>
</table>

<% if @paging.display? %>
    <%= paginate @trainings %>
<% end %>
