<div class="page-header">
  <h1><%=t '.title', :default => @course.customized_title_by_model(Training).singularize.pluralize %></h1>
</div>

<%= render  partial: "tabs" %>

<div>
  <h3><a href="#" data-toggle="collapse" data-target="#tag-checklist">&raquo; Filter</a> <small>(click to reveal)</small></h3>
  <%= form_tag(course_assessment_trainings_path(@course), method: :get) do %>
      <div class="collapse <%= @selected_tags ? "in" : "out" %>" id="tag-checklist">
        <div class="well">
          <%= render partial: "tags/form_checkboxes",
                     locals: { course: @course } %>
          <button class="btn">Filter</button>
        </div>
      </div>
  <% end %>
</div>

<% if can? :create, Training %>
    <p>
      <%= link_to "New #{@course.customized_title_by_model(Training).singularize}",
                  new_course_assessment_training_path(@course, tab: @tab_id),
                  :class => 'btn btn-primary' %>
    </p>
<% end %>

<%= render partial: "training_table", locals: {trainings_with_sbm: @trainings_with_sbm} %>

