<div class="page-header">
  <h1>Update <%= @course.customized_title_by_model(Training).pluralize -%></h1>
</div>

<%= render  partial: "tabs" %>

<%= form_tag course_assessment_trainings_bulk_update_path(@course), :method => 'POST' do %>
    <table class="table">
      <thead>
      <tr>
        <th><%= @display_columns['title'] %></th>
        <th><%= @display_columns['exp'] %></th>
        <th><%= @display_columns['start'] %></th>
        <th><%= @display_columns['bonus-exp'] %></th>
        <th><%= @display_columns['bonus-cutoff'] %></th>
        <th>Tab</th>
        <th>Publish?</th>
      </tr>
      </thead>
      <tbody>
      <% @trainings.each do |training| %>
          <tr>
            <td>
              <input name="trainings[<%= training.id %>][title]" type="text"  class="input-medium" value="<%= training.title %>" required>
            </td>
            <td>
              <input name="trainings[<%= training.id %>][exp]" type="number" value="<%= training.exp %>" min="0" class="input-mini" required>
            </td>
            <td>
              <div class="datetimepicker future-only input-append date">
                <input name="trainings[<%= training.id %>][open_at]" type="text" value="<%= datetime_format(training.open_at) %>" class="input-medium" required="true">
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
              </div>
            </td>

            <td>
              <input name="trainings[<%= training.id %>][bonus_exp]" type="number" value="<%= training.bonus_exp %>" min="0" class="input-mini" required>
            </td>
            <td>
              <div class="datetimepicker future-only input-append date">
                <input name="trainings[<%= training.id %>][bonus_cutoff_at]" type="text" value="<%= datetime_format(training.bonus_cutoff_at) %>" class="input-medium" required="true">
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
              </div>
            </td>
            <td>
              <select name="trainings[<%= training.id %>][tab_id]" class="input-mini" >
                    <% @course.training_tabs.each do  |tab| %>
                        <option value="<%= tab.id %>" <%= 'selected="selected"' if training.tab and training.tab.id == tab.id  %>> <%= tab.title  %></option>
                    <% end %>
              </select>
            </td>
            <td style="text-align: center">
              <input type="hidden" name="trainings[<%= training.id %>][publish]" value="0">
              <input name="trainings[<%= training.id %>][publish]" type="checkbox" <%= 'checked' if training.published? %>>
            </td>
          </tr>
      <% end%>
      </tbody>
    </table>
    <div class="center">
      <button class="btn btn-large" style="width: 50%; font-weight: bold">Update</button>
    </div>
<% end %>
