<p><%= style_format(mcq.description) %></p>
<% if mcq.select_all %>
  <p style="margin-left: 15px">* Select all correct answers</p>
<% end %>
<ul>
  <% mcq.options.each do |opt| %>
      <li class="checkbox-text">
        <% if mcq.select_all %>
          <input class="choices" type="checkbox" name="answers[]" value="<%= opt.id %>" id="value=<%= opt.id %>"/>
        <% else %>
          <input class="choices" type="radio" name="answers" value="<%= opt.id %>" id="value=<%= opt.id %>"/>
        <% end %>
        <label for="value=<%= opt.id %>"> <%= style_format opt.text %></label>
      </li>
  <% end %>
</ul>

<div id="explanation" class="well hidden">
  <h3 class="result"></h3>
  <p class="reason"></p>
</div>
