<!--TODO:TOFIX-->

<strong>Answer attempts</strong>
<table class="table">
  <thead>
  <tr>
    <th width="2%"></th>
    <th>Answer</th>
    <th>Attempts</th>
    <th width="15%">Submitted at</th>
  </tr>
  </thead>
  <tbody>
  <% answers.each_with_index do |ans, index| %>
      <tr class="<%= ans.correct ? "mcq-ans-correct" : "mcq-ans-incorrect" %>">
        <td><%= index + 1 %></td>
        <td>
          <% if ans.options.length == 1 %>
              <%= ans.options.first.text %>
          <% else %>
              <ul>
                <% ans.options.each do |opt| %>
                    <li><%= opt.text %></li>
                <% end %>
              </ul>
          <% end %>
        </td>
        <td><%= ans.count %></td>
        <td><%= time_ago_in_words(ans.created_at) + " ago"  %></td>
      </tr>
  <% end %>
  </tbody>
</table>