<div class="page-header">
  <h1><%= @training.title %></h1>
</div>
<div class="well"><%= @training.description.html_safe %></div>

<%= render partial: "file_uploads/download_files",
           locals: {owner: @training}%>

<div id="training-stop-pos"><br></div>

<hr/>
<div class="step-list">
  <% (1..@summary[:questions].length).each do |i| %>
      <% if i == @summary[:step] %>
          <%= link_to i, "?step=#{i}#training-stop-pos", class: "step step-current" %>
      <% elsif @summary[:finalised].include? @summary[:questions][i - 1] %>
          <%= link_to i, "?step=#{i}#training-stop-pos", class: "step step-done" %>
      <% else %>
          <% can_access = (curr_user_course.is_staff? or @training.skippable? or i == @summary[:next_undone]) %>
          <%= link_to i, "#{('?step=' + i.to_s) if can_access }#training-stop-pos", class: "step  #{can_access ? 'step-available' : 'step-disabled'}" %>
      <% end %>
  <% end %>
</div>
<hr/>

<% if !@summary[:current] %>
    <h2>Congratulations, you're done!</h2>
    <p>
      <a href="<%= course_assessment_submission_path(@course, @assessment, @submission)%>">
        Click here
      </a> to review your answers.
    </p>
<% else %>
    <form id="training-step-form">
      <input type="hidden" name="step" value="<%= @summary[:step] %>">
      <input type="hidden" name="update_url"
             value="<%= submit_course_assessment_submission_path(@course, @assessment, @submission) %>" />
      <input type="hidden" name="qid" value="<%= @summary[:current].question.id %>" />

      <% if @summary[:current].class == Assessment::McqQuestion %>
          <%= render partial:"do_mcq", locals: {mcq: @summary[:current]} %>
      <% elsif @summary[:current].class == Assessment::CodingQuestion %>
          <%= render partial: "do_coding", locals: { question: @summary[:current], prefilled: @summary[:prefilled],
                                                    finished: @summary[:finished], last_attempt: @summary[:last_attempt] } %>
      <% end %>

      <div class="form-actions">
        <% if @summary[:current].class == Assessment::McqQuestion %>
            <%= link_to "Submit", '#', :class => 'btn btn-primary', :id => 'submit-btn' %>
        <% elsif @summary[:current].class == Assessment::CodingQuestion %>
            <%= link_to "Run (ALT+R)", '#', class:'btn btn-danger', id:"pathrun" %>
            <!--<input id="pathrun" class="path_button" type="button" value="Run (ALT+R)" />-->
        <% end %>

        <%= link_to "Continue",
                    edit_course_assessment_submission_path(@course, @assessment, @submission, anchor: 'training-stop-pos', step: @summary[:step] + 1), :class => 'btn disabled',
                    :id => 'continue-btn' %>
      </div>
    </form>

    <% if curr_user_course.is_staff? %>
        <%= render partial: "comments/list",
                   locals: { comments:  CommentTopic.comments_to_json(@summary[:current].comment_topic, curr_user_course),
                             target:    @summary[:current],
                             header:    "Comments on the Question",
                             margin_left: "0px" } %>
    <% end %>
<% end %>
