<div class="page-header">
  <h1>
    Training submission: <%= @training.title %>
  </h1>
</div>

<table width="100%">
  <col width="10%" />
  <tr><td><strong>Student:</strong> </td><td><%= render partial: "layouts/user_name_link", locals: {user_course: @submission.std_course} %></td></tr>
  <tr><td><strong>Submitted at:</strong> </td><td><%= time_ago_in_words(@submission.created_at) %> ago</td></tr>
  <% if @grading %>
      <tr>
        <td><strong>Total grade:</strong> </td>
        <td>
          <%= @grading.grade %> / <%= @training.max_grade %>
        </td>
      </tr>

      <tr><td><strong>Grader:</strong> </td><td>Auto graded!</td></tr>
  <% end %>
</table>
<hr/>

<div class="well"><%= style_format(@training.description) %></div>
<% @training.questions.includes(:as_question).each_with_index do |qn, index| %>
    <h4>Question: <%= index + 1 %> </h4>
    <% if qn.specific.class == Assessment::McqQuestion %>
        <%= render partial: "assessment/training_submissions/mcq_review", locals: {qn: qn} %>
    <% elsif qn.specific.class == Assessment::CodingQuestion %>
        <%= render partial: "assessment/training_submissions/coding_review", locals: {qn: qn} %>    
    <% end %>

    <% grade = qn.answer_gradings.
            where("assessment_answers.std_course_id = ? and assessment_answer_gradings.grading_id = ?",
                  @submission.std_course, @submission.gradings.last).last %>
    <% if grade %>
        <p><strong>Final Grade: </strong><%= grade.grade %> / <%= qn.max_grade %></p>
    <% end %>
    <hr />
<% end %>

<% if @pdf_export %>

  <h3>Download Completed Training</h3>
  <%= form_tag course_assessment_submission_path(@course, @assessment, @submission, format: :pdf), method: "get", class: "form-horizontal" do %>
    <div class="control-group">
      <label class="control-label">Export Options</label>
      <div class="controls checkbox-text">
        <%= render :partial => 'assessment/assessments/training_export_options' %>
        <p><%= submit_tag "View as PDF", class: "btn" %> <%= submit_tag "Save as PDF", class: "btn btn-primary" %></p>
      </div>
    </div>
  <% end %>

<% end %>
