<div class="page-header">
  <table>
    <tr>
      <td>
        <a href="<%= get_social_media_url(@course, @user_course) %>">
          <img class="user-profile-pic"
               src="<%= @user_course.user.get_profile_photo_url %>" />
        </a>
      </td>
      <td style="padding-left: 10px">
        <% if @user_course.user.uid %>
            <a id="student-large" href="https://www.facebook.com/<%= @user_course.user.uid %>"><%= @user_course.name %></a>
        <% else %>
            <h3><%= @user_course.name %></h3>
        <% end %>
        <p><%= @user_course.user.email %></p>
        <% if @user_course == curr_user_course || curr_user_course.is_staff?%>
            <% if @user_course.level %>
                <strong><%= @user_course.level.get_title %></strong>
                <%= link_to  course_user_course_exp_transactions_path(@course, @user_course) do%>
                    (View Exp History)
                <% end %>
            <% end %>
            <% if can?(:manage, UserAchievement) and !@user_course.user_achievements.empty? %>
                <div>
                  <strong>Achievements:
                    <%= link_to course_user_course_user_achievements_path(@course, @user_course) do %>
                        <%= @user_course.user_achievements.count %> (Click to view details)
                    <% end %>
                  </strong>
                </div>
            <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<% if @user_course.is_student? && @user_course.user_achievements.count > 0 %>
    <h3>Achievements</h3>
    <br/>
    <ul class="thumbnails">
      <% @user_course.user_achievements.each do |uach| %>
          <li class="profile-achievement-icon">
            <a href="<%= course_achievement_path(@course, uach.achievement) %>"
               rel="tooltip"
               title="<%= uach.achievement.title %>"
               class="thumbnail">
              <img src="<%= uach.achievement.icon_url %>" />
            </a>
          </li>
      <% end %>
    </ul>
<% end %>

<% if @user_course.is_student? && @course.tags.count > 0 %>
    <h3>Topic Mastery</h3>
    <br/>
    <table class="table span6">
      <colgroup>
        <col width="30%">
        <col width="50%">
      </colgroup>
      <% prev_tag = nil %>
      <% @std_tags.each do |std_tag| %>
          <% if !prev_tag || std_tag.tag.tag_group_id != prev_tag.tag.tag_group_id %>
              <tr>
                <td><strong><%= std_tag.tag.tag_group.name if std_tag.tag.tag_group %></strong></td>
              </tr>
          <% end %>
          <% prev_tag = std_tag %>
          <tr>
            <td><%= link_to std_tag.tag.name, course_tag_path(@course, std_tag.tag) %></td>
            <td>
              <div class="progress" style="margin-bottom: 3px">
                <div class="bar bar-success" style="width: <%= std_tag.get_completion_percentage %>%"></div>
              </div>
            </td>
            <td><%= std_tag.exp %></td>
            <td>/</td>
            <td><%= std_tag.tag.max_exp %></td>
          </tr>
      <% end %>
    </table>
<% end %>
