<div class="page-header">
  <table>
    <tr>
      <td>
        <a href="<%= get_social_media_url(@user_course) %>">
          <img class="user-profile-pic"
               src="<%= @user_course.user.get_profile_photo_url %>" />
        </a>
      </td>
      <td style="padding-left: 10px">
        <% if @user_course.user.uid %>
            <a id="student-large" href="https://www.facebook.com/<%= @user_course.user.uid %>"><%= @user_course.name %></a>
        <% else %>
            <h3><%= @user_course.name %></h3>
        <% end %>
        <p><%= @user_course.user.email %></p>
        <% if @user_course == curr_user_course || curr_user_course.is_staff?%>
            <% if @user_course.level %>
                <strong><%= @user_course.level.get_title %></strong>
                <%= link_to  course_user_course_exp_transactions_path(@course, @user_course) do%>
                    (View Exp History)
                <% end %>
            <% end %>
            <% if can?(:manage, UserAchievement) and !@user_course.user_achievements.empty? %>
                <div>
                  <strong>Achievements:
                    <%= link_to course_user_course_user_achievements_path(@course, @user_course) do %>
                        <%= @user_course.user_achievements.count %> (Click to view details)
                    <% end %>
                  </strong>
                </div>
            <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<% if @user_course.is_student? && @user_course.user_achievements.count > 0 %>
    <h3>Achievements</h3>
    <br/>
    <ul class="thumbnails">
      <% @user_course.user_achievements.includes(:achievement).each do |uach| %>
          <li class="profile-achievement-icon">
            <a href="<%= course_achievement_path(@course, uach.achievement) %>"
               rel="tooltip"
               title="<%= uach.achievement.title %>"
               class="thumbnail">
              <img src="<%= uach.achievement.icon_url %>" />
            </a>
          </li>
      <% end %>
    </ul>
<% end %>

<% if @user_course.is_student? && @course.tags.count > 0 %>
    <% tag_exp = @course.tags.max_exp %>
    <% tag_exp_earned = @course.tags.exp_earned(@user_course) %>
    <h3>Topic Mastery</h3>
    <br/>
    <table class="table span6 table-hover">
      <colgroup>
        <col width="30%">
        <col width="50%">
      </colgroup>
      <% @tag_groups.each do |tg| %>
          <% next if tg.tags.length <= 0 %>
          <tr class="well">
            <td colspan="5"><strong><%= tg.name %></strong></td>
          </tr>
          <% tg.tags.each do |tag| %>
              <% earned = tag_exp_earned[tag.id].to_i %>
              <% max = tag_exp[tag.id].to_i %>
              <% earned =[earned, max].min %>
              <tr>
                <td><%= link_to tag.name, course_tag_path(@course, tag) %></td>
                <td>
                  <div class="progress" style="margin-bottom: 3px">
                    <div class="bar bar-success" style="width: <%= max == 0 ? 0 : earned / max.to_f * 100%>%"></div>
                  </div>
                </td>
                <td><%= tag_exp_earned[tag.id].to_i %></td>
                <td>/</td>
                <td><%= tag_exp[tag.id].to_i %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
<% end %>
