<div class="alert alert-success hidden"></div>
<h1>Manage Staff</h1>

<%= render partial: "courses/manage_user_tab", locals: { manage_students: false } %>

<% if (current_user.is_admin? or curr_user_course.is_lecturer?) and @students_courses.size > 0 %>
    <%= form_for [@course], :html => { :class => 'form-horizontal' } do |f| %>
        <table class="table">
          <tr>
            <td>
              <select id="attemptingstudent" name="user_course_id">
                <% @students_courses.each do |student_course|  %>
                    <option value="<%= student_course.id %>">
                      <%= student_course.name %>
                    </option>
                <% end %>
              </select>
            </td>
            <td>
              <select class="select-role" name="role_id">
                <% Role.get_staff_roles.each do |r| %>
                    <option value="<%= r.id %>">
                      <%= r.title %>
                    </option>
                <% end %>
              </select>
            </td>
            <td>
              <%= f.submit "Add as staff", :class => 'btn btn-primary'%>
            </td>
            <td width="30%"></td>
          </tr>
        </table>
    <% end %>
<% end %>

<table class="table staff-table table-striped">
  <thead>
  <th width="25%">Staff Name</th>
  <th width="40%">Email</th>
  <th width="10%">Role</th>
  <th>Phantom</th>
  <th style="min-width: 70px">Actions</th>
  </thead>
  <tbody>
  <% @staff_courses.each do |s_course| %>
      <tr>

        <input type="hidden" class="old-name" value="<%= s_course.name  %>">
        <% if can? :manage, :staff %>
            <td>  <input type="text" value="<%= s_course.name  %>" name="user-name" class="change-name" required> </td>
            <td>  <input type="email" value="<%= s_course.user.email  %>" name="user-email" class="change-email" required> </td>
        <% else %>
            <td>  <%= link_to s_course.name, course_user_course_path(@course,s_course),id:s_course.id %> </td>
            <td><%= s_course.user.email %></td>
        <% end %>
        <td>
          <a href="<%= course_user_course_path(s_course.course.id,s_course.id) %>" class="uc-url hidden"></a>
          <% if current_user.is_admin? or curr_user_course.is_lecturer? %>
              <!--<input type="hidden" class="old-role" value="<%= s_course.role.id %>">-->
              <select class="change-role">
                <% Role.get_staff_roles.each do |r| %>
                    <option value="<%= r.id %>" <% if r.id == s_course.role.id %>selected="selected"<% end %>>
                      <%= r.title %>
                    </option>
                <% end %>
              </select>
          <% else %>
              <%= s_course.role.title %>
          <% end %>
        </td>
        <td style="text-align: center">
          <input type="checkbox" name="user-phantom" class="change-phantom" <%= 'checked' if s_course.is_phantom? %>>
        </td>
        <td>
          <% if current_user.is_admin? or curr_user_course.is_lecturer? %>
              <%= link_to '#', class: 'btn update-staff' do %>
                  <i class="icon-ok"></i>
              <% end %>
              <% unless s_course.is_creator? %>
                  <input type="hidden" class="user-course-id" value="<%= s_course.id %>"/>
                  <input type="hidden" class="remove-staff-url" value="<%= course_remove_staff_path(@course, s_course) %>">
                  <%= link_to '#',
                              class: 'btn remove-staff',
                              data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to remove #{s_course.name} from staff?")) }  do %>
                      <i class="icon-remove"></i>
                  <% end %>
              <% end %>

          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
