<div class="alert alert-success hidden"></div>
<h1>Manage Stuff</h1>

<% if (current_user.is_admin? or curr_user_course.is_lecturer?) and @students_courses.size > 0 %>
    <%= form_for [@course], :html => { :class => 'form-horizontal' } do |f| %>
        <table class="table">
          <tr>
            <td>
              <select id="attemptingstudent" name="user_course_id">
                <% @students_courses.each do |student_course|  %>
                    <option value="<%= student_course.id %>">
                      <%= student_course.user.name %>
                    </option>
                <% end %>
              </select>
            </td>
            <td>
              <select class="select-role" name="role_id">
                <% Role.get_stuff_roles.each do |r| %>
                    <option value="<%= r.id %>">
                      <%= r.title %>
                    </option>
                <% end %>
              </select>
            </td>
            <td>
              <%= f.submit "Add as stuff", :class => 'btn btn-primary'%>
            </td>
            <td width="30%"></td>
          </tr>
        </table>
    <% end %>
<% end %>

<table class="table stuff-table table-striped">
  <thead>
  <th width="30%">Staff Name</th>
  <th width="40%">Email</th>
  <th width="15%">Role</th>
  <th width="15%"></th>
  </thead>
  <tbody>
  <% @stuff_courses.each do |s_course| %>
      <tr>

        <!--<td><%= link_to s_course.user.name,course_user_course_path(@course,s_course),id:s_course.id %></td>-->
        <td>
          <input type="hidden" class="old-name" value="<%= s_course.user.name  %>">
          <input type="text" value="<%= s_course.user.name  %>" name="user-name" class="change-name" required> </td>
        <!--<td><%= s_course.user.name  %></td>-->
        <td><%= s_course.user.email %></td>
        <td>
          <a href="<%= course_user_course_path(s_course.course.id,s_course.id) %>" class="uc-url hidden"></a>
          <% if current_user.is_admin? or curr_user_course.is_lecturer? %>
              <!--<input type="hidden" class="old-role" value="<%= s_course.role.id %>">-->
              <select class="change-role">
                <% Role.get_stuff_roles.each do |r| %>
                    <option value="<%= r.id %>" <% if r.id == s_course.role.id %>selected="selected"<% end %>>
                      <%= r.title %>
                    </option>
                <% end %>
              </select>
          <% else %>
              <%= s_course.role.title %>
          <% end %>
        </td>
        <td>
          <% if current_user.is_admin? or curr_user_course.is_lecturer? %>
              <%= link_to '#', class: 'btn update-stuff' do %>
                  <i class="icon-ok"></i>
              <% end %>
              <% unless s_course.is_creator? %>
                  <%= link_to '#', class: 'btn remove-stuff' do %>
                      <i class="icon-remove"></i>
                  <% end %>
              <% end %>

          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
