<label for="options[<%=q.id %>]" class="error hide">Select at least one option.</label>
<ul class="<%= 'required' if q.is_required? %>" name="options[<%=q.id %>]">
  <% q.options.each do |opt| %>
      <li class="checkbox-text">
        <% if q.type == SurveyQuestionType.MRQ.first %>
            <input class="choices" max_response="<%= q.max_response %>" type="checkbox"
                   id="value=<%= opt.id %>"
                   name="answers[<%=q.id %>][]"
                   value="<%= opt.id %>"  <%= 'checked' if  answers.include? opt.id %>
                   <%= 'disabled' unless editable %>/>
        <% else %>
            <input class="choices" type="radio"
                   id="value=<%= opt.id %>"
                   name="answers[<%=q.id %>]"
                   value="<%= opt.id %>" <%= 'checked' if answers.include? opt.id %>
                   <%= 'disabled' unless editable %>/>
        <% end %>
        <label for="value=<%= opt.id %>"><%= style_format opt.description%></label>
      </li>
  <% end %>
</ul>
