<% @survey.sections.each do |section| %>
    <section id="<%= section.id %>">
      <div class="page-header">
        <h2><%= section.title %></h2>
      </div>
      <p><%= style_format(section.description) %></p>
      <div style="margin-left: 30px">
        <% section.questions.each_with_index do |question, index| %>

            <p><strong> <%= index + 1 %></strong>. <%= style_format(question.description) %></p>
            <% if question.type == SurveyQuestionType.Essay.first %>
                <% answer = question.answer_for_user(curr_user_course) %>
                <textarea rows="4" name="answers[<%= question.id %>]" value="<%= answer.text if answer %>" class="text_area span7" style="margin-left: 30px"></textarea>
            <% else %>
                <% answers = question.answer_for_user(curr_user_course).map { |ans| ans.option_id } %>
                <%= render partial: "do_mrq", locals: {q: question, answers:answers} %>
            <% end %>
        <% end %>
      </div>
    </section>
<% end %>