<div class="page-header">
  <h1><%= @survey.title %></h1>
</div>

<p><%= @survey.description.html_safe %></p>

<div class="step-list">
  <% @survey.survey_questions.each_with_index do |q, index| %>
      <% i = index + 1 %>
      <% color = q.answer_for_user(curr_user_course) ? "step-done" : "survey-question"   %>
      <% if i == @step %>
          <%= link_to i, "?_pos=#{i}", class: "step survey-current " + color %>
      <% else %>
          <%= link_to i, "?_pos=#{i}", class: "step survey-not-current " + color  %>
      <% end %>

  <% end %>
</div>

<% question = @survey.questions[@step -1] %>
<% answer = question.answer_for_user(curr_user_course) %>
<% selected_options = answer ? answer.options : [] %>

<input type="hidden" name="question" value="<%= question.id %>">
<input type="hidden" name="step" value="<%= @step %>">
<input type="hidden" id="max-allowed" value="<%= question.max_response %>">

<div class="runes-container survey">
  <div class="large-12 columns">
    <h1><%= question.description.html_safe %></h1>
    <br>
    <p style="font-size: 20px">Choose up to <strong><%= question.max_response %></strong> entries. You have selected a total of <span class="vote-count ng-binding"><%= selected_options.count  %></span> entries.</p>
    <hr>
    <div class="large-12 columns">
      <ul>
        <% question.options.each do |option| %>
            <li class="<%= 'rune-voted' if  selected_options.include? option %>">
              <a href="<%= option.file.file.url %>" data-lightbox="roadtrip"><img class="rune-entry" src="<%= option.file.file.url %>" /></a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        lightboxinit();
    })
</script>