<% submission = std_answer.sbm_answers.first.sbm %>
<% question = std_answer.question %>
<% pos = question.asm_qns.first.pos %>
<% mission = question.asm_qns.first.asm %>
<% std_course = std_answer.std_course %>
<% course = mission.course %>

<% if can? :see, :pending_comments %>
    <div class="mission-pending"><a cid="<%= std_answer.id %>" ctype ="<%= std_answer.class.to_s %>" href="#"><%= if std_answer.pending_comments && std_answer.pending_comments.pending? then 'Unmark' else 'Mark' end %> as pending</a></div>
<% end %>
<input type="hidden" id="submission_url_<%=ecid%>" value="<%= course_mission_submission_url(course, mission, submission) %>">
<div class="mission-box" href="<%= course_mission_submission_url(course, mission, submission) %>">
  <!--<img class="small-mission-pic" width="54" height="54" src="public/images/mission_icons/mission22_small.jpg">-->
  <div class="title">Mission: <%= mission.title.html_safe %></div>
  <div class="student"><label>by:</label><span class="student-link">
    <a href="<%= course_user_course_path(course, std_course) %>"><%= std_course.user.name %></a>
    <!--<span class="student-tag common ">Chao Recruit</span>-->
    </span>
  </div>
  <div class="code"><label>Question <%= pos.to_i + 1 %>:</label><span style="color: #FCDF9A"> <%= question.description.split(" ").first(13).join(" ").html_safe %>... </span></div>
</div>