<%= form_for [@course, @mission, @submission], html: { class: 'form-horizontal' } do |f| %>
  <% @questions.each_with_index do |q, i| %>
    <% unless @mission.single_question? %>
      <h3>Question <%= i + 1 %></h3>
      <div class="row">
        <div class="span8">
          <span><%= style_format(q.description) %></span>
        </div>
      </div>

      <h3>Your answer:</h3>
    <% end %>

    <%- a = @submission.answers.where(question_id: q.id).first %>
    <%- answer = a.specific %>
    <%- question = q.specific %>
    <% if question.class == Assessment::TextQuestion %>
      <textarea name="answers[<%= q.id %>][text]" class="span8 html-editor" rows="8"/>
      <% if answer %>
        <%= answer.text %>
      <% end %>
      </textarea>
    <% else %>
        <%=render partial: 'do_coding',
                  locals: { answer: answer,
                            question: question,
                            mode: "edit"
                  } %>
    <% end %>

    <hr />

    <% require 'digest/md5' %>
    <% ecid =  Digest::MD5.hexdigest(a.class.to_s << a.id.to_s) %>
    <input type="hidden" id="submission_url_<%= ecid %>" value="<%= course_assessment_mission_assessment_submission_url(@course, @mission, @submission) %>">

    <div class="row">
      <%= render partial: "comments/list",
                 locals: { comments:  CommentTopic.comments_to_json(a.comment_topic, curr_user_course),
                           target:    a,
                           header:    'Comments',
                           ecid:      ecid } %>
    </div>
  <% end %>

  <br />

  <div id="uploaded_files_div"></div>
  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary', id: "mission-save" %>
    <%= f.submit 'Finalize Submission', :class => 'btn btn-danger', id:"mission_submit" %>
  </div>
<% end %>

<% if @mission.file_submission?  %>
  <span class="btn" data-toggle="collapse" data-target="#submission-files">
    <i class="icon-upload icon-white"></i>
    <span>Add files for submission</span>
  </span>
  <br/><br/>
  <div id="submission-files" class="collapse out">
    <%= render partial: 'layouts/file_uploader_complicated',
               locals: { owner: @submission } %>
  </div>
<% end %>
