<div class="page-header">
  <h1>Forums</h1>
  <ul class="breadcrumb">
    <li>
      <%= link_to course_forums_path(@course), data: { toggle: 'dropdown' } do %><i class="icon-home"></i><% end %>
      <span class="divider">/</span>
    </li>
    <li class="dropdown dropdown-trigger-on-hover">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <%= topic.forum.name %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @course.forums.each do |f|  %>
          <li class="<%= 'active' if f == topic.forum %>"><%= link_to f.name, course_forum_path(@course, f) %></li>
        <% end %>
      </ul>
      <span class="divider">/</span>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <%= topic.title %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% topic.forum.topics.each do |t|  %>
          <li><%= link_to t.title, course_forum_topic_path(@course, @forum, t) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
