<tr class="topic <%= topic.locked? ? 'locked' : 'unlocked' %>">
  <td class="icon" style="vertical-align: middle">
    <span class="post-status-icons">
      <% if topic.locked? %>
        <i class="icon-lock" title="Locked Post" rel="tooltip"></i>
      <% end %>
      <% if topic.sticky? || topic.announcement? %>
        <i class="icon-chevron-up" title="Sticky" rel="tooltip"></i>
      <% end %>
      <% if topic.question? %>
        <i class="icon-question-sign" rel="tooltip" title="<%= topic.answered? ? 'Answered' : 'Unanswered'  %> question" style="<%= topic.answered? ?  'color:green' : 'color:#da4e49' %>"></i>
      <% end %>
      <% if topic.hidden? %>
        <i class="icon-eye-close" title="Hidden" rel="tooltip"></i>
      <% end %>
      <% if topic.unread?(curr_user_course) %>
        <i class="icon-envelope-alt" title="New posts" rel="tooltip" style="color: #bd362f"></i>
      <% end %>
    </span>
  </td>
  <td class="byline">
    <div class="subject">
      <%= link_to topic.title, course_forum_topic_path(@course, @forum, topic) %>
    </div>
    <div class="started-by">Started by <%= topic.author ? topic.author.user : '(unknown)' %></div>
  </td>
  <td class="votes-count text-center"><%= topic.votes_count %></td>
  <td class="posts-count text-center"><%= topic.posts.count %></td>
  <td class="views-count text-center"><%= topic.views.count %></td>
  <td class="latest-post">
    <%  last_post = topic.posts.last %>
    <%  if last_post.author %>
      <%= link_to last_post.author.user, course_user_course_path(@course, last_post.author) %><br />
    <% else %>
      (unknown)
    <% end %>
    <%= link_to "#{time_ago_in_words(last_post.created_at)} ago", topic_latest_post_path(@course, topic.forum, topic) -%>
  </td>
</tr>
