<%= render :partial => 'forums/forums/header', :locals => { :forum => @topic.forum } %>

<h2>New Topic</h2>

<%= simple_form_for @topic, url: course_forum_topics_path(@course, @forum) do |f| %>
  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forums/posts/form", :locals => { reply_to: nil, form: post }%>
  <% end %>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>
