<div id="topic" class="<%= @topic.locked ? 'locked' : 'unlocked' %>">
  <div id="menu" class="pull-right btn-toolbar">
    <div class="btn-group">
      <% unread = @forum.unread_topics(curr_user_course) %>
      <% if unread.count > 0 %>
        <%= link_to 'Next unread topic', course_forum_next_unread_path(@course), :class => "btn" %>
      <% end %>
      <% if @topic.can_be_replied_to? %>
        <%= link_to 'Reply', reply_course_forum_topic_post_path(@course, @forum, @topic, @topic.posts.last), :class => 'btn reply', 'data-post-id' => @topic.posts.last.id %>
      <% end %>
      <% if can? :manage, @topic %>
        <%= link_to 'Delete', course_forum_topic_path(@course, @forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => 'btn btn-danger' %>
      <% end %>
    </div>
    <% if can? :manage, @topic %>
      <div class="btn-group dropdown-trigger-on-hover">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          Manage topic
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit/Move', edit_course_forum_topic_path(@course, @forum, @topic) %></li>
          <li><%= link_to 'Hide', course_forum_topic_hide_path(@course, @forum, @topic, :hide => @topic.hidden? ? 0 : 1), :method => :put %></li>
          <li><%= link_to 'Lock', course_forum_topic_lock_path(@course, @forum, @topic, :lock => @topic.locked? ? 0 : 1), :method => :put %></li>
          <li class="divider"></li>
          <% ForumTopic::TOPIC_TYPES.each do |t| %>
            <li><%= link_to t[0], course_forum_topic_type_path(@course, @forum, @topic, type: t[1]), :method => :put %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <%= render :partial => 'header', :locals => { :topic => @topic } %>

  <% if @topic.locked? %>
    <div class="alert">
      <strong>This topic is locked.</strong>
    </div>
  <% end %>

  <div id="posts">
    <%# TODO: for now, render linearly. We will have to write a display helper to display this
        in threaded view at some point. %>
    <%= render :partial => 'forums/posts/post', :collection => @topic.posts %>
  </div>

  <% if @topic.can_be_replied_to? %>
    <hr />

    <div class="simple_form">
      <div class="post-content">
        <h3>Post a Reply</h3>
      </div>
    </div>

    <% new_post = ForumPost.new %>
    <%= simple_form_for new_post, url: course_forum_topic_posts_path(@course, @forum, @topic, new_post) do |f| %>
      <%= render :partial => "forums/posts/form", :locals => { reply_to: @topic.posts.last, form: f } %>
      <%= f.submit 'Reply', :class => "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
