<div class="forum">
<div class="topic <%= @topic.locked ? 'locked' : 'unlocked' %>">
  <div id="menu" class="pull-right btn-toolbar">
    <div class="btn-group">
      <% unread = @forum.unread_topics(curr_user_course) %>
      <% if unread.count > 0 %>
        <%= link_to 'Next unread topic', next_unread_course_forums_path(@course), class: 'btn' %>
      <% end %>
      <% if @topic.can_be_replied_to? %>
        <%= link_to 'Reply', reply_course_forum_topic_post_path(@course, @forum, @topic, @topic.posts.last), class: 'btn reply', 'data-post-id' => @topic.posts.last.id %>
      <% end %>
    </div>
    <% if can? :manage, @topic %>
      <div class="btn-group dropdown-trigger-on-hover">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          Manage topic
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit/Move', edit_course_forum_topic_path(@course, @forum, @topic) %></li>
          <li><%= link_to 'Hide', course_forum_topic_hide_path(@course, @forum, @topic, hide: @topic.hidden? ? 0 : 1), method: :put %></li>
          <li><%= link_to 'Lock', course_forum_topic_lock_path(@course, @forum, @topic, lock: @topic.locked? ? 0 : 1), method: :put %></li>
          <li class="divider"></li>
          <% ForumTopic::TOPIC_TYPES.each do |t| %>
            <li><%= link_to t[0], course_forum_topic_type_path(@course, @forum, @topic, type: t[1]), method: :put %></li>
          <% end %>
        </ul>
      </div>

      <span class="btn-group">
        <%= render partial: 'layouts/delete_confirm', locals: { display_label: 'Delete', path_to_item: course_forum_topic_path(@course, @forum, @topic) } %>
      </span>
    <% end %>

  </div>

  <%= render partial: 'header', locals: { topic: @topic } %>

  <% if @topic.locked? %>
    <div class="alert">
      <strong>This topic is locked.</strong>
    </div>
  <% end %>

  <div class="posts">
    <%
    posts = @topic.posts.all.sort do |a, b|
      if not a.parent then
        -1
      elsif not b.parent then
        1
      else
        a.parent.id <=> b.parent.id
      end
    end

    # This is basically a DFS: we have to emit the conversation style layout without the
    # tree information from the database.
    level_iter = lambda do |common_parent|
      this_level = posts.select {|p| p.parent == common_parent}
      this_level.each do |p|
        %><%= render partial: 'forums/posts/post', locals: { post: p } %><%

        # We start a new thread only if the current level has more than one post so that we do not
        # indent at every reply, only those with forks.
        if this_level.length > 1 %><div class="thread"><% end
        level_iter.call(p)
        if this_level.length > 1 %></div><% end
      end
    end

    level_iter.call(nil)
    %>
  </div>

  <% if @topic.can_be_replied_to? %>
    <hr />

    <div class="quick-reply">
      <h3>Post a Reply</h3>

      <% new_post = ForumPost.new %>
      <%= form_for new_post, url: course_forum_topic_posts_path(@course, @forum, @topic, new_post) do |f| %>
        <%= render partial: 'forums/posts/form', locals: { reply_to: @topic.posts.last, form: f } %>
        <%= f.submit 'Reply', class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
