<%- model_class = Comic -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human.pluralize,
                                   :default => "Edit #{model_class.model_name.human.pluralize}") %></h1>
</div>
<%= render :partial => 'form', locals: {action: :edit} %>


<h3>Upload New Pages</h3>
<%= render partial: "layouts/file_uploader_complicated",
           locals: { owner: nil } %>

<%= form_for [@course, @comic], :html => { :class => 'form-horizontal', :id => 'submit_new_pages' }, :method => :post do |f| %>
  <div id="uploaded_files_div"></div>
  <div class="form-actions">
    <%= f.submit "Save", :class => 'btn btn-primary', data: {disable_with: "Submitting..."} %>
    <%= hidden_field_tag :type, :files  %>
  </div>
<% end %>