Hello, <%= @user %>!<br/>
<p>New post in the forum for <%= @course.title %>:</p>
<br/>
<% if @post.id == @first_post.id %>
  <%= link_to @topic.subject, main_app.course_forum_topic_url(@course, @forum, @topic) %>
<% else %>
  <%= link_to 'Re: ' + @topic.subject, main_app.course_forum_topic_url(@course, @forum, @topic, :anchor => "post-" + @post.id.to_s) %>
<% end %>
by <%= @post.user %>
<br/>
<blockquote>
  <%=raw Forem.formatter.format(@post.text) %>
</blockquote>

<br/>
Best Regards,
<br/>

The Coursemology Team