<table width="100%">
  <col width="10%" />
  <tr><td>Student: </td><td><%= @submission.std_course.user.name %></td></tr>
  <% if @submission_grading.id %>
      <tr>
        <td>Total grade: </td>
        <td>
          <%= @submission_grading.total_grade %> / <%= @mission.max_grade %>
        </td>
      </tr>
      <% if @submission_grading.grader %>
          <tr><td>Grader: </td><td><%= @submission_grading.grader.name %></td></tr>
      <% else %>
          <tr><td>Grader: </td><td>Auto graded!</td></tr>
      <% end %>
  <% end %>
  <tr><td>Submitted at: </td><td><%= datetime_format(@submission.submit_at || @submission.created_at) %></td></tr>
  <tr><td>Mission due on:</td><td><%= datetime_format @mission.close_at %></td></tr>
</table>
<%= render partial: "file_uploads/download_files",
           locals: {owner: @submission}%>
<hr/>

<p class="well"><%= @mission.description.html_safe %></p>

<% if (@submission.submit_at || @submission.created_at) > @mission.close_at %>
    <p class="late-submission">This submission is LATE! You may want to penalize the student for late submission.</p>
<% end %>


<%= form_for [@course, @mission, @submission, @submission_grading],
             html: { class: "form-horizontal" } do |f| %>
    <input type="hidden" name="submission_id" value="<% @submission.id %>" />
    <%= render partial: "layouts/submission_form", locals: { mode: 'edit' }%>

    <div class="form-actions">
      <%= f.submit "Save Grading", :class => 'btn btn-primary', id: "save_grading" %>
      <button type="button" class="btn">Cancel</button>
    </div>
<% end %>



