<%= render partial: "layouts/facebook_like" %>
<div class="page-header">
  <h1>Hello, <%= current_user.display_name || current_user.name %>!</h1>
  <% if can? :manage, Course %>
    <%= link_to 'New Course',
                new_course_path,
                :class => 'btn btn-primary' %>
  <% end %>
</div>

<% if @courses.count > 0 %>
  <% if @courses_std.size > 0 %>
    <h2>Courses you are attending:</h2>
    <br/>
    <%= render :partial => "courses/thumbnails", :locals => { :courses => @courses_std } %>
  <% end %>

  <% if @courses_staff.size > 0 %>
    <h2>Courses you are teaching:</h2>
    <br/>
    <%= render :partial => "courses/thumbnails", :locals => { :courses => @courses_staff } %>
  <% end %>

  <% if @courses_shared.size > 0 %>
    <h2>Courses you are observing:</h2>
    <br/>
    <%= render :partial => "courses/thumbnails", :locals => { :courses => @courses_shared } %>
  <% end %>
  <p>Click <%= link_to 'here', courses_path %> to view all available courses.</p>

<% else %>
  <p>Choose a course to enroll!</p>
  <br/>
  <%= render :partial => "courses/thumbnails", :locals => { :courses => @all_courses } %>
<% end %>
