<div class="row-fluid">
  <div class="code-submission span10">
    <% if mode == "view" %>
        <div class="btn-group" style="float: right" >
          <a class="btn" href="#" id="select-all-code-<%= answer.id  %>" title="Select entire code"><i class="icon-file"></i></a>
          <a class="btn" href="#" id="toggle-comment-<%= answer.id  %>" title="Toggle Annotations"><i class="icon-comment"></i></a>
          <a class="btn" href="#" id="fullscreen-link-<%= answer.id  %>" title="View in fullscreen"><i class="icon-fullscreen"></i></a>
        </div>
    <% end %>
    <div id="source-code-<%= answer.id  %>" class="code-wrapper cos_code"></div>
    <% if qn.is_auto_grading? %>
        <h3>Testing</h3>
        <div id="eval_result" style="font-size: 14px;padding-left: 10px">
          Click Run to test your answer. You can maximally run 3 times.
        </div>
        <button class="btn btn-large btn-block btn-danger" type="button">RUN ( 3 times left )</button>
  <% end %>
  </div>
  <div class="span2"></div>
</div>
<input type="hidden" name="answers[<%=qn.class.to_s%>][<%= qn.id %>]" id="code_<%= answer.id  %>" >
<input type="hidden" id="annotation-path-<%= answer.id  %>" value="/courses/<%=@course.id%>/annotations">
<input type="hidden" class="code-qn" value="<%= answer.id  %>" >
<input type="hidden" id="mode_<%= answer.id  %>" value="<%= mode %>">
<input type="hidden" id="code-language-<%= answer.id  %>" value="python">
<style>
    .CodeMirror-scroll {
        height: 495px !important;
    }
    pre {
        background: transparent;
        white-space: pre;
        font-family:  monospace;
    }

    pre, div {
        padding: 0;
        margin: 0;
        border: 0;
        vertical-align: baseline;
        text-align: left;
        color: inherit;
    }
    #annotate-area {
        padding: 5px;
    }
</style>
<script>
    var source_code = <%= answer ? raw(answer.code.to_json) : raw(JSON.parse(qn.data)["prefill"].to_json) %>;
    $('#code_<%= answer.id  %>').val(source_code);


    var _c = [];
    var _ca = true;
    var _cc = true;

</script>