<div class="row-fluid">
  <div class="code-submission span10">
    <% if mode == "view" %>
        <div class="btn-group" style="float: right" >
          <a class="btn" href="#" id="select-all-code-<%= qn.id %>" title="Select entire code"><i class="icon-file"></i></a>
          <a class="btn" href="#" id="toggle-comment-<%= qn.id %>" title="Toggle Annotations"><i class="icon-comment"></i></a>
          <a class="btn" href="#" id="fullscreen-link-<%= qn.id %>" title="View in fullscreen"><i class="icon-fullscreen"></i></a>
        </div>
    <% end %>
    <div id="source-code-<%= qn.id %>" class="code-wrapper cos_code"></div>
  </div>
  <div class="span2"></div>
</div>
<input type="hidden" name="answers[<%=qn.class.to_s%>][<%= qn.id %>]" id="code_<%= qn.id %>" >
<input type="hidden" id="annotation-path-<%= qn.id %>" value="/courses/<%=@course.id%>/annotations">
<input type="hidden" class="code-qn" value="<%= qn.id %>" >
<input type="hidden" id="mode_<%= qn.id %>" value="<%= mode %>">
<input type="hidden" id="code-language-<%= qn.id %>" value="python">
<style>
    .CodeMirror-scroll {
        height: 495px !important;
    }
    pre {
        background: transparent;
        white-space: pre;
        font-family:  monospace;
    }

    pre, div {
        padding: 0;
        margin: 0;
        border: 0;
        vertical-align: baseline;
        text-align: left;
        color: inherit;
    }
    #annotate-area {
        padding: 5px;
    }
</style>
<script>
    var _source_code = <%= answer ? raw(answer.code.to_json) : raw(JSON.parse(qn.data)["prefill"].to_json) %>;
    $('#code_<%= qn.id %>').val(_source_code);


    var _c = [];
    var _ca = true;
    var _cc = true;

</script>