<%= form_for [@course, @mission, @submission], :html => { :class => 'form-horizontal' } do |f| %>

    <% @questions.each_with_index do |q, i| %>
        <% unless @mission.single_question? %>
            <h3>Question <%= i + 1 %>:</h3>
            <div class="row">
              <div class="span8">
                <span ><%= style_format(q.description) %></span>
              </div>
            </div>
            <br/><br/>
        <% end %>
        <label><h3>Your answer:</h3></label>
        <% if q.class == Question %>
            <textarea name="answers[<%=q.class.to_s%>][<%= q.id %>]" class="span8 html-editor" rows="8"/>
            <% answer = @std_answers[q.id] %>
            <% if answer %>
                <%= answer.text %>
            <% end %>
            </textarea>
        <% else %>
            <% answer = @std_coding_answers[q.id] %>
            <%=render partial: "do_coding",
                      locals:{answer: @std_coding_answers[q.id],
                              qn: q,
                              mode: "edit"
                      }%>
        <% end %>
        <hr/>
        <% require 'digest/md5' %>
        <% ecid =  Digest::MD5.hexdigest(answer.class.to_s << answer.id.to_s) %>
        <input type="hidden" id="submission_url_<%= ecid %>" value="<%= course_mission_submission_url(@course, @mission, @submission) %>">
        <div class="row">
          <div class="span8">
            <%= render partial: "comments/list",
                       locals: { comments:  CommentTopic.comments_to_json(answer.comment_topic, curr_user_course),
                                 target:    answer,
                                 header:    "Comments",
                                 ecid:      ecid,
                                 margin_left: "0px"} %>
          </div>
        </div>
    <% end %>

    <br/>
    <div id="uploaded_files_div"></div>
    <div class="form-actions">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <%= f.submit 'Finalize Submission', :class => 'btn btn-danger', id:"mission_submit" %>
    </div>
<% end %>

<% if @mission.is_file_submission  %>
    <span class="btn" data-toggle="collapse" data-target="#submission-files">
      <i class="icon-upload icon-white"></i>
      <span>Add files for submission</span>
    </span>
    <br/><br/>
    <div id="submission-files" class="collapse out">
      <%= render partial: "layouts/file_uploader_complicated",
                 locals: { owner: @submission } %>
    </div>
<% end %>
