<table class="table table-striped">
  <thead>
    <tr>
      <% if curr_user_course.is_lecturer? %>
        <th width="15%">Student</th>
      <% end %>
      <th>Mission</th>
      <th width="20%">Submitted at </th>
      <th width="15%">Grading</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |sub| %>
      <tr>
        <% if curr_user_course.is_lecturer? %>
          <td><%= sub.std_course.user.name %></td>
        <% end %>
        <td><%= link_to sub.get_asm.get_title, sub.get_asm.get_path %></td>
        <td><%= time_ago_in_words(sub.created_at) %> ago</td>
        <% if curr_user_course.is_lecturer? %>
          <td>
            <% sub.submission_gradings.each do |sg| %>
              <%= link_to sg.get_name, sub.get_path %><br/>
            <% end %>
          </td>
          <% if sub.submission_gradings.count == 0 %>
            <td>
              <%= link_to "Evaluate",
                  sub.get_new_grading_path,
                  class: "btn btn-primary" %>
            </td>
          <% else %>
            <td>
              <%= link_to "View", sub.get_path, class: "btn"%>
            </td>
          <% end %>
        <% elsif curr_user_course.is_student? %>
          <td>
            <%= "Graded" if sub.submission_gradings.count > 0 %>
          </td>
          <td>
            <%= link_to "Review", sub.get_path,
              class: sub.submission_gradings.count > 0 ? "btn btn-primary" : "btn" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
