<table class="table table-striped">
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="15%">Student</th>
      <th>Mission</th>
      <th width="20%">Submit time</th>
      <th width="15%">Grading</th>
      <th width="5%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |sub| %>
      <tr>
        <td><%= link_to sub.id,
                        course_mission_submission_path(@course, sub.mission.id, sub) %></td>
        <td><%= sub.student.name %></td>
        <td><%= link_to sub.mission.title,
                        course_mission_path(@course, sub.mission.id) %></td>
        <td><%= sub.created_at %></td>
        <td>
          <% sub.submission_gradings.each do |sg| %>
            <%= link_to sg.get_name, nil %><br/>
          <% end %>
        </td>
        <td>
          <%= link_to "Evaluate",
              new_course_mission_submission_submission_grading_path(@course, sub.mission.id, sub) ,
              class: "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
