<%- model_class = Submission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<ul class="nav nav-tabs">
  <li class="<%= "active" if @tab == "MissionSubmission" %>">
    <a href="<%= course_submissions_path(@course) %>" data-toggle="tab">Mission Submissions</a>
  </li>
  <li class="<%= "active" if @tab == "TrainingSubmission" %>">
    <a href="<%= course_training_submissions_path(@course) %>" data-toggle="tab">Training Submissions</a>
  </li>
</ul>

<% if can? :see_all, Submission %>
    <form class="form-horizontal" action="<%= nil %>" method="GET">
      <h3>Show only Submissions:</h3>
      <div class="control-group">
        <label>Assignments</label>
        <div class="controls">
          <select name="asm_id">
            <option value="0">Any</option>
            <% @all_asm.each do |asm| %>
                <option value="<%= asm.id %>"
                        <%= "selected" if @selected_asm && asm == @selected_asm %>>
                  <%= asm.get_title %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label>Students</label>
        <div class="controls">
          <select name="student">
            <option value="0">Any</option>
            <% @student_courses.each do |sc| %>
                <option name="student" value="<%= sc.id %>"
                        <%= "selected" if @selected_sc && sc.id = @selected_sc.id %>>
                  <%= sc.name %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
<% end %>

<table class="table">
  <thead>
  <tr>
    <% if can? :see_all, Submission %>
        <th width="20%">Student</th>
    <% end %>
    <th>Mission</th>
    <th>Submitted at </th>

    <th width="15%">
      <% if can? :manage, SubmissionGrading %>
          Grading
      <% else %>
          Status
      <% end %>
    </th>
    <th>
      Grade
    </th>
    <th width="10%">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @sbms.each do |sub| %>
      <tr>
        <% if can? :see_all, Submission %>
            <td>
              <% if @unseen.include?(sub) %>
                  <input type="hidden" class="new_<%= model_class.model_name.human.pluralize %>">
                  <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/48x48/promotion_new.png">
              <% end %>
              <%= render partial: 'layouts/user_name_link', locals: {user_course: sub.std_course} %>
            </td>
        <% end %>
        <td><%= link_to sub.get_asm.get_title, sub.get_asm.get_path %></td>
        <td><%= time_ago_in_words(sub.submit_at || sub.created_at) %> ago</td>
        <!--TODO: refactoring-->
        <% if can? :manage, SubmissionGrading %>
            <td>
              <% sub.submission_gradings.each do |sg| %>
                  <%= link_to sg.get_name, sub.get_path %><br/>
              <% end %>
            </td>
            <td>
              <% grade = sub.submission_gradings.last %>
              <% if grade %>
                  <%= grade.total_grade %> / <%= sub.get_asm.max_grade %>
              <% end %>
            </td>
            <% if sub.submission_gradings.length == 0 %>
                <td>
                  <%= link_to "Evaluate",
                              sub.get_new_grading_path,
                              class: "btn btn-primary" %>
                </td>
            <% else %>
                <td>
                  <%= link_to "View", sub.get_path, class: "btn"%>
                </td>
            <% end %>
        <% else %>
            <td>
              <%= sub.status %>
            </td>
            <td>
              <% grade = sub.submission_gradings.last %>
              <% if grade %>
                  <%= grade.total_grade %> / <%= sub.get_asm.max_grade %>
              <% end %>
            </td>
            <td>
              <%= link_to "Review", sub.get_path,
                          class: sub.graded? ? "btn btn-primary" : "btn" %>
            </td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>

<% if @sbms_paging.display? %>
    <%= paginate @sbms %>
<% end %>

