<div class="page-header">
  <h1>Submissions</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <% if curr_user_course && curr_user_course.is_lecturer? %>
        <th width="20%">Student</th>
      <% end %>
      <th>Mission</th>
      <th width="20%">Submitted at </th>
      <th width="15%">Grading</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @sbms.each do |sub| %>
      <tr>
        <% if curr_user_course && curr_user_course.is_lecturer? %>
          <td>
            <%= sub.std_course.user.name %>
            <% if @unseen.include?(sub) %>
              <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/256x256/promotion_new.png"
            <% end %>
          </td>
        <% end %>
        <td><%= link_to sub.get_asm.get_title, sub.get_asm.get_path %></td>
        <td><%= time_ago_in_words(sub.created_at) %> ago</td>
        <% if curr_user_course %>
          <% if curr_user_course.is_lecturer? %>
            <td>
              <% sub.submission_gradings.each do |sg| %>
                <%= link_to sg.get_name, sub.get_path %><br/>
              <% end %>
            </td>
            <% if sub.submission_gradings.count == 0 %>
              <td>
                <%= link_to "Evaluate",
                    sub.get_new_grading_path,
                    class: "btn btn-primary" %>
              </td>
            <% else %>
              <td>
                <%= link_to "View", sub.get_path, class: "btn"%>
              </td>
            <% end %>
          <% else %>
            <td>
              <%= "Graded" if sub.submission_gradings.count > 0 %>
            </td>
            <td>
              <%= link_to "Review", sub.get_path,
                class: sub.submission_gradings.count > 0 ? "btn btn-primary" : "btn" %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
