<%- model_class = Mission -%>
<div class="page-header">
  <h1><%= @mission.title %></h1>
</div>

<p><%= @mission.description.html_safe %></p>

<table>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @mission.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= @mission.open_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></td>
    <td><%= @mission.close_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>
    <td><%= @mission.deadline %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>
    <td><%= @mission.timelimit %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>
    <td><%= @mission.attempt_limit %></td>
  </tr>
</table>

<%= render partial: "file_uploads/download_files",
           locals: {owner: @mission}%>
<hr/>

<%= render "form" %>