<%- model_class = Mission -%>
<div class="page-header">
  <h1>Mission <%= @mission.pos + 1 %>: <%= @mission.title %></h1>
</div>

<p><%= @mission.description.html_safe %></p>

<table>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @mission.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= @mission.open_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></td>
    <td><%= @mission.close_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>
    <td><%= @mission.deadline %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>
    <td><%= @mission.timelimit %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>
    <td><%= @mission.attempt_limit %></td>
  </tr>
</table>
<hr/>

<%= form_for [@course, @mission, @submission], :html => { :class => 'form-horizontal' } do |f| %>

  <% @questions.each_with_index do |q, i| %>
    <h3>Question <%= i + 1 %>:</h3>
    <span><%= q.description.html_safe %></span>
    <br/><br/>
    <label><strong>Your answer:</strong></label>
    <textarea name="answers[<%= q.id %>]" class="span10" rows="8"/></textarea>
    <hr/>
  <% end %>

  <br/>
  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
    <%= link_to t('.save', :default => t("helpers.links.save")),
                edit_course_mission_path(@course, @mission), :class => 'btn' %>
  </div>
<% end %>
