<div class="page-header">
  <h1>Submission</h1>
</div>

<table>
  <tr><td>Student: </td><td><%= @submission.std_course.user.name %></td></tr>
  <tr><td>Submited at: </td><td><%= time_ago_in_words(@submission.created_at) %> ago</td></tr>
  <% if @grading %>
    <tr>
      <td>Total grade: </td>
      <td>
        <%= @grading.total_grade %> / <%= @mission.max_grade %>
        <%= link_to "Update",
            edit_course_mission_submission_submission_grading_path(@course, @mission, @submission, @grading)
            %>
      </td>
    </tr>
    <tr><td>Grader: </td><td><%= @grading.grader.name %></td></tr>
  <% end %>
</table>
<hr/>

<p class="well"><%= @mission.description.html_safe %></p>

<% @qadata.each do |qid, qa| %>
  <h3>Question <%= qa[:i] %>:</h3>
  <p><%= qa[:q].description.html_safe %></p>
  <h3>Answer:</h3>
  <p><%= qa[:a].text.html_safe %></p>
  <% if @grading %>
    <% if qa[:g] %>
      <h3>Grade: <%= qa[:g].grade %> / <%= qa[:q].max_grade %></h3>
      <% if qa[:g].comment %>
        <strong>Comment:</strong><p><%= qa[:g].comment %></p>
      <% end %>
    <% end %>
  <% end %>
  <hr/>
<% end %>
