<div class="page-header">
  <h1>Submission:  <%= @mission.title %></h1>
</div>
<% require 'digest/md5' %>
<table>
  <tr><td style="width: 100px">Student: </td><td><%= @submission.std_course.user.name %></td></tr>
  <tr><td>Status:</td><td><strong><%= @submission.status  %></strong></td></tr>
  <% if @grading %>
      <tr>
        <td>Total grade: </td>
        <td>
          <%= @grading.total_grade %> / <%= @mission.max_grade %>
          <% if curr_user_course.is_staff? %>
              <%= link_to "Update",
                          edit_course_mission_submission_submission_grading_path(@course, @mission, @submission, @grading)
              %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Total EXP: </td>
        <td>
          <%= @grading.total_exp %> / <%= @mission.exp %>
        </td>
      </tr>
      <tr><td>Grader: </td><td><%= @grading.grader.name %></td></tr>
  <% end %>
  <% if @submission.submitted? || @submission.graded? %>
      <tr><td>Submitted at:</td><td><%= datetime_format(@submission.updated_at) %> </td></tr>
  <% end %>
  <tr><td>Mission due on:</td><td><%= datetime_format @mission.close_at %></td></tr>
</table>
<%= render partial: "file_uploads/download_files",
           locals: {owner: @submission}%>
<hr/>

<div class="well"><%= @mission.description.html_safe %></div>

<%= render partial: "layouts/submission_form", locals: {mode: "view"} %>


