<div class="page-header">
  <h1>Submission</h1>
</div>

<p class="well"><%= @assignment.description %></p>

<% @qadata.each do |qid, qa| %>
  <h4>Question:</h4>
  <p><%= qa[:q].description %></p>
  <ul>
    <% qa[:q].answers.each do |ans| %>
      <li class="<%= (qa[:a] && qa[:a].answer_id == ans.id) && (ans.is_correct ? "mcq-right" : "mcq-wrong") %>">
        <input type="checkbox" disabled <%= "checked" if ans.is_correct %> />
        <span><%= ans.text %></span>
      </li>
    <% end %>
  </ul>
<% end %>

