<div class="page-header">
  <h1>Submission:  <%= @mission.title %></h1>
</div>
<% require 'digest/md5' %>
<table>
  <tr><td style="width: 100px">Student: </td><td><%= @submission.std_course.user.name %></td></tr>
  <tr><td>Submited at:</td><td><%= datetime_format(@submission.updated_at) %> </td></tr>
  <% if @grading %>
      <tr>
        <td>Total grade: </td>
        <td>
          <%= @grading.total_grade %> / <%= @mission.max_grade %>
          <% if curr_user_course.is_staff? %>
              <%= link_to "Update",
                          edit_course_mission_submission_submission_grading_path(@course, @mission, @submission, @grading)
              %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Total EXP: </td>
        <td>
          <%= @grading.total_exp %> / <%= @mission.exp %>
        </td>
      </tr>
      <tr><td>Grader: </td><td><%= @grading.grader.name %></td></tr>
  <% end %>
</table>
<hr/>

<div class="well"><%= @mission.description.html_safe %></div>

<%= render partial: "layouts/submission_form", locals: {mode: "view"} %>


