<%= form_tag course_preferences_path(@course), :method => 'POST' do %>
    <input type="hidden" name="origin" class="origin_url">
    <h3>Course Home Page:</h3>
    <p>Customize what to show in your course home page.</p>

    <table class="table table-bordered table-striped">
      <thead>
      <th>
        Default Section Title
      </th>
      <th>
        Description
      </th>

      <th>
        Customize Title
      </th>
      <th>
        Display?
      </th>

      </thead>

      <tbody>
      <% @preferences.each do |pref| %>
          <% item = pref.preferable_item %>
          <tr>
            <td>
              <%= item.default_value %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <input name="preferences[<%= pref.id%>][prefer_value]" type="text" value="<%= pref.prefer_value %>">
            </td>
            <td>
              <% if item.name != "leaders" %>
                  <input name="preferences[<%= pref.id%>][display]" type="checkbox" <% if pref.display? %> checked <% end %>>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <h3>Other Customizable Values:</h3>
    <p>Other values that can be customized.</p>
    <table class="table table-bordered table-striped">
      <thead>
      <th>
        Default Value
      </th>
      <th>
        Description
      </th>

      <th>
        Customize Value
      </th>

      </thead>

      <tbody>
      <% @no_preferences.each do |pref| %>
          <% item = pref.preferable_item %>
          <tr>
            <td>
              <%= item.default_value %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <input name="preferences[<%= pref.id%>][prefer_value]" type="number" min="0" value="<%= pref.prefer_value %>">
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <h3>Achievement Preferences</h3>
    <p> Preference settings for achievements.</p>
    <div class="info-block">
      <p><%= @achievement_pref.preferable_item.description %>:</p>
      <div style="padding-left:5em" class="checkbox-text">
        <input name="preferences[<%= @achievement_pref.id%>][prefer_value]" value="<%= @achievement_pref.prefer_value %>" type="hidden">
        <input name="preferences[<%= @achievement_pref.id%>][display]" type="checkbox" <% if @achievement_pref.display? %> checked <% end %>>  Display gray scaled icon( A locked icon will be displayed if unchecked)
      </div>
    </div>

    <% if @user_course_pref %>
        <h3>Users</h3>
        <p> Preference settings for users in course.</p>
        <div class="info-block">
          <div style="padding-left:5em" class="checkbox-text">
            <input name="preferences[<%= @user_course_pref.id%>][prefer_value]"
                   value="<%= @user_course_pref.prefer_value %>" type="hidden">
            <input name="preferences[<%= @user_course_pref.id%>][display]"
                   type="checkbox" <% if @user_course_pref.display? %> checked <% end %>>
            <%= @user_course_pref.preferable_item.description %>
          </div>
        </div>
    <% end %>

    <% if @assessment_pref %>
        <h3>Self Directed Learning</h3>
        <div class="info-block">
          <div style="padding-left:5em" class="checkbox-text">
            <input name="preferences[<%= @assessment_pref.id%>][prefer_value]"
                   value="<%= @assessment_pref.prefer_value %>" type="hidden">
            <input name="preferences[<%= @assessment_pref.id%>][display]"
                   type="checkbox" <% if @assessment_pref.display? %> checked <% end %>>
            <%= @assessment_pref.preferable_item.description %>
          </div>
        </div>
    <% end %>

    <div class="center">
      <button class="btn btn-large btn-primary">Update</button>
    </div>
<% end %>
