<%= simple_form_for @course,url: course_preferences_path(@course),method: "POST", :html => { :multipart => true } do |f| %>
    <input type="hidden" name="origin" class="origin_url">
    <table class="table table-bordered table-center">
      <thead>
      <th>
        Name
      </th>
      <th>
        Order
      </th>
      <th>
        Display?(Hide for students)
      </th>
      <th>
        Action
      </th>

      </thead>
      <tbody>
      <%= f.simple_fields_for :course_navbar_preferences do |pref| %>
        <%= render 'course_navbar_preference_fields', f: pref %>
      <% end %>
      </tbody>
    </table>
    <div class="div-add-item-sidebar">
    <%= collection_select(:course_navbar_preference,:course_id,@course.course_navbar_preferences.where(is_enabled: false),:id,:name,prompt: true)%>
    <input type="button" value="Add" id="btn_add_item_sidebar" class="btn"/>
    </div>
    <h3>Levels and Achievement:</h3>
    <p><%= @ranking.preferable_item.description %></p>
    <div class="info-block checkbox-text">
      <input type="checkbox"
             name="preferences[<%= @ranking.id %>][display]"
             <%= "checked" if @ranking.display %>>
      </input>Display
      <input type="hidden" name="preferences[<%= @ranking.id %>][prefer_value]" value="<%= @ranking.prefer_value %>" >
    </div>
    <div class="center">
        <%= f.button :submit, "Update", class: " btn-large btn-primary"%>
    </div>
<% end %>

<script>
	$(document).ready(function() {
    $("#btn_add_item_sidebar").click(function(event) {
        var select_option = $('#<%= "#{:course_navbar_preference}_#{:course_id}" %>').find(":selected");
		var tr_to_show = $('#btn_remove_'+ $(select_option).val()).parent().parent();
		$(tr_to_show).removeClass("hidden_navbar_tr");
		$(tr_to_show).find("input[id*='is_enabled']").prop('checked', true);
		$(select_option).remove();
    	});
  	});
	
	function hide_tr(e)
	{
		var tr_to_hide = $(e).parent().parent();
		$(tr_to_hide).addClass("hidden_navbar_tr");
		$(tr_to_hide).find("input[id*='is_enabled']").prop('checked', false);
		$('#<%= "#{:course_navbar_preference}_#{:course_id}" %>').append($('<option>', {
		    value: $(e).attr('id').split('_')[$(e).attr('id').split('_').length-1],
		    text: $(tr_to_hide).children(":first").children(":first").val()
		}));
	}
</script>
