<div class="page-header">
  <h1>Tag: <%= @tag.name %>
    <% if can? :manage, Tag %>
      <%= link_to edit_course_tag_path(@course, @tag), class: "btn" do %>
       <i class="icon-edit"></i>
      <% end %>
    <% end %>
  </h1>
</div>
<h3>Related Missions:</h3>
<br/>
<table class="table">
  <% @missions.each do |mission| %>
    <tr class="<%= "future" if mission.open_at > Time.now %>">
      <td><h4><%= link_to mission.get_title, mission.get_path %></h4></td>
      <% if curr_user_course.is_student? %>
        <td width="20%">
          <% submission = mission.get_final_sbm_by_std(curr_user_course.id) %>
          <% if submission %>
            <a href="#" class="btn disabled">Done</a>
          <% else %>
            <%= link_to 'Attempt',
                    new_course_mission_submission_path(@course, mission),
                    class: 'btn btn-success' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<h3>Related Trainings:</h3>
<br/>
<table class="table">
  <% @trainings.each do |training| %>
    <tr class="<%= "future" if training.open_at > Time.now %>">
      <td><h4><%= link_to training.get_title, training.get_path %></h4></td>
      <% if curr_user_course.is_student? %>
        <td width="20%">
          <% submission = training.get_final_sbm_by_std(curr_user_course.id) %>
          <% if submission %>
            <% if submission.graded? %>
                  <a href="#" class="btn disabled">Done</a>
            <% else %>
                  <%= link_to 'Continue',
                              edit_course_assessment_training_training_submission_path(@course, training, submission),
                              class: 'btn btn-primary' %>
            <% end %>
          <% else %>
            <%= link_to 'Start',
                    new_course_assessment_training_training_submission_path(@course, training),
                    class: 'btn btn-success' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
