<div class="page-header">
  <h1>Duplicate Data</h1>
</div>

<h2>Duplicate this course to a new course</h2>
<br/>
<p class="well">This action will clone the whole course, including: missions, training, levels,
achievements, and tags. The requirement of achievements, or the tags of the assignments are preserved as well.
</p>

<div class="center">
  <%= link_to "Duplicate Course", course_duplicate_course_path(@course),
    class: "btn btn-large btn-primary center" %>
</div>

<hr/>

<h2>Duplicate individual data</h2>
<br/>
<p class="well">Duplicating the data, the links are not preserved. For example: achievements will not have requirement.
Assignments will not be tagged, etc.</p>

<form action="<%= course_duplicate_assignments_path(@course) %>" action="POST">
  <h3>Select target course:</h3><span>Data will be copied to the course: </span>
  <select name="dest_course">
    <% @my_courses.each do |c| %>
      <option value="<%= c.id %>"><%= c.title %></option>
    <% end %>
  </select>
  <br/>

  <h3>Duplicate following data:</h3>
  <br/>
  <div class="duplicate row">
    <div class="span2" id="duplicate_nav">
      <ul class="nav nav-list duplicate_sidenav" data-spy="affix" data-offset-top="200">
      <% @duplicable_items.each_pair do |model, v| %>
      <li>
        <a href="#<%= model.model_name %>">
          <i class="icon-chevron-right"></i>
        <%= model.model_name.human.pluralize %>
        </a>
      </li>
      <% end %>
      </ul>
    </div>
    <div class="span7">
      <% @duplicable_items.each_pair do |model, v| %>
      <section id="<%= model.model_name %>">
        <div class="page-header">
          <h2><%= model.model_name.human.pluralize %></h2>
        </div>
        <% if model == Level %>
            <% next %>
        <% end %>
        <% if model == MaterialFolder %>
            <% next %>
        <% end %>
        <ul>
          <li class="checkbox-text">
            <input type="checkbox"  name="select-all" class="<%= model.model_name %>">
            <span style="font-weight: bold; font-size: 15px">Select All</span>
          </li>
          <% v.each_with_index do |item, i| %>
              <li class="checkbox-text">
                <input type="checkbox" name="<%= model.model_name %>[]" value="<%= item.id %>" />
                <span><%= item.title %></span>
              </li>
          <% end %>
        </ul>

      </section>

      <% end %>

    </div>
  </div>
  <!--<h3>Missions:</h3>-->
  <!--<ul>-->
    <!--<% @missions.each_with_index do |asm, i| %>-->
      <!--<li>-->
        <!--<input type="checkbox" name="missions[]" value="<%= asm.id %>" />-->
        <!--<span><%= asm.title %></span>-->
      <!--</li>-->
    <!--<% end %>-->
  <!--</ul>-->

  <!--<h3>Trainings:</h3>-->
  <!--<ul>-->
    <!--<% @trainings.each_with_index do |asm, i| %>-->
      <!--<li>-->
        <!--<input type="checkbox" name="trainings[]" value="<%= asm.id %>" />-->
        <!--<span><%= asm.title %></span>-->
      <!--</li>-->
    <!--<% end %>-->
  <!--</ul>-->
  <div class="center">
    <button class="btn btn-large btn-primary">Duplicate selected</button>
  </div>
</form>


<script>
    var offset = 40;

    $(document).ready(function(){
        $("body").scrollspy({target: "#duplicate_nav", offset:offset});
    });


    $('.duplicate_sidenav li a').click(function(event) {
        event.preventDefault();
        $($(this).attr('href'))[0].scrollIntoView();
        scrollBy(0, -offset);
    });

    $("input[name*='select-all']").change(function(e){
        var model = $(this).attr("class");
        var checkboxes = $("input[name='"+model+"[]']");
        if($(this).is(':checked')) {
            checkboxes.attr('checked', 'checked');
        } else {
            checkboxes.removeAttr('checked');
        }
    });

</script>