<div class="page-header">
  <h1>Duplicate Data</h1>
</div>

<h2>Duplicate this course to a new course</h2>
<br/>
<p class="well">This action will clone the whole course, including: missions, training, levels,
  achievements, and tags. The requirement of achievements, or the tags of the assignments are preserved as well.
</p>

<h3>Duplicate Options:</h3>
<p>Time Shift: specify current course start date and new course start date; lesson plan, missions and trainings' dates will be shifted according to the time difference. No shift will happen if one of the date is not entered.</p>
<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Course Start Date</label>
    <div class="controls">
      <div class="datepicker input-append date">
        <input type="text" required="true" class="input-medium" id="from_date" value="<%= date_mdY(@dates[:course]) %>">
      <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">New Course Start Date</label>
    <div class="controls">
      <div class="datepicker input-append date">

        <input type="text" required="true" class="input-medium" id="to_date" value = <%= date_mdY(@dates[:mission]) %>>
      <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
      </div>
    </div>
  </div>


  <div class="control-group">
    <div class="controls checkbox-text ">
      <input checked="true" type="checkbox" id="dup_mission_file">
      Duplicate Mission Files?
    </div>
  </div>

  <div class="control-group">

    <div class="controls checkbox-text ">
      <input checked="true" type="checkbox" id="dup_training_file">
      Duplicate Training Files?
    </div>
  </div>

  <div class="control-group">

    <div class="controls checkbox-text ">
      <input checked="true" type="checkbox" id="dup_workbin_file">
      Duplicate Workbin Files?
    </div>
  </div>

  <div class="center">
    <input type="submit" class="btn btn-large btn-primary center" value="Duplicate Course" id="dup_course_btn">
    <input type="hidden" id="dup_link" value="<%= course_duplicate_course_path(@course) %>">
  </div>
</div>
<hr/>

<h2>Duplicate individual data</h2>
<br/>
<p class="well">Duplicating the data, the links are not preserved. For example: achievements will not have requirement.
  Assessments will not be tagged, etc.</p>

<form action="<%= course_duplicate_assignments_path(@course) %>" method="POST">
  <h3>Select target course:</h3><span>Data will be copied to the course: </span>
  <select name="dest_course">
    <% @my_courses.each do |c| %>
        <option value="<%= c.id %>"><%= c.title %></option>
    <% end %>
  </select>
  <br/>

  <h3>Duplicate following data:</h3>
  <br/>
  <div class="duplicate row">
    <div class="span2" id="duplicate_nav">
      <ul class="nav nav-list float_sidenav" data-spy="affix" data-offset-top="200">
        <% @duplicable_items.each_pair do |key, v| %>
            <li>
              <a href="#<%= key %>">
                <i class="icon-chevron-right"></i>
                <%= key.to_s.pluralize.underscore.titleize %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="span7">
      <% @duplicable_items.each_pair do |key, v| %>
          <section id="<%= key %>">
            <div class="page-header">
              <h2><%= key.to_s.pluralize.underscore.titleize %></h2>
            </div>

            <% if key == :Level %>
                <p class="well">Note: if target course already configued levels, levels won't be copied over.</p>
                <% v = v[1..-1] %>
            <% end %>
            <% if key == :TagGroup or key == :LessonPlanMilestone %>
                <div class="checkbox-text" style="margin-bottom: 10px">
                  <input type="checkbox"  name="select-all" class="<%= key %>">
                  <span style="font-weight: bold; font-size: 15px">Select All</span>
                </div>
                <ul>
                  <% v.each_with_index do |item, i| %>
                      <li>
                        <div  class="checkbox-text">
                          <input type="checkbox" class="<%= key %> with-sub-items" name="<%= key %>[]" value="<%= item.id %>" />
                          <span><%= item.title %></span>
                        </div>
                      </li>
                      <!--<div class="duplicate_mul_entry">-->
                      <% if key == :TagGroup  %>
                          <% sub_items = item.tags  %>
                      <% else %>
                          <% sub_items = item.entries(false) %>
                      <% end %>

                      <ul>
                        <% sub_items.each_with_index do |tag, i| %>
                            <li class="checkbox-text">
                              <input type="checkbox" class="<%= key %><%= item.id %>" name="<%= tag.class.model_name %>[]" value="<%= tag.id %>" />
                              <span><%= tag.title %></span>
                            </li>
                        <% end %>
                      </ul>
                      <!--</div>-->
                  <% end %>
                </ul>
                </section>
                <% next %>
            <% end %>
            <% if key == :MaterialFolder %>
                <% v = v.subfolders %>

            <% end %>
            <div class="duplicate_mul_entry">
              <div class="checkbox-text" style="margin-bottom: 10px">
                <input type="checkbox"  name="select-all" class="<%= key %>">
                <span style="font-weight: bold; font-size: 15px">Select All</span>
              </div>
              <ul>
                <% v.each_with_index do |item, i| %>
                    <li class="checkbox-text">
                      <input type="checkbox" name="<%= key %>[]" value="<%= item.id %>" />
                      <span><%= item.title %></span>
                    </li>
                <% end %>
              </ul>
            </div>

            </section>

      <% end %>
      <div data-spy="affix" class="float-submit">
        <button class="btn btn-large btn-circle" data-disable-with="Processing...">Duplicate selected</button>
      </div>
    </div>

  </div>
  <div class="center">
    <button class="btn btn-large btn-primary" data-disable-with="Processing...">Duplicate selected</button>
  </div>

</form>


<script>
    var offset = 40;

    $(document).ready(function(){
        var $window = $(window)

        $("body").scrollspy({target: "#duplicate_nav", offset:offset});

        setTimeout(function () {
            $('.float_sidenav').affix({
                offset: {
                    top: function () { return $window.width() <= 980 ? 0 : 900 }
                    , bottom: 270
                }
            })
        }, 100)

        setTimeout(function () {
            $('.float-submit').affix({
                offset: {
                    top: function () { return $window.width() <= 980 ? 0 : 900 }
                    , bottom: 0
                }
            })
        }, 100);

        $('.float_sidenav li a').click(function(event) {
            event.preventDefault();
            $($(this).attr('href'))[0].scrollIntoView();
            scrollBy(0, -offset + 20);
        });

        $("input[name*='select-all']").change(function(e){
            var model = $(this).attr("class");
            var checkboxes = $("input[name='"+model+"[]']");
            checkboxes.trigger('click');
            if($(this).is(':checked')) {
                checkboxes.attr('checked', 'checked');
            } else {
                checkboxes.removeAttr('checked');
            }
        });

        $("input[name*='Level[]']").change(function(e){
            var value = $(this).val() - 0;
            var checked = $(this).is(':checked');
            $("input[name*='Level[]']").each(function(i){
                var lv = $(this).val() - 0;
                if(checked) {
                    if(lv < value) {
                        $(this).attr('checked', 'checked');
                    }
                }
                if (lv > value) {
                    $(this).removeAttr('checked');
                }
            });
        });

        $(".with-sub-items").change(function(e){
            var model = $(this).attr("class").split(" ")[0];
            console.log(model);
            var id = $(this).val();
            var tags = $("."+model+id);
            if($(this).is(':checked')) {
                tags.attr('checked', 'checked');
            } else {
                tags.removeAttr('checked');
            }
        });

        $("#dup_course_btn").click(function(e){
            $("body").addClass("loading");
            var url = $("#dup_link").val();

            var from_date = $("#from_date").val();
            var to_date = $("#to_date").val();


            $.getJSON( url,
                    {
                        from_date: from_date,
                        to_date: to_date,
                        mission_files: $("#dup_mission_file").is(':checked'),
                        training_files: $("#dup_training_file").is(':checked'),
                        workbin_files: $("#dup_workbin_file").is(':checked')
                    },
                    function( data ) {
                console.log(data);
                window.location.href = data.url;
            })
        });
    });

</script>