<a class="post-anchor" name="post-<%= post.id %>"></a>
<div id="post-<%= post.id %>" class="post <%= cycle('odd', 'even') -%>">
  <div class="user">
    <% if post.author %>
      <h5 class="username">
        <%= link_to post.author.user, course_user_course_path(@course, post.author) %>
      </h5>
      <div class="icon pull-right">
        <a href="<%= get_social_media_url(post.author) %>">
          <img class="user-profile-pic" src="<%= post.author.user.get_profile_photo_url %>"/>
        </a>
      </div>
    <% else %>
      <h5 class="username">(unknown)</h5>
    <% end %>
  </div>

  <div class="contents <%= post.answer? ? 'answer' : '' -%> <%= 'unread-post' if post.unread?(curr_user_course) %>">
    <div class="pull-right">
      <time datetime="<%= post.created_at.to_s(:db) -%>">
        Posted <%= time_ago_in_words(post.created_at) %> ago
      </time>
    </div>

    <h4 class="title">
      <% if post.unread?(curr_user_course)  %>
        <span class="label">New!</span>
      <% end %>
      <a href="#post-<%= post.id %>"><%= post.title %></a>
    </h4>

    <%= CoursemologyFormatter.style_format(post.text) %>

    <div class="info">
      <div class="pull-right">
        <% if can? :reply_topic, post.topic %>
            <%= link_to 'Reply', reply_course_forum_topic_post_path(@course, @forum, post.topic, post), class: 'btn reply', 'data-post-id' => post.id, 'data-post-title' => post.title %>
        <% end %>
        <% if can? :edit, post %>
            <%= link_to 'Edit', edit_course_forum_topic_post_path(@course, @forum, post.topic, post), class: 'btn' %>
        <% end %>
        <% if can? :destroy, post %>
            <%= render partial: 'layouts/delete_confirm', locals: { display_label: 'Delete', path_to_item: course_forum_topic_post_path(@course, @forum, post.topic, post) } %>
        <% end %>
      </div>

      <div class="voting">
        <% if post.topic.question? and can? :set_answer, @topic %>
            <% if post.answer? %>
                <%= link_to course_forum_topic_post_answer_path(@course, @forum, @topic, post, answer: 0), method: :put, rel: 'tooltip', title: 'Unmark as Answer' do %>
                    <i class="icon-ok"></i>
                <% end %>
            <% else %>
                <%= link_to course_forum_topic_post_answer_path(@course, @forum, @topic, post, answer: 1), method: :put, rel: 'tooltip', title: 'Mark as Answer' do %>
                    <i class="icon-ok"></i>
                <% end %>
            <% end %>
        <% end %>
        <% votes = post.upvotes.size - post.downvotes.size %>
        <% if not current_user.voted_for? post %>
            <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: -1), method: :put, rel: 'tooltip', title: 'Downvote' do %>
                <i class="icon-thumbs-down"></i>
            <% end %>
            <span class="muted"><%= votes %></span>
            <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 1), method: :put, rel: 'tooltip', title: 'Upvote' do %>
                <i class="icon-thumbs-up"></i>
            <% end %>
        <% else %>
            <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 0), method: :put, rel: 'tooltip', title: 'Downvote' do %>
                <i class="icon-thumbs-down"></i>
            <% end %>
            <strong><%= votes %></strong>
            <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 0), method: :put, rel: 'tooltip', title: 'Upvote' do %>
                <i class="icon-thumbs-up"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
