<a class="post-anchor" name="post-<%= post.id %>"></a>
<div id="post-<%= post.id %>" class="post <%= cycle('odd', 'even') -%>">
  <div class="user">
    <h5 class="username">
      <a href="<%= course_user_course_path(@course, post.author) %>"><%= post.author.user %></a>
    </h5>
    <div class="icon pull-right">
      <img class="user-profile-pic" src="<%= post.author.user.get_profile_photo_url %>"/>
    </div>
    <div class="voting pull-right">
      <% if can? :manage, post %>
        <% if post.answer? %>
          <%= link_to course_forum_topic_post_answer_path(@course, @forum, @topic, post, answer: 0), method: :put, title: 'Unmark as Answer' do %>
            <i class="icon-ok"></i>
          <% end %>
        <% else %>
          <%= link_to course_forum_topic_post_answer_path(@course, @forum, @topic, post, answer: 1), method: :put, title: 'Mark as Answer' do %>
            <i class="icon-ok"></i>
          <% end %>
        <% end %>
      <% end %>
      <% votes = post.upvotes.size - post.downvotes.size %>
      <% if not current_user.voted_for? post %>
        <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: -1), method: :put, title: 'Downvote' do %>
          <i class="icon-thumbs-down"></i>
        <% end %>
        <span class="muted"><%= votes %></span>
        <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 1), method: :put, title: 'Upvote' do %>
          <i class="icon-thumbs-up"></i>
        <% end %>
      <% else %>
        <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 0), method: :put, title: 'Downvote' do %>
          <i class="icon-thumbs-down"></i>
        <% end %>
        <strong><%= votes %></strong>
        <%= link_to course_forum_topic_post_vote_path(@course, @forum, @topic, post, vote: 0), method: :put, title: 'Upvote' do %>
          <i class="icon-thumbs-up"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="contents <%= post.answer? ? 'answer' : '' -%>">
    <%= CoursemologyFormatter.sanitize(post.text).html_safe %>

    <div>
      <a href="#post-<%= post.id %>">
        <time datetime="<%= post.created_at.to_s(:db) -%>">
          Posted <%= time_ago_in_words(post.created_at) %> ago
          <% if post.unread?(curr_user_course)  %>
            <span class="label">New!</span>
          <% end %>
        </time>
      </a>

      <div class="pull-right">
        <% if post.topic.can_be_replied_to? %>
          <%= link_to 'Reply', reply_course_forum_topic_post_path(@course, @forum, post.topic, post), class: 'btn reply', 'data-post-id' => post.id %>
        <% end %>
        <% if can? :edit, post %>
          <%= link_to 'Edit', edit_course_forum_topic_post_path(@course, @forum, post.topic, post), class: 'btn' %>
          <%= render partial: 'layouts/delete_confirm', locals: { display_label: 'Delete', path_to_item: course_forum_topic_post_path(@course, @forum, post.topic, post) } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
