<% if summary[:total] == 0 %>
    <p>No one responded yet:|</p>
<% else %>
    <span class="pull-right" style="font-size: 1.3em; font-style: italic">No of respondents: <strong><%= summary[:total] %></strong></span>
    <table class="table table-hover no-boarder" style="margin-left: 5%; width: 90%; margin-top: 50px" >
      <% top = summary[:options].order("count desc")[0].count || 1 %>
      <% summary[:options].each_with_index do |option, index| %>
          <% count = option.get_count(@tab == 'summary_phantom') %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <% if option.file %>
                  <a href="<%= option.file.file_url %>"  class="preview" title="<%= option.description %>"><%= option.description %></a>
              <% else %>
                  <%= option.description %>
              <% end %>

            </td>
            <td style="width: 70%" >
              <div class="progress progress-success">

                <div class="bar" style="width: <%= 100 * (count || 0) / (top * 1.1) %>%"><%= count %></div>
              </div>
              <div class="progress progress-danger">
                <div class="bar" style="width: <%= 100 * (count || 0) / summary[:total] %>%">
                  <%= number_with_precision (100 * (count || 0).to_f / summary[:total]), precision:2 %>%
                </div>
              </div>
            </td>
          </tr>

      <% end %>
    </table>
<% end %>