<%- model_class = Survey -%>
<div class="page-header">
  <h1> <%= @survey.title %></h1>
</div>
<h2 class="assignments-description-title">Survey Description</h2>
<table class="table-top-align">
  <tr>
    <td>
      <div class="pull-left">
        <p><%= @survey.description.html_safe %></p>
        <table class="table table-bordered ">
          <tr>
            <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
            <td><%= datetime_format(@survey.open_at) %></td>
          </tr>
          <tr>
            <td><strong><%= model_class.human_attribute_name(:expire_at) %>:</strong></td>
            <td><%= datetime_format(@survey.expire_at) %></td>
          </tr>
          <tr>
            <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
            <td><%= @survey.exp %></td>
          </tr>

          <tr>
            <td><strong><%= model_class.human_attribute_name(:publish)%>:</strong></td>
            <td><%= @survey.publish? ? 'Yes' : 'No' %></td>
          </tr>

          <tr>
            <td><strong><%= model_class.human_attribute_name(:anonymous)%>:</strong></td>
            <td><%= @survey.anonymous? ? 'Yes' : 'No' %></td>
          </tr>

          <tr>
            <td><strong>Has sections:</strong></td>
            <td><%= @survey.has_section? ? 'Yes' : 'No' %></td>
          </tr>
          <tr>
            <td><strong>Modification After Submission:</strong></td>
            <td><%= @survey.allow_modify? ? 'Yes' : 'No' %></td>
          </tr>

        </table>
      </div>
    </td>
    <% if can? :manage, Survey %>
        <td><%= render partial: "action", locals: {survey: @survey} %></td>
        <td width="10%">
          <%= link_to edit_course_survey_path(@course, @survey), class: "btn" do %>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to course_survey_path(@course, @survey), class: "btn btn-danger", method: "DELETE" do %>
              <i class="icon-trash"></i>
          <% end %>
        </td>
    <% end %>
    </table>


<% if can? :view_detail, @survey %>
    <hr/>
    <% if can? :manage, @survey %>

        <% if @survey.has_section? %>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#new_section_form">
              New Section
            </button>
            <br><br>
            <div id="new_section_form" class="collapse out">
              <div class="well">
                <%= render "survey_sections/form" %>
              </div>
            </div>
        <% else %>
            <%= link_to t('.new', :default => t("helpers.links.new_qn")),
                        new_course_survey_survey_question_path(@course, @survey),
                        :class => 'btn btn-primary' %>
        <% end %>
    <% end %>

    <% if @survey.has_section? %>
        <h2 class="asm-qns-title">Survey Sections</h2>
        <table class="table asm-qns-table no-boarder">
          <tbody class="asm-qns sortable-table" url="<%= reorder_course_survey_survey_sections_path(@course, @survey) %>">
          <% @survey.survey_sections.each_with_index do |s, index| %>
              <tr class="asm-qn" id="sortable-item_<%= s.id %>" >
                <td>
                  <div class="asm-qn-handler">
                    <i class="icon-move handler-icon"></i>
                    <h3 class="handler-text">Section <span class="asm-qn-index"><%= index + 1 %></span>
                      : <%= s.title %>
                    </h3>
                  </div>
                  <table class="table" style="margin-left:  20px;margin-right: 10px">
                    <tbody class="asm-qns sortable-table" url="<%= reorder_course_survey_survey_questions_path(@course, @survey) %>">
                    <% s.survey_questions.each_with_index do |q, i| %>
                        <tr class="asm-qn" id="sortable-item_<%= q.id %>" >
                          <td>
                            <div class="asm-qn-handler" style="background-color: #d9edf7">
                              <i class="icon-move handler-icon"></i>
                              <h3 class="handler-text">Question <span class="asm-qn-index"><%= i + 1 %></span> :  <%= q.type.title %></h3>
                              <strong style="color: #ff0000"><%= '(* required)' if q.is_required? %></strong>
                            </div>
                            <%= render partial: "survey_questions/one", :locals => {q: q} %>
                          </td>
                          <% if can? :manage, Survey %>
                              <td class="action-two-icons">
                                <%= link_to edit_course_survey_survey_question_path(@course, @survey, q),
                                            class: 'btn',
                                            rel: 'tooltip',
                                            "data-original-title"=>"Edit Question" do %>
                                    <i class="icon-edit"></i>
                                <% end %>

                                <%= link_to course_survey_survey_question_path(@course, @survey, q),
                                            class: 'btn',
                                            method: :delete,
                                            data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete this question?")) },
                                            class: 'btn btn-danger' do %>
                                    <i class="icon-trash"></i>
                                <% end %>
                              </td>
                          <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
                <% if can? :manage, Survey %>
                    <td class="action-there-icons">
                      <%= link_to "#{new_course_survey_survey_question_path(@course, @survey)}?section_id=#{s.id}",
                                  class: 'btn',
                                  rel: 'tooltip',
                                  "data-original-title"=>"Add new question" do %>
                          <i class="icon-plus"></i>
                      <% end %>
                      <button class="btn edit-section" id="<%= s.id %>"  url="<%= course_survey_survey_section_path(@course, @survey, s) %>">
                        <i class="icon-edit"></i>
                      </button>

                      <%= link_to course_survey_survey_section_path(@course, @survey, s),
                                  class: 'btn',
                                  method: :delete,
                                  data: { :confirm => t('.confirm', :default => t("helpers.links.confirm",
                                                                                  :default => "Are you sure to delete section #{s.title}? All questions under this section will be deleted too.")) },
                                  class: 'btn btn-danger' do %>
                          <i class="icon-trash"></i>
                      <% end %>
                    </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% else %>

        <table class="table asm-qns-table">
          <tbody class="asm-qns">
          <% @survey.questions.each_with_index do |question, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= question.description.html_safe %></td>
                <td>
                  <%= link_to edit_course_survey_survey_question_path(@course, @survey, question), class: 'btn' do %>
                      <i class="icon-edit"></i>
                  <% end %>
                  <%= link_to course_survey_survey_question_path(@course, @survey, question),
                              method: :delete,
                              data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              class: 'btn btn-danger' do %>
                      <i class="icon-trash"></i>
                  <% end %>

                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>

<div class="modal hide fade" id="manage-section">
  <form name="myForm" class="form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="location.reload();">&times;</button>
      <h3>Edit Section</h3>
    </div>
    <div class="modal-body form-horizontal">
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
          <input type="text" class="text_field" id="section-title" required="true"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea class="text_area span3 html-editor" rows="4" id="section-dep"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" id="section-submit">Update</button>
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </form>
</div>

<script>
    $(document).ready(function(){
        $(".edit-section").click(function(e){
            $("#manage-section").modal('show');
            var url = $(this).attr('url');
            $.ajax(url, {
                type: "GET",
                dataType: "json",
                success: function(data) {
                    $("#section-title").val(data.title);
                    editor.setValue(data.description);
//                    $("#section-dep").val(data.description);
                    $("#section-submit").attr('url', url);
                }
            })

        });

        $('#section-submit').click(function(e){
            var url = $(this).attr('url');
            $.ajax(url, {
                type: "PUT",
                dataType: "json",
                data: {
                    title: $("#section-title").val(),
                    description: $("#section-dep").val()
                },
                success: function(resp) {
                    location.reload();
                }
            })
        });

        $('#section-title').keyup(function(e){
            if($(this).val() == "") {
                $('#section-submit').attr('disabled', true);
            } else {
                $('#section-submit').removeAttr('disabled');
            }
        });
    });
</script>

