<div class="page-header">
  <h1>Survey Summary: <%=  @survey.title %></h1>
</div>

<%= render partial: "nav_bar" %>

<div style="margin-bottom: 20px">
  <a class="btn" href="<%= course_survey_summary_with_format_path(format:"csv") %>?_tab=<%= @tab %>">Export Summary as .csv</a>
  <a class="btn" href="<%= course_survey_summary_with_format_path(format:"xlsx") %>?_tab=<%= @tab %>">Export Summary as .xlsx</a>
</div>

<% if @survey.is_contest? %>
    <%= render partial: "questions_summary", locals: {questions: @summaries[0][:questions]} %>
<% else %>
    <%= check_box_tag "reorder-check-box", "", params[:order] == "yes" %>
    <%= label_tag "Sort answers by voting count" %>

    <% @summaries.each_with_index do |summary, i| %>
        <div class="page-header">
          <h2><%= summary[:section].title %></h2>
        </div>
        <%= render partial: "questions_summary", locals: {questions: summary[:questions]} %>
    <% end %>
<% end %>


<style>
    #preview{
        position:absolute;
        border:1px solid #ccc;
        background:#333;
        padding:5px;
        display:none;
        max-width: 400px;
        color:#fff;
    }
</style>
<script>
    /*
     * Image preview script
     * powered by jQuery (http://www.jquery.com)
     *
     * written by Alen Grakalic (http://cssglobe.com)
     *
     * for more info visit http://cssglobe.com/post/1695/easiest-tooltip-and-image-preview-using-jquery
     *
     */

    imagePreview = function(){
        /* CONFIG */

        xOffset = 10;
        yOffset = 30;

        // these 2 variable determine popup's distance from the cursor
        // you might want to adjust to get the right result

        /* END CONFIG */
        $("a.preview").hover(function(e){
                    this.t = this.title;
                    this.title = "";
                    var c = (this.t != "") ? "<br/>" + this.t : "";
                    $("body").append("<p id='preview'><img src='"+ this.href +"' alt='Image preview' />"+ c +"</p>");
                    $("#preview")
                            .css("top",(e.pageY - xOffset) + "px")
                            .css("left",(e.pageX + yOffset) + "px")
                            .fadeIn("fast");
                },
                function(){
                    this.title = this.t;
                    $("#preview").remove();
                });
        $("a.preview").mousemove(function(e){
            $("#preview")
                    .css("top",(e.pageY - xOffset) + "px")
                    .css("left",(e.pageX + yOffset) + "px");
        });
    };

    function changeOrAddParamByName( href, paramName, newVal ) {
        if ( href.indexOf( paramName ) < 0 ){
            href += "&" + paramName + "=" + newVal
        } else {
            var tmpRegex = new RegExp("(" + paramName + "=)[a-z]+", "ig");
            href = href.replace( tmpRegex, "$1" + newVal );
        }

        return href
    }

    $( document ).ready(function(){
        imagePreview();

        $( "#reorder-check-box" ).change(function(){
            var url = window.location.href;
            url = changeOrAddParamByName( url, "order", this.checked ? "yes" : "no" );
            window.location.href = url;
        });
    });
</script>