<% @qadata.each do |qid, qa| %>
    <hr/>
    <% unless @assessment.single_question? %>
        <h3><%=  qa[:q].get_title %></h3>
        <div class="row-fluid">
          <div class="submission-question-block span10"><%= style_format(qa[:q].description) %></div>
        </div>
    <% end %>
    <h3>Answer:</h3>
    <% if qa[:a] %>
        <% if @assessment.file_submission_only? %>
            <p style="font-style: italic">Answer is contained in the submission file(s).</p>
        <% elsif qa[:q].class == CodingQuestion %>
            <%= render partial: "submissions/do_coding",
                       locals: {answer: qa[:a],
                                qn:     qa[:q],
                                submission: submission,
                                mode:   "view"}%>
        <% else %>
            <div class="row-fluid">
              <div class="submission-question-block span10">
                <%= qa[:a].answer.html_safe %>
              </div>
            </div>
        <% end %>
        <input type="hidden" name="ags[<%= qa[:g].id if qa[:g] %>][student_answer_id]" value="<%= qa[:a].id %>">
        <input type="hidden" name="ags[<%= qa[:g].id if qa[:g] %>][student_answer_type]" value="<%= qa[:a].class.name %>">
        <% if @assessment.comment_per_qn? %>
            <div class="row-fluid">
              <div class="span10">
                <% require 'digest/md5' %>
                <% ecid =  Digest::MD5.hexdigest(qa[:a].class.to_s << qa[:a].id.to_s) %>
                <input type="hidden" id="submission_url_<%= ecid %>" value="<%= course_mission_submission_url(@course, @mission, @submission) %>">
                <%= render partial: "comments/list",
                           locals: { comments:  CommentTopic.comments_to_json(qa[:a].comment_topic, curr_user_course),
                                     target:    qa[:a],
                                     header:    "Comments",
                                     ecid:      ecid,
                                     margin_left: "0px"} %>
              </div>
            </div>
        <% end %>
        <!--show condition: new grading, review grading, update grading -->
        <% if  !@assessment.single_question? and @grading%>
            <div class="row-fluid">
              <div class="span10">
                <div class="grading-block">
                  <% max_grade = qa[:q].max_grade  %>
                  <% exp = (@assessment.exp * (qa[:q].max_grade.to_f / @assessment.max_grade.to_f)).to_i %>
                  <h4>Grade awarded</h4>
                  <% if mode == 'view' %>
                      <strong><%= qa[:g].grade if qa[:g] %></strong>
                  <% else %>
                      <input type="number"
                             name="ags[<%= qa[:g].id if qa[:g] %>][grade]"
                             value="<%= qa[:g].grade if qa[:g] %>"
                             class="input-small grade-input"
                             max="<%= max_grade %>"
                             id="grade-awarded-<%= qid %>"
                             onchange="suggestEXP(<%= @mission.max_grade %>, <%= @mission.exp %>)"
                             required
                      />
                  <% end %>
                  <strong> / <%= max_grade %> </strong>
                </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <h4>No answer</h4>
    <% end %>
<% end %>
<% if @grading %>
    <hr>
    <div class="row-fluid">
      <div class="span10">
        <div class="grade-summary">
          <% unless @assessment.single_question? %>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Question</th>
                  <th>Grade</th>
                </tr>
                </thead>
                <tbody>
                <% @qadata.each do |qid, qa| %>
                    <tr>
                      <td><%=  qa[:q].get_title(qa[:i])%></td>
                      <td><%= qa[:g].grade if qa[:g]  %>  <strong> / <%= qa[:q].max_grade %> </strong></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
          <h4>Total Grade:</h4>
          <% if mode == 'view' %>
              <strong><%= @grading.total_grade %></strong>
          <% else %>
              <input type="number"
                     value="<%= @submission_grading.total_grade if @submission_grading %>"
                     max="<%= @assessment.max_grade %>"
                     class="input-small"
                     name="grade_sum"
                     id="grade-sum"
                     onchange="suggestEXP(<%= @assessment.max_grade %>, <%= @assessment.exp %>, true )"
                     <%= 'disabled' unless @assessment.single_question? %>>
          <% end %>
          <strong> / <%= @assessment.max_grade %></strong>
          <br><br>
          <h4>EXP awarded</h4>
          <% if mode == 'view' %>
              <strong><%= @grading.total_exp %></strong>
          <% else %>
              <input type="number"
                     name="exp_sum"
                     value="<%= @submission_grading.total_exp if @submission_grading %>"
                     max="<%= @assessment.exp %>"
                     class="input-small exp-input"
                     id="exp-sum"
                     required/>
          <% end %>
          <strong> / <%= @assessment.exp %></strong>
          <% if mode != 'view' %>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;Multiplier:</span>
              <input type="number"
                     max="1"
                     id="exp-multiplier"
                     class="input-mini"
                     value="1"
                     step="0.1"
                     onchange="suggestEXP( <%= @assessment.max_grade %>, <%= @assessment.exp %>, true)"
              >
          <% end %>
        </div>
      </div>
    </div>
<% end %>
<% unless @assessment.comment_per_qn? %>
    <input type="hidden" id="submission_url_<%= @submission.id %>" value="<%= course_mission_submission_url(@course, @mission, @submission) %>">
    <div class="row">
      <div class="span8">
        <%= render partial: "comments/list",
                   locals: { comments:  CommentTopic.comments_to_json(@submission.comment_topic, curr_user_course),
                             target:    @submission,
                             header:    "Comments",
                             ecid:      @submission.id,
                             margin_left: "0px"} %>
      </div>
    </div>
<% end %>
<script>
    function suggestEXP(max, exp, sum) {

        var sum_grade = 0;
        if (typeof(sum) == 'undefined') {
            grade_input = $(".grade-input");

            grade_input.each(function(){
                sum_grade += $(this).val() - 0;
            });

        } else {
            sum_grade = $('#grade-sum').val() - 0;
        }

        multiplier = $("#exp-multiplier").val() - 0;
        multiplier = multiplier > 1 ? 1 : multiplier;

        total_grade = $("#grade-sum");


        var result = Math.round(Math.round(multiplier * (exp * sum_grade / max) / 5) * 5);
        $("#exp-sum").val(result);
        total_grade.val(sum_grade);
    }

    $(document).ready(function() {
        if ($("#exp-sum").val() == "")
            suggestEXP( <%= @mission.max_grade %>, <%= @mission.exp %> );
    });
</script>