<!DOCTYPE html>
<html ng-app="coursemologyApp">
<head>
  <title>Coursemology</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.png">
  <%= wicked_pdf_stylesheet_link_tag "application" %>
</head>
<body class="pdfbody">

    <div class="container-fluid">

      <div class="page-header">
        <h1>Grading : <%= @assessment.title %></h1>
      </div>

      <% require 'digest/md5' %>
      <table class="table table-bordered" style="width: 300px">
        <tbody class="table-hover">
        <tr><td style="width: 100px">Student: </td><td><%= render partial: 'layouts/user_name_link', :formats => [:html], locals: {user_course: @submission.std_course}%></td></tr>
        <tr><td>Status:</td><td><strong><%= @submission.status  %></strong></td></tr>
        <% if @grading %>
            <tr>
              <td>Total grade: </td>
              <td>
                <%= @grading.grade %> / <%= @assessment.max_grade %>
              </td>
            </tr>
            <tr>
              <td>Total EXP: </td>
              <td>
                <%= @grading.exp %> / <%= @assessment.exp %>
              </td>
            </tr>
            <tr><td>Grader: </td><td><%= @grading.grader.name if @grading.grader %></td></tr>
            <tr>
              <td>Graded at:</td><td><%=  datetime_format(@grading.created_at) %></td>
            </tr>
        <% end %>
        <% if @submission.submitted? || @submission.graded? %>
            <tr><td>Submitted at:</td><td><%= datetime_format(@submission.submitted_at || @submission.updated_at) %> </td></tr>
        <% end %>
        <tr><td>Due on:</td><td><%= datetime_format @assessment.close_at %></td></tr>
        </tbody>
      </table>

      <%= render partial: "file_uploads/download_files", :formats => [:html], locals: {owner: @assessment}%>
      <%= render partial: "file_uploads/download_files", :formats => [:html], locals: {owner: @submission}%>

      <hr/>

      <div class="well"><%= @assessment.description.html_safe %></div>

      <% if @assessment.specific.respond_to? :single_question? and @assessment.specific.single_question? %>
          <%= render :partial => 'assessment/gradings/single_question_form', :formats => [:html], locals: {mode: "view"} %>
      <% else %>
          <%= render :partial => 'assessment/gradings/multiple_question_form', :formats => [:html], locals: {mode: "view"} %>
      <% end %>

    </div>

</body>
</html>
