<% if @curr_user_course.is_staff? %>

	<ul class="nav nav-tabs">
	  <li class="<%= "active" if @tab == "mystudents" %>">
	    <a href="<%= course_student_summary_path(@course) %>?_tab=mystudents">My Students</a>
	  </li>
	  <li class="<%= "active" if @tab == "summary" %>">
	    <a href="<%= course_student_summary_path(@course) %>?_tab=summary">Student Summary</a>
	  </li>
	</ul>

	<% if @tab == "mystudents" %>
	    <%= render partial: "my_students" %>
	<% else %>
	    <%= render partial: "student_summary" %>
	<% end %>
	
<% else %>
  <%= render partial: "student_summary" %>
<% end %>