<% if (!@is_raw) %>
    <div class="page-header">
      <table>
        <tr>
          <td>
            <img class="user-profile-pic"
                 src="<%= @user_course.user.get_profile_photo_url %>" />
          </td>
          <td style="padding-left: 10px">
            <a id="student-large" href="<%= course_user_course_path(@course, @user_course)%>"><%= @user_course.name %></a>
            <p><%= @user_course.user.email %></p>
          </td>
        </tr>
      </table>
      <div style="padding-top: 10px">
        Duration:
        <strong> <%= @from_date ? date_dmy_to_readable_format(@from_date) : 'Past' %> </strong>
        -
        <strong> <%= @to_date ? date_dmy_to_readable_format(@to_date) : 'Now'%> </strong>
        <div>
          Post count: <strong><%= @result.length %></strong>
        </div>
      </div>
    </div>
<% end %>
<table class="table table-striped no-boarder" id="dg-std-table">
  <thead>
  <tr>
    <th>
      Post Content
    </th>
    <th>
      Likes
    </th>
    <th>
      Date Posted
    </th>
  </tr>
  </thead>
  <tbody>
  <% if (@result.length == 0) %>
      <tr>
        <td colspan="3">
          No posts found.
        </td>
      </tr>
  <% end %>
  <% @result.each do |post| %>
      <tr>
        <td>
          <h5>THREAD: <a href="<%= main_app.course_forum_topic_path(@course, post[:forum], post[:topic_id], :anchor => 'post-' + post[:id].to_s) %>"> <%= post[:subject] %></a></h5>
          <%= CoursemologyFormatter.sanitize(post[:text]).html_safe %>
        </td>
        <td style="text-align: center">
          <%= post[:likes] %>
        </td>
        <td style="white-space: nowrap">
          <%= datetime_no_seconds(post[:created]) %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>