<div class="page-header">
  <h1><%=t '.title', :default => "Level Design"%></h1>
</div>

<% if @levels.size == 0 %>
  <form action=<%= course_levels_populate_path(@course) %> method="POST">
    <h2>Number of level:
      <input name="num_level" />
      <button type="submit" class="btn btn-primary">Create levels</button>
    </h2>
  </form>
<% else %>
  <h2>Number of level: <%= @levels.size %></h2>

  <table class="table exp-table">
    <thead>
      <tr>
        <th width="10%">Level</th>
        <th>EXP required</th>
      </tr>
    </thead>
    <tbody>
      <% @levels.each_with_index do |lvl, k| %>
        <%= render partial: "levels/level_row", locals: { lvl: lvl } %>
      <% end %>
    </tbody>
  </table>
  <div>
    <span>Add new level: </span>
    <input class="new-lvl-exp"></input>
    <%= link_to 'Add', course_levels_path(@course), class: 'btn btn-mini add-lvl' %>
  </div>

<% end %>
