<div class="page-header">
  <h1><%=t '.title', :default => "Level Design"%></h1>
</div>

<% if @levels.size == 0 %>
  <form action=<%= course_levels_populate_path(@course) %> method="POST">
    <h2>Number of level:
      <input name="num_level" />
      <button type="submit" class="btn btn-primary">Create levels</button>
    </h2>
  </form>
<% else %>
  <h2>Number of level: <%= @levels.size %></h2>

  <table class="table exp-table">
    <thead>
      <tr>
        <th width="10%">Level</th>
        <th>EXP required</th>
      </tr>
    </thead>
    <tbody>
      <% @levels.each do |lvl| %>
      <tr>
        <td><%= lvl.level %></td>
        <td><%= lvl.exp_threshold %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
