<%= form_for @course, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Give it an awesome name", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field span6',
          placeholder: "eg: Maths Universe, Geovengers" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Give it an awesome backstory", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area span6', rows: '10',
          placeholder: "eg: Darth Vader is taking over the universe. We need you to save the day!" %>
    </div>
  </div>

  <% if @course.id %>
    <div class="control-group">
      <%= f.label "Course Logo", class: 'control-label' %>
      <div class="controls">
        <img src="<%= @course.logo_url %>" class="course-logo-preview course-logo-target" alt="Logo Preview" />
        <%= f.hidden_field :logo_url, class: "course-logo-target" %>
        <br/>
        <a href="#image-uploader-modal"
            class="image-uploader-trigger"
            data-target=".course-logo-target"
            data-toggle="modal">Upload new logo</a>
      </div>
    </div>

    <hr/>
    <h1>Customize Theme</h1>
    <div class="control-group">
      <label>Background Color</label>
      <div class="controls">
        <div class="input-append color colorpicker" data-color="rgb(255, 146, 180)" data-color-format="hex" id="cp3">
          <input type="text" class="span2" value="">
          <span class="add-on"><i style="background-color: rgb(148, 108, 120);"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Sidebar Text Color</label>
      <div class="controls">
        <div class="input-append color colorpicker" data-color="rgb(255, 146, 180)" data-color-format="hex" id="cp3">
          <input type="text" class="span2" value="">
          <span class="add-on"><i style="background-color: rgb(148, 108, 120);"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Feed Icon</label>
      <div class="controls">
        <i class="icon-home"></i>
      </div>
    </div>
    <div class="control-group">
      <label>Announcement Icon</label>
      <div class="controls">
        <i class="icon-bullhorn"></i>
      </div>
    </div>
    <div class="control-group">
      <label>Training Icon</label>
      <div class="controls">
        <i class="icon-envelope"></i>
      </div>
    </div>
    <div class="control-group">
      <label>Submission Icon</label>
      <div class="controls">
        <i class="icon-envelope-alt"></i>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Background Image", class: 'control-label' %>
      <div class="controls">
        <img src="<%= @course.logo_url %>" class="course-logo-preview background-image-target" alt="Preview" />
        <%= f.hidden_field :logo_url, class: "background-image-target" %>
        <br/>
        <a href="#image-uploader-modal"
            class="image-uploader-trigger"
            data-target=".background-image-target"
            data-toggle="modal">Upload image</a>
      </div>
    </div>

  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                courses_path, class: 'btn' %>
  </div>
<% end %>

<% if @course.id %>
<%= render partial: "layouts/image_uploader",
      locals: { upload_to: course_file_uploads_path(@course),
                container_class: '',
                image_url_class: '' } %>
<% end %>

