<div class="span8">
  <table class="table-top-align">
    <tr>
      <td>
        <a href="<%= course_path(@course) %>">
          <img class="about-course-logo" src="<%= @course.logo_url %>" />
        </a>
      </td>
      <td>
        <h1><%= @course.title %></h1>
      </td>
      <td>
        <%= link_to new_course_enroll_request_path(@course), class: "btn btn-primary" do %>
          Request to<br/>Enroll
        <% end %>
      </td>
      <% if can? :ask_for_share, Course %>
        <td>
          <%= link_to new_course_enroll_request_path(@course, role: Role.shared.first.name),
            class:"btn btn-info" do %>
              Request to<br/>Observe</a>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
  <hr/>
  <h2>About</h2>
  <br/>
  <p>
    <%= @course.description.html_safe %>
  </p>
  <br/>
  <h2>Lecturers</h2>
  <br/>
  <ul>
  <% @course.lect_courses.each do |lecturer_course| %>
    <li>
      <% user = lecturer_course.user %>
      <a class="user-thumb-profile" href="#">
        <img class="user-profile-pic" src="<%= user.profile_photo_url %>" />
        <strong><%= user.name %></strong>
      </a>
      <div class="clearfix"></div>
    </li>
  <% end %>
  </ul>
</div>
