<div class="page-header">
  <h1>Pending Grading</h1>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Student</th>
    <th>Mission</th>
    <th>Submitted at </th>
    <th>Tutor</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @pending_gradings.each do |sub| %>
      <tr>
        <td>
          <%= sub.std_course.name %>
        </td>
        <td><%= link_to sub.assessment.get_title, sub.assessment.get_path %></td>
        <td><%= datetime_format sub.submitted_at %> </td>
        <td>
          <%= sub.std_course.get_my_tutor_name %>
        </td>
        <% if can? :manage, Assessment::Grading %>

            <td>
              <%= link_to "Evaluate",
                          new_course_assessment_submission_grading_path(@course, sub.assessment, sub),
                          class: "btn btn-primary" %>
            </td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>

<script>
    count = <%= @pending_gradings.size %>;
    $("#badge_PendingGrading")[0].innerHTML = count || ""
</script>