<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @course.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:creator_id) %>:</strong></dt>
  <dd><%= @course.creator_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @course.description %></dd>
</dl>

<%= link_to "New Assignment",
            new_course_assignment_path(@course),
            :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%= model_class.human_attribute_name(:exp) %></th>
      <th><%= model_class.human_attribute_name(:open_at) %></th>
      <th><%= model_class.human_attribute_name(:close_at) %></th>
      <th><%= model_class.human_attribute_name(:deadline) %></th>
      <th><%= model_class.human_attribute_name(:timelimit) %></th>
      <th><%= model_class.human_attribute_name(:attempt_limit) %></th>
      <th><%= model_class.human_attribute_name(:auto_graded) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:creator_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.id, course_assignment_path(@course, assignment) %></td>
        <td><%= assignment.course_id %></td>
        <td><%= assignment.exp %></td>
        <td><%= assignment.open_at %></td>
        <td><%= assignment.close_at %></td>
        <td><%= assignment.deadline %></td>
        <td><%= assignment.timelimit %></td>
        <td><%= assignment.attempt_limit %></td>
        <td><%= assignment.auto_graded %></td>
        <td><%= assignment.order %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.creator_id %></td>
        <td><%=l assignment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_assignment_path(@course, assignment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_assignment_path(@course, assignment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_path(@course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
