<% if !curr_user_course.id %>
    <div class="page-header">
      <h1><%= @course.title %></h1>
      <% if current_user %>
          <div class="pull-right">
            <a href="<%= new_course_enroll_request_path(@course) %>" class="btn btn-primary">Request to Enroll</a>
            <% if can? :manage, Course %>
                <br/>
                <br/>
                <%= link_to new_course_enroll_request_path(@course, role: Role.shared.first.name),
                            class:"btn btn-info" do %>
                    Request to Observe</a>
                <% end %>
            <% end %>
          </div>
      <% end %>
      <div class="media">
        <a class="pull-left activity-icon" href="#">
          <img class="media-object activity-icon"
               src="<%= @course.creator.profile_photo_url %>" >
        </a>
        <div class="media-body">
          <%= @course.creator.name %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <p><%= @course.description %></p>
<% end %>
<% if @announcements and @announcements.first %>
    <h2><%= @announcement_pref.prefer_value%></h2>
    <div class="info-block">
      <% @announcements.each do |announcement| %>
          <div class="announcement">
            <h4>
              <% if @is_new.has_key?(announcement.id) %>
                  <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/48x48/promotion_new.png">
              <% end %>
              <%= announcement.title %>
            </h4>
            <%= render partial: "announcements/announcement", locals: { announcement:announcement } %>
          </div>
      <% end %>
    </div>
<% end %>

<% if @pending_actions and @pending_actions.first %>
    <div class="pending-actions-block">
      <h2>Pending Actions</h2>
      <hr>
      <table class="table table-hover table-striped no-boarder pending-actions span9">
        <thead>
        <tr style="background-color: #f9f9f9">
          <th>Item</th>
          <th>Open Date</th>
          <th>End Date</th>
          <th>EXP</th>
          <th>Action</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @pending_actions.each_with_index do |pa, i| %>
            <% item = pa.item %>
            <tr class="<%= 'error' if i == 0 %> ">
              <td style="vertical-align: middle"><%= item.title %></td>
              <td style="vertical-align: middle"><%= date_mdY(item.open_at) %></td>
              <td style="vertical-align: middle"><%= date_mdY(item.close_at) %></td>
              <td style="vertical-align: middle"><%= item.current_exp %></td>
              <td style="vertical-align: middle">
                <% if item.is_a? (Assessment::Mission) %>
                    <%= render partial: "assessment/missions/action", locals: {ast: item, event_label: "PendingActions"} %>
                <% elsif item.is_a?(Assessment::Training) %>
                    <%= render partial: "assessment/trainings/action", locals: {ast: item, event_label: "PendingActions"} %>
                <% elsif item.class == Survey %>
                    <%= render partial: "surveys/action", locals:{survey: item, event_label: "PendingActions"} %>
                <% end %>
              </td>
              <td style="vertical-align: middle">
                <a onclick="event_log('PendingActions', 'ignore', 'clicked', true)" url="<%= course_pending_actions_ignore_path(@course, pa) %>" class="btn btn-info ignore">Ignore</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @activities and @activities.first %>
    <h2><%= @activities_pref.prefer_value%></h2>
    <hr>
    <table class="activities">
      <% @activities.each do |act| %>
          <% unless act.actor_course.nil? || act.action.nil? || act.actor_course.is_phantom? || act.actor_course.is_staff? || act.obj.nil? %>
              <% cache ("activities/#{act.id}") do %>
                  <tr>
                    <td width="25px">
                      <a class="pull-left activity-icon" href="<%= get_social_media_url(act.actor_course) %>">
                        <img class="media-object"
                             src="<%= act.actor_course.user.get_profile_photo_url %>">
                      </a>
                    </td>
                    <td>
                      <a href="<%= course_user_course_path(@course, act.actor_course) %>">
                        <%= act.actor_course.name %>
                      </a> <%= act.action.text %>
                      <strong> <%= act.obj_url ? "<a href=\"#{act.obj_url}\">#{act.obj.get_title}</a>".html_safe : act.obj.get_title%></strong>
                      <br/>
              <% end %>
              <span class="time-small"><%= time_ago_in_words(act.created_at) %> ago</span>
              </td>
              </tr>
          <% end %>
      <% end %>
    </table>
<% end %>
