<% if !curr_user_course %>
  <div class="page-header">
    <h1><%= @course.title %></h1>
    <% if current_user %>
      <div class="pull-right">
        <a href=<%= new_course_enroll_request_path(@course) %> class="btn btn-primary">Request to Enroll</a>
      </div>
    <% end %>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object activity-icon"
          src=<%= @course.creator.profile_photo_url %> >
      </a>
      <div class="media-body">
        <%= @course.creator.name %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <p><%= @course.description %></p>
<% end %>

<% if curr_user_course %>
  <div class="page-header">
    <h1>Updates</h1>
  </div>
<% else %>
  <h2>Updates</h2>
  <br/>
<% end %>

<ul class="activities">
<% @activities.each do |act| %>
  <li class="media">
    <a class="pull-left" href=<%= course_user_course_path(@course, act.actor_course) %>>
      <img class="media-object activity-icon"
        src=<%= act.actor_course.user.profile_photo_url %> >
    </a>
    <div class="media-body">
      <a href=<%= course_user_course_path(@course, act.actor_course) %>>
        <%= act.actor_course.user.name %>
      </a> <%= act.action.text %>
      <a href=<%= act.obj.get_path %>><%= act.obj.get_title %></a>
      &middot;
      <span class="time-small"><%= time_ago_in_words(act.created_at) %>
    </div>
    <div class="clearfix">
  </li>
<% end %>
</ul>

