<div class="page-header">
  <h1>Updates</h1>
</div>

<ul class="activities">
<% @activities.each do |act| %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object activity-icon"
        src=<%= act.actor.profile_photo_url %> >
    </a>
    <div class="media-body">
      <a href='#'><%= act.actor.name %></a> <%= act.action.text %>
      <a href=<%= act.obj.get_path %>><%= act.obj.get_title %></a>
      &middot;
      <span class="time-small"><%= time_ago_in_words(act.created_at) %>
    </div>
    <div class="clearfix">
  </li>
<% end %>
</ul>
