<% if flash[:alert] %>
    <div class="alert alert-error">
      <%= flash[:alert] %>
    </div>
<% end %>
  <h1>Class Enrollment</h1>
<% if curr_user_course.is_student? %>
    <h3>Lecturers:</h3>
    <br/>
    <ul>
      <% @lecturer_courses.each do |lecturer_course| %>
          <li>
            <%= render partial: "layouts/user_thumb_profile", locals: { user_course: lecturer_course } %>
          </li>
      <% end %>
    </ul>
    <% if @ta_courses.size > 0 %>
        <h3>Tutors:</h3>
        <br/>
        <ul>
          <% @ta_courses.each do |ta_course| %>
              <li>
                <%= render partial: "layouts/user_thumb_profile", locals: { user_course: ta_course } %>
              </li>
          <% end %>
        </ul>
    <% end %>
    <h3>Students:</h3>
    <br/>
    <table class="table table-bordered">
      <% @student_courses.each_with_index do |student_course, i| %>
          <% if i % 2 == 0 %>
              <tr>
          <% end %>
          <td>
            <%= render partial: "layouts/user_thumb_profile", locals: { user_course: student_course } %>
          </td>
          <% if i % 2 == 1 %>
              </tr>
          <% end %>
      <% end %>
      <% if @student_courses.size % 2 == 1 %>
          <td></td></tr>
      <% end %>
    </table>
    <%= paginate @student_courses %>
<% else %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      <% @student_courses.each_with_index do |student_course| %>
          <% student = student_course.user %>
          <%= form_for(student,
                       html: { method: :put, class: "form-horizontal" } ) do |f| %>
          <tr>
            <td>
              <input type="text" name="name" value="<%= student.name %>" required>
            </td>
            <td>
              <input type="email" name="email" value="<%= student.email %>" required>
            </td>
            <td>
              <input type="hidden" name="redirect_back_url" value="<%= course_students_url(@course)%>">
              <%= f.submit "Update", :class => 'btn' %>
            </td>
          </tr>
          <% end %>
      <% end %>
    </table>
    <%= paginate @student_courses %>
<% end %>