<%= form_for [@course, @asm, @coding_question], :html => { :class => 'form-horizontal' } do |f| %>
    <div id="pathstep_content">
      <div class="control-group">
        <%= f.label :Language, :class => 'control-label' %>
        <div class="controls">
          <select class="lang" onchange="path.changeLang(this.value)"><option selected="selected" value="Python">Python</option></select></label><br />
        </div>
      </div>

      <div class="control-group">
        <%= f.label :step_name,"Step Name", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :step_name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, class:'text_area span7 html-editor',:rows => 10 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :comments,'Staff Comments (hidden)', :class => 'control-label' %>
        <div class="controls" >
          <%= f.text_area :comments, :rows => 4, class:'text_area span7' %>
        </div>
      </div>

      <div class="cos_code" id="path_dooptions">
        <h3>Options</h3>
        <div class="control-group">
          <%= f.label :timeLimit,"Time Limit (secs)", class:'control-label' %>
          <div class="controls">
            <input type="text" id="timeLimit" value="1"  onchange="path.changeTimeLimit(this.value);" />
          </div>
        </div>
        <div class="control-group">
          <%= f.label :memoryLimit,"Memory Limit (mb)", class:'control-label' %>
          <div class="controls">
            <input type="text" id="memoryLimit" value="2"  onchange="path.changeMemoryLimit(this.value);" />
          </div>
        </div>
        <div>Pre-filled code:</div><textarea  rows="4" id="prefilled"></textarea>
        <div>Included code (optional, hidden):</div><textarea  rows="2" id="included"></textarea> <br />
      </div>
      <div id="path_testcases">
        <h3>Test Cases</h3>
        <div id="public_tests">

          Public Tests: <input type="button" id="addpublictest"  class="btn btn-info" value="Add New Test" onclick="path.addTest('public');"  />
          <table id="public_test" class="table table-bordered test_table">
            <thead>
            <tr>
              <th>
                Code to Run
              </th>
              <th>
                Expected Output
              </th>
              <th width="35px">
              </th>
            </tr>
            </thead>
            <tbody id="public_test_tbody">
            </tbody>
          </table>

        </div>
        <div id="private_tests" >
          Private Tests: <input type="button" id="addprivatetest" class="btn btn-info" value="Add New Test" onclick="path.addTest('private');" />
          <table id="private_test" class="table table-bordered test_table">
            <thead>
            <tr>
              <th>
                Code to Run
              </th>
              <th>
                Expected Output
              </th>
              <th width="35px">
              </th>
            </tr>
            </thead>
            <tbody id="private_test_tbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= f.hidden_field :data %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', id:"savePath" %>
      <!--<input type="button" id="savePath" class="btn btn-primary" value="Create Coding Question">-->
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  nil, :class => 'btn' %>
    </div>
    </div>
<% end %>
