<%- display_name = @course.customized_title_by_model(Achievement).singularize -%>
<%= simple_form_for [@course, @achievement], html: { class: 'form-horizontal' } do |f| %>

  <% if @achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achievement.errors.count, "error") %>
        prohibited this achievement from being saved: </h2>

      <ul>
        <% @achievement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :title, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, class: 'text_field span7',
                         placeholder: "Give it a cool name!" %>
      </div>
    </div>

    <%= f.input :description, as: :text, input_html:{class: "span7 text-area html-editor", rows:10}, placeholder: "Give it a awesome back story." %>

    <div class="control-group">
      <%= f.label "Assign Mode", class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :auto_assign, id: "ach-auto-assign" %> Auto Assign
      </div>
    </div>


    <div class="control-group">
      <%= f.label :icon_url, class: 'control-label' %>
      <div class="controls">
        <img src="<%= @achievement.icon_url %>" class="course-logo-preview image-uploader-preview-img" alt="Logo Preview" />
        <%= f.hidden_field :icon_url, class: "image-uploader-input-url" %>
        <%= render partial: "layouts/image_uploader",
                   locals: { upload_to: course_file_uploads_path(@course),
                             container_class: '',
                             image_url_class: '' } %>

        <br/>
        <a href="#image-uploader-modal" data-toggle="modal">Upload new icon</a>
      </div>
    </div>

	<div class="control-group">
      <%= f.label "Published", class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :published %>
      </div>
    </div>
    
    <hr/>
    <h2>Requirements</h2><p>The requirements are optional, and you can have as
  many requirements as you want. Student must fulfill all requirements.</p>
    <br/>

    <!--
    <div class="control-group">
      <label class="control-label">Level</label>
      <div class="controls">
        <input placeholder="Minimum level">
      </div>
    </div>
    -->
    <div class="auto-assign-req  <%= @achievement.auto_assign? ? 'in' : 'out' %> collapse">
      <div class="control-group">
        <label class="control-label">Assessments</label>
        <div class="controls">
          <table>
            <% @achievement.requirements.asm_req.each do |asm_req| %>
                <%= render partial: "requirements/asm_req_row", locals: { asm_req: asm_req } %>
            <% end %>
            <tr>
              <td>
                Get more than <input class="asm-min-grade-input form-temp" placeholder="min %" value="60" />
                % in
                <select class="form-temp">
                  <% @course.assessments.each do |asm| %>
                      <option value="<%= asm.id %>" data-type="<%= asm.class.name %>">
                        <%= asm.get_title %>
                      </option>
                  <% end %>
                </select>
              </td>
              <td>
                <%= link_to course_requirements_render_form_row_path(@course), class: "btn add-asm-req" do %>
                    <i class="icon-plus"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= display_name.pluralize %></label>
        <div class="controls">
          <table>
            <% @achievement.requirements.ach_req.each do |ach_req| %>
                <%= render partial: "requirements/ach_req_row", locals: { ach_req: ach_req } %>
            <% end %>
            <tr>
              <td>
                Earned
                <select name="achievement" class="form-temp">
                  <% @course.achievements.each do |ach| %>
                      <option value="<%= ach.id %>"><%= ach.title %></option>
                  <% end %>
                </select>
              </td>
              <td>
                <%= link_to course_requirements_render_form_row_path(@course), class: "btn add-ach-req" do %>
                    <i class="icon-plus"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Levels</label>
        <div class="controls">
          <table>
            <% @achievement.requirements.lvl_req.each do |lvl_req| %>
                <%= render partial: "requirements/lvl_req_row", locals: { lvl_req: lvl_req } %>
            <% end %>
            <tr>
              <td>
                Reached
                <select name="achievement" class="form-temp">
                  <% @course.levels.each do |lvl| %>
                      <option value="<%= lvl.id %>"><%= lvl.get_title %></option>
                  <% end %>
                </select>
              </td>
              <td>
                <%= link_to course_requirements_render_form_row_path(@course), class: "btn add-lvl-req" do %>
                    <i class="icon-plus"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="manual-assign-req  <%= @achievement.auto_assign? ? 'out' : 'in' %> collapse">
      <div class="control-group">
        <%= f.label "Requirements Desription", class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :requirement_text, class: 'text_area span7 html-editor', rows: '10'%>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "#{@achievement.new_record? ? 'Create' : 'Update'} #{display_name}", :class => 'btn btn-primary form-submit' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  :back, :class => 'btn' %>
    </div>
<% end %>
<%= render :partial => "layouts/html_editor" %>

<script>
    $(document).ready(function(){
        $('#ach-auto-assign').change(function(e){
            console.log(this.checked);
            if (this.checked){
                $(".manual-assign-req").collapse('hide');
                $(".auto-assign-req").collapse('show');
            } else {
                $(".auto-assign-req").collapse('hide');
                $(".manual-assign-req").collapse('show');
            }
        })

    });
</script>

