<%= form_for [@course, @achievement], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span9' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9', :rows => '10' %>
    </div>
  </div>

  <% # TODO Change photo upload to be more intuitive. Using the photo form. %>

  <div class="control-group">
    <%= f.label :icon_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :icon_url, :class => 'text_field span9' %>
    </div>
  </div>

  <% # TODO Area for dependency %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
