<%= form_for [@course, @achievement], html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field span9',
          placeholder: "Give it a cool name!" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area span9', rows: '10',
          placeholder: "Give it a awesome back story."%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :icon_url, class: 'control-label' %>
    <div class="controls">
      <img src="<%= @achievement.icon_url %>" class="course-logo-preview image-uploader-preview-img" alt="Logo Preview" />
      <%= f.hidden_field :icon_url, class: "image-uploader-input-url" %>
      <%= render partial: "layouts/image_uploader",
            locals: { upload_to: course_file_uploads_path(@course),
                      container_class: '',
                      image_url_class: '' } %>

      <br/>
      <a href="#image-uploader-modal" data-toggle="modal">Upload new icon</a>
    </div>
  </div>

  <hr/>
  <h2>Requirements</h2><p>The requirements are optional, and you can have as
  many requirements as you want. Student must fulfill all requirements.</p>
  <br/>

  <!--
  <div class="control-group">
    <label class="control-label">Level</label>
    <div class="controls">
      <input placeholder="Minimum level">
    </div>
  </div>
  -->

  <div class="control-group">
    <label class="control-label">Trainings</label>
    <div class="controls">
      <table>
        <% @achievement.requirements.asm_req.each do |asm_req| %>
          <%= render partial: "requirements/asm_req_row", locals: { asm_req: asm_req } %>
        <% end %>
        <tr>
          <td>
            Get more than <input class="asm-min-grade-input form-temp" placeholder="min %" value="60" />
            % in
            <select class="form-temp">
              <% @all_asm.each do |asm| %>
                <option value=<%= asm.id %> data-type=<%= asm.class.name %>>
                  <%= asm.get_title %>
                </option>
              <% end %>
            </select>
          </td>
          <td>
            <%= link_to course_requirements_render_form_row_path(@course), class: "btn add-asm-req" do %>
              <i class="icon-plus"></i>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Achievements</label>
    <div class="controls">
      <table>
      <% @achievement.requirements.ach_req.each do |ach_req| %>
        <%= render partial: "requirements/ach_req_row", locals: { ach_req: ach_req } %>
      <% end %>
      <tr>
        <td>
          Earned
          <select name="achievement" class="form-temp">
            <% @all_ach.each do |ach| %>
              <option value=<%= ach.id %>><%= ach.title %></option>
          <% end %>
          </select>
        </td>
        <td>
          <%= link_to course_requirements_render_form_row_path(@course), class: "btn add-ach-req" do %>
            <i class="icon-plus"></i>
          <% end %>
        </td>
      </tr>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary form-submit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
