<%- display_name = @course.customized_title_by_model(Achievement).pluralize -%>
<div class="page-header">
  <h1><%= display_name %></h1>
</div>

<% if can? :manage, Achievement %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_course_achievement_path(@course),
                :class => 'btn btn-primary' %>
<% end %>

<table class="table achievement-list">
  <thead>
  <tr>
    <th width="10%"></th>
    <th width="40%">Description</th>
    <th>Requirements</th>
    <% if can? :manage, Achievement %>
    	<th>Published</th>
        <th width="10%"><!-- Actions --></th>
    <% end %>
  </tr>
  </thead>
  <tbody class="<%= 'sortable-table' if can? :manage, Achievement %>" url="<%= reorder_course_achievements_path(@course) %>">
  <% @achievements_with_info.each do |ach_info| %>
      <% ach = ach_info[:ach] %>
      <tr class="<%= ach_info[:won] ? "ach-won" : "ach-normal" %>" id="sortable-item_<%= ach.id %>">
        <% can_view = ach_info[:won] || (can? :manage, Achievement) %>
        <% lock_display = @course.achievements_locked_display.display? %>
        <td>
          <img class="ach-icon" <%= 'id=grayed' if lock_display and !can_view %> src="<%=  can_view || lock_display ? ach.icon_url : "/images/lock.png" %>" />
        </td>
        <td>
          <h4><%= link_to ach.title, course_achievement_path(@course, ach) %></h4>
          <div class="description">
            <%= ach.description.html_safe %>
          </div>
        </td>
        <td>
          <% if ach.auto_assign? %>
              <ul>
                <% ach.requirements.asm_req.each do |asm_req| %>
                    <li>
                      <% if ach_info[:req_check][asm_req.id] %>
                          <i class="icon-ok"></i>
                      <% else %>
                          <i class="icon-remove"></i>
                      <% end %>
                      Get more than <strong><%= asm_req.req.min_grade %>%</strong> in
                      <%= link_to asm_req.req.asm.get_title, asm_req.req.asm.get_path %>
                    </li>
                <% end %>
                <% ach.requirements.ach_req.each do |ach_req| %>
                    <li>
                      <% if ach_info[:req_check][ach_req.id] %>
                          <i class="icon-ok"></i>
                      <% else %>
                          <i class="icon-remove"></i>
                      <% end %>
                      Earn
                      <%= link_to ach_req.req.title, course_achievement_path(@course, ach_req.req) %>
                    </li>
                <% end %>
                <% ach.requirements.lvl_req.each do |lvl_req| %>
                    <li>
                      <% if ach_info[:req_check][lvl_req.id] %>
                          <i class="icon-ok"></i>
                      <% else %>
                          <i class="icon-remove"></i>
                      <% end %>
                      Reach
                      <%= lvl_req.req.get_title  %>
                    </li>
                <% end %>
              </ul>
          <% else %>
              <%= if ach.requirement_text then ach.requirement_text.html_safe end %>
          <% end %>
        </td>
        <% if can? :manage, Achievement %>
        	<td>
        		<% if ach.published? %>	Yes
        		<% else %> No
        		<% end %>
        	</td>
            <td>
              <%= link_to edit_course_achievement_path(@course, ach), class: 'btn' do %>
                  <i class="icon-edit"></i>
              <% end %>
              <%= link_to course_achievement_path(@course, ach),
                          method: :delete,
                          data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          class: 'btn btn-danger' do %>
                  <i class="icon-trash"></i>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @ach_paging.display? %>
    <%= paginate @achievements %>
<% end %>
