<div class="page-header">
  <h1>Achievements</h1>
</div>

<% if curr_user_course.is_lecturer? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_course_achievement_path(@course),
              :class => 'btn btn-primary' %>
<% end %>

<table class="table achievement-list">
  <thead>
    <tr>
      <th width="10%"></th>
      <th width="40%">Description</th>
      <th>Requirements</th>
      <% if curr_user_course.is_lecturer? %>
        <th width="10%">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @achievements_with_info.each do |ach_info| %>
    <% ach = ach_info[:ach] %>
    <tr class="<%= ach_info[:won] ? "ach-won" : "ach-normal" %>">
      <td><img class="ach-icon" src=<%= ach.icon_url %> /></td>
      <td>
        <h4><%= link_to ach.title, course_achievement_path(@course, ach) %></h4>
        <p><%= ach.description %></p>
      </td>
      <td>
        <ul>
        <% ach.requirements.asm_req.each do |asm_req| %>
          <li>
            <% if ach_info[:req_check][asm_req.id] %>
              <i class="icon-ok"></i>
            <% else %>
              <i class="icon-remove"></i>
            <% end %>
            Get more than <strong><%= asm_req.req.min_grade %>%</strong> in
            <%= link_to asm_req.req.asm.get_title, asm_req.req.asm.get_path %>
          </li>
        <% end %>
        <% ach.requirements.ach_req.each do |ach_req| %>
          <li>
            <% if ach_info[:req_check][ach_req.id] %>
              <i class="icon-ok"></i>
            <% else %>
              <i class="icon-remove"></i>
            <% end %>
            Earn
            <%= link_to ach_req.req.title, course_achievement_path(@course, ach_req.req) %>
          </li>
        <% end %>
        </ul>
      </td>
      <% if curr_user_course.is_lecturer? %>
        <td>
          <%= link_to edit_course_achievement_path(@course, ach), class: 'btn' do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to course_achievement_path(@course, ach),
                      method: :delete,
                      data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      class: 'btn btn-danger' do %>
             <i class="icon-trash"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
