<div class="page-header">
  <div class="media">
    <div class="pull-right">
      <% can_view = @uach || (can? :manage, Achievement) %>
      <% lock_display = @course.achievements_locked_display.display? %>
      <img class="achievement-icon" <%= 'id=grayed' if lock_display and !can_view %> src="<%=  can_view || lock_display ? @achievement.icon_url : "/images/lock.png" %>" />
    </div>
    <div class="media-body">
      <h2 class="media-heading"><%= @achievement.title %></h2>
      <p><%= @achievement.description %></p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<h3>Requirements:</h3>
<br>
<div style="font-size: 1.3em">
  <% if @achievement.auto_assign? %>
      <ul>
        <% @achievement.requirements.asm_req.each do |asm_req| %>
            <li>
              <i class="icon-lock"></i>
              Get more than <strong><%= asm_req.req.min_grade %>%</strong> in
              <%= link_to asm_req.req.asm.get_title, asm_req.req.asm.get_path %>
            </li>
        <% end %>
        <% @achievement.requirements.ach_req.each do |ach_req| %>
            <li>
              <i class="icon-lock"></i>
              Earn
              <%= link_to ach_req.req.title, course_achievement_path(@course, ach_req.req) %>
            </li>
        <% end %>
        <% @achievement.requirements.lvl_req.each do |lvl_req| %>
            <li>
              <i class="icon-lock"></i>
              Reach
              <%= lvl_req.req.get_title  %>
            </li>
        <% end %>
      </ul>
  <% elsif  @achievement.requirement_text %>
      <%= @achievement.requirement_text.html_safe %>
      <br><br>
  <% else %>
      No requirement specified.
  <% end %>
</div>

<hr>

<% awarded = @achievement.user_courses.student.where(is_phantom: false).order('lower(name)')%>
<% if awarded.length > 0 %>
    <h3>Awarded to <%= awarded.length %> students:</h3>
    <table class="table table-no-border">
      <% awarded.each_with_index do |uc, index| %>
          <% if index % 2 == 0 %>
              <tr>
          <% end %>
          <td class="studentlist_box">
            <%= render partial: "layouts/user_thumb_profile", locals: { user_course: uc } %>
          </td>
          <% if index % 2 == 1 %>
              </tr>
          <% end %>
      <% end %>
    </table>
<% else %>
    <h3>No one has earned this achievement yet.</h3>
<% end %>





