<%= form_for [@course, @mission], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span9' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span9 html-editor', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :open_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :open_at,
          :value => date_mdY(@mission.open_at),
          :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :close_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :close_at,
          :value => date_mdY(@mission.close_at),
          :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timelimit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :timelimit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attempt_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :attempt_limit, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_path(@course), :class => 'btn' %>
  </div>

  <%= render :partial => "layouts/html_editor" %>
<% end %>
