<%- model_class = Mission -%>
<div class="page-header">
  <h1><%=t '.title', :default => @course.customized_title_by_model(model_class).pluralize %></h1>
</div>

<% if can? :manage, :bulk_update %>
    <ul class="nav nav-tabs">
      <li class="<%= "active" if @tab == 'missions' %>">
        <a href="<%=  course_missions_path %>?_tab=main" data-toggle="tab"><h4><%= @course.customized_title_by_model(model_class).pluralize %></h4></a>
      </li>
      <li class="<%= "active" if @tab == 'overview' %>">
        <a href="<%= course_missions_overview_path %>" data-toggle="tab"><h4>Overview</h4></a>
      </li>
    </ul>
<% end %>


<div>
  <h3><a href="#" data-toggle="collapse" data-target="#tag-checklist">&raquo; Filter</a> <small>(click to reveal)</small></h3>
  <%= form_tag(course_missions_path(@course), method: :get) do %>
      <div class="collapse <%= @selected_tags ? "in" : "out" %>" id="tag-checklist">
        <div class="well">
          <%= render partial: "tags/form_checkboxes",
                     locals: { tag_groups: @course.tag_groups,
                               uncats: @course.tags.uncategorized,
                               exist_tags_hash: @tags_map } %>
          <button class="btn">Filter</button>
        </div>
      </div>
  <% end %>
</div>

<% if can? :manage, Mission %>
    <p>
      <%= link_to "New #{@course.customized_title_by_model(model_class).singularize}",
                  new_course_mission_path(@course),
                  :class => 'btn btn-primary' %>
    </p>
<% end %>
<% to_display = @display_columns.keys %>
<% if to_display.include? 'tag' %>
    <p class="assignments-blurb"><em>* Click on the tags to view <%= @course.customized_title_by_model(Mission).pluralize.downcase %> and <%= @course.customized_title_by_model(Training).pluralize.downcase %> in that tag.</em></p>
<% end %>

<table class="table assignments missions-list-table">
  <thead>
  <tr>
    <% @display_columns.each do |key, val| %>
        <th width="<% if key == 'tag'  %>
          15%
          <% elsif key == 'title' %>
          25%
          <% end %>
          "><%= val %></th>
    <% end %>

    <% if curr_user_course.id && can?(:manage, Submission) %>
        <th width="10%"></th>
    <% end %>
    <% if can?(:view_detail, Mission) %>
        <th width="10%"></th>
    <% end %>
  </tr>
  </thead>

  <tbody class="table-hover">
  <% @missions.each do |mission| %>
      <tr class="<%= "future" if mission.open_at > Time.now %>">
        <% if to_display.include? 'title' %>
            <td>
              <% if can? :manage, Mission %>
                  <%= link_to course_mission_stats_path(@course, mission) do %>
                      <%= render partial: "layouts/mission_title", locals: {mission: mission} %>
                  <% end %>
              <% elsif mission.can_start?(curr_user_course).first %>
                  <%= link_to course_mission_path(@course, mission) do %>
                      <%= render partial: "layouts/mission_title", locals: {mission: mission} %>
                  <% end %>
              <% else %>
                  <h4>
                    <%= mission.title %>
                  </h4>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'tag' %>
            <td>
              <% mission.tags.each do |tag| %>
                  <%= link_to course_tag_path(@course, tag) do %>
                      <span class="label label-info"><%= tag.name %></span>
                  <% end %>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'exp' %>
            <td><%= mission.exp %></td>
        <% end %>
        <% if to_display.include? 'award' %>
            <td>
              <% mission.as_requirements.each do |req| %>
                  <a href='#' title="<%= req.obj.title %>">
                    <img class="asm-ach-icon" src="<%= req.obj.icon_url %>" >
                  </a>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'start' %>
            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if mission.open_at > Time.now then time_ago_in_words(mission.open_at) else '----' end%>
              <% else %>
                  <%= mission.open_at.strftime(@time_format.prefer_value)  %>
              <% end %>
            </td>
        <% end %>

        <% if to_display.include?  'end'%>
            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if mission.close_at > Time.now then time_ago_in_words(mission.close_at) else '----' end%>
              <% else %>
                  <%= mission.close_at.strftime(@time_format.prefer_value) %>
              <% end %>
            </td>
        <% end %>
        <% if curr_user_course.id && can?(:manage, Submission) %>
            <td>
              <%= render :partial => "action", locals: {mission:mission} %>
            </td>
        <% end %>
        <% if can? :view_detail, Mission %>
            <td>
              <%= link_to course_mission_path(@course, mission), class: 'btn' do %>
                  <i class="icon-external-link"></i>
              <% end %>
              <% if can? :manage, Mission %>
                  <%= link_to course_mission_path(@course, mission),
                              method: :delete,
                              data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              class: 'btn btn-danger' do %>
                      <i class="icon-trash"></i>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @paging.display? %>
    <%= paginate @missions %>
<% end %>
