<%- model_class = Mission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_mission_path(@course),
            :class => 'btn btn-primary' %>

<table class="table table-striped assignments">
  <thead>
    <tr>
      <th width="3%"><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th width="5%"><%= model_class.human_attribute_name(:exp) %></th>
      <th width="15%"><%= model_class.human_attribute_name(:close_at) %></th>
      <% if current_user && current_user.is_lecturer?(@course) %>
        <th width="10%"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.id %></td>
        <td>
          <%= link_to course_mission_path(@course, mission) do %>
            <h4><%= mission.title %></h4>
          <% end %>
        </td>
        <td><%= mission.exp %></td>
        <td><%= mission.close_at %></td>
        <td>
          <% if current_user %>
            <% if current_user.is_student?(@course) %>
              <%= link_to 'Attempt', new_course_mission_submission_path(@course, mission), :class => 'btn btn-mini' %>
            <% elsif current_user.is_lecturer?(@course) %>
              <%= link_to edit_course_mission_path(@course, mission), :class => 'btn btn-mini' do %>
                <i class="icon-edit"></i>
              <% end %>
              <%= link_to course_mission_path(@course, mission),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' do %>
                 <i class="icon-trash"></i>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
