<%- model_class = Mission -%>
<div class="page-header">
  <h1>Mission <%= @mission.pos + 1 %>: <%= @mission.title %></h1>
</div>

<p><%= @mission.description.html_safe %></p>

<table>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exp) %>:</strong></td>
    <td><%= @mission.exp %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:max_grade) %>:</strong></td>
    <td><%= @mission.max_grade %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:open_at) %>:</strong></td>
    <td><%= @mission.open_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:close_at) %>:</strong></td>
    <td><%= @mission.close_at %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>
    <td><%= @mission.deadline %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>
    <td><%= @mission.timelimit %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>
    <td><%= @mission.attempt_limit %></td>
  </tr>
</table>
<a href="<%= course_mission_submissions_path(@course, @mission) %>">View submissions</a>
<hr/>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#new_wquestion_form">
  Add Question
</button>
<div id="new_wquestion_form" class="collapse out">
  <div class="well">
    <%= render "questions/form" %>
  </div>
</div>
<h2>Questions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |q| %>
      <tr>
        <td><%= q.description %></td>
        <td>
          <%= link_to edit_course_mission_question_path(@course, @mission, q), :class => 'btn btn-mini' do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to course_mission_question_path(@course, @mission, q),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_missions_path(@course), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_mission_path(@course, @mission), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_mission_path(@course, @mission),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
