<%- model_class = Mission -%>
<div class="page-header">
  <h1><%= @mission.title %></h1>
</div>
<h2 class="assignments-description-title"><%= @course.customized_title_by_model(model_class).singularize %> Description</h2>
<table class="table-top-align">
  <tr>
    <td>
      <p><%= @mission.description.html_safe %></p>
      <table class="table table-bordered assignments-details-table">
        <tr>
          <td><%= model_class.human_attribute_name(:exp) %>:</td>
          <td><%= @mission.exp %></td>
        </tr>
        <tr>
          <td><%= model_class.human_attribute_name(:max_grade) %>:</td>
          <td><%= @mission.max_grade %></td>
        </tr>
        <tr>
          <td><%= model_class.human_attribute_name(:open_at) %>:</td>
          <td><%= datetime_format(@mission.open_at) %></td>
        </tr>
        <tr>
          <td><%= model_class.human_attribute_name(:close_at) %>:</td>
          <td><%= datetime_format(@mission.close_at) %></td>
        </tr>
        <!--<tr>-->
        <!--<td><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></td>-->
        <!--<td><%= @mission.deadline %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td><strong><%= model_class.human_attribute_name(:timelimit) %>:</strong></td>-->
        <!--<td><%= @mission.timelimit %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td><strong><%= model_class.human_attribute_name(:attempt_limit) %>:</strong></td>-->
        <!--<td><%= @mission.attempt_limit %></td>-->
        <!--</tr>-->
      </table>
    </td>

    <td>
      <% submission = @mission.get_final_sbm_by_std(curr_user_course.id) %>
      <% if submission %>
          <% if submission.attempting? %>
              <a href="<%= edit_course_mission_submission_path(@course, @mission, submission) %>" class="btn">Edit</a>
          <% else %>
              <%= link_to 'Review',
                          submission.get_path,
                          class: 'btn btn-info' %>
          <% end %>
      <% else %>
          <%= link_to 'Attempt',
                      new_course_mission_submission_path(@course, @mission),
                      class: 'btn btn-success' %>
      <% end %>
    </td>

    <% if can? :manage, @mission %>
        <td width="10%">
          <%= link_to edit_course_mission_path(@course, @mission), class: "btn" do %>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to course_mission_path(@course, @mission), class: "btn btn-danger", method: "DELETE" do %>
              <i class="icon-trash"></i>
          <% end %>
        </td>
    <% end %>
  </tr>
</table>

<% if @mission.missions_dependent_on.count > 0 %>
    <h3>Finish to unlock:</h3>
    <ul>
      <% @mission.missions_dependent_on.each do |mission| %>
          <h4><li><%= mission.title %></li></h4>
      <% end %>
    </ul>
<% end %>

<%= render partial: "file_uploads/download_files",
           locals: {owner: @mission}%>

<div class="clearfix"></div>

<% if (can? :view_detail, @mission) && !@mission.single_question? %>
    <hr/>
    <% if can? :manage, @mission %>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#new_wquestion_form">
          Add Question
        </button>
        <a href="<%= new_course_mission_coding_question_path(@course, @mission) %>" class="btn btn-primary">  Add Coding Question</a>

    <% end %>
    <div id="new_wquestion_form" class="collapse out">
      <div class="well">
        <%= render "questions/form" %>
      </div>
    </div>

    <h2 class="assignments-questsions-title"><%= @course.customized_title_by_model(model_class).singularize%> Questions</h2>
    <table class="table asm-qns-table sort">
      <!-- <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
      </tr>
      </thead> -->
      <tbody class="asm-qns" url="<%= reorder_course_mission_asm_qns_path(@course, @mission) %>">
      <% @questions.each_with_index do |q, i| %>
          <tr class="asm-qn" id="asm-qn_<%= q.asm_qns.first.id %>">
            <td style="width:100%">
              <div class="asm-qn-handler">
                <i class="icon-move handler-icon"></i>
                <h3 class="handler-text">Question <%= i + 1 %></h3>
              </div>
              <%= style_format(q.description) %>
            </td>
            <% if can? :manage, @mission %>
                <td class="action-two-icons">
                  <% if q.class == Question %>
                      <%= link_to edit_course_mission_question_path(@course, @mission, q), class: 'btn' do %>


                          <i class="icon-edit"></i>
                      <% end %>
                      <%= link_to course_mission_question_path(@course, @mission, q),
                                  method: :delete,
                                  data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  class: 'btn btn-danger' do %>
                          <i class="icon-trash"></i>
                      <% end %>
                  <% else %>
                      <%= link_to edit_course_mission_coding_question_path(@course, @mission, q), class: 'btn' do %>
                          <i class="icon-edit"></i>
                      <% end %>
                      <%= link_to course_mission_coding_question_path(@course, @mission, q),
                                  method: :delete,
                                  data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  class: 'btn btn-danger' do %>
                          <i class="icon-trash"></i>
                      <% end %>
                  <% end %>

                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
