<div class="page-header">
  <h1>Awarding Achievements</h1>
</div>

<ul class="nav nav-tabs">
  <li>
    <a href='<%= course_manual_exp_path(@course) %>'>Giving EXP</a>
  </li>
  <li class="active">
    <a href='<%= course_manual_achievement_path(@course) %>'>Giving Achievements</a>
  </li>
</ul>

<h3>Give Achievements</h3>
<%= form_tag course_manual_achievement_path(@course), method:"POST" do %>
  <a href='#' class='select-all-achs'>Select all</a>
  | <a href='#' class='deselect-all-achs'>Deselect all</a>

  <table class="table table-vertical-middle manual-awards-achievements">
    <% @achievements.each_with_index do |ach, index| %>
      <% if index % 3 == 0 %>
        <tr>
      <% end %>
      <td class="box-left" width="3%">
        <input id="ach-<%= ach.id %>" type="checkbox" name="achs[]" value="<%= ach.id %>">
      </td>
      <td class="box-middle">
        <label for="ach-<%= ach.id %>">
          <img class="ach-icon" src="<%= ach.icon_url %>">
        </label>
      </td>
      <td class="box-right" width="23%">
        <label for="ach-<%= ach.id %>">
          <%= ach.title %>
        </label>
      </td>
      <% if index % 3 == 2 || index == @achievements.size %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <h3>To Students</h3>
  <div>
    <a href='#' class="select-all-stds">Select all</a>
    | <a href='#' class="deselect-all-stds">Deselect all</a>
    | <a href='?all_students'>View all students</a>
    | <a href='?'>View my students</a>
  </div>

  <table class="table table-vertical-middle manual-awards-students">
    <% @student_courses.each_with_index do |std_course, index| %>
      <% if index % 3 == 0 %>
        <tr>
      <% end %>
      <td class="box-left" width="3%">
        <input type="checkbox" id="std-<%= std_course.id %>" name="std_courses[]" value="<%= std_course.id %>">
      </td>
      <td class="ach-icon box-middle">
        <label for="std-<%= std_course.id %>">
          <img class="ach-icon" src="<%= std_course.user.get_profile_photo_url %>" />
        </label>
      </td>
      <td class="box-right">
        <label for="std-<%= std_course.id %>">
          <%= std_course.name %>
        </label>
      </td>
      <% if index % 3 == 2 || index == @student_courses.size %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="center form-actions">
    <button class="btn btn-primary btn-large">Give Achievements</button>
  </div>
<% end %>
