<div class="page-header">
  <h1>Awarding EXPs</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href='<%= course_manual_exp_path(@course) %>'>Giving EXP</a>
  </li>
  <li>
    <a href='<%= course_manual_achievement_path(@course) %>'>Giving Achievements</a>
  </li>
</ul>

<%= form_tag course_manual_exp_path(@course), method: "POST" do %>
  <h2>Giving EXP to Students:</h2>
  <table class="indent1">
    <% @student_courses.each_with_index do |std_course, index| %>
      <tr>
        <td><%= render partial: "layouts/user_thumb_profile",
          locals: { user_course: std_course } %>
        </td>
        <td>
          <input name="exps[<%= std_course.id %>]" class="input-mini exp-input">
          <% if index == 0 %>
            <a class="repeat-exp-link" href="#"><small>Copy EXP number</small></a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <h2>Reason:</h2>
  <div class="indent1"><textarea name="reason" class="span6" rows="5"></textarea></div>
  <div class="form-actions">
    <button class="btn btn-large btn-primary">Give EXP</button>
  </div>
<% end %>
