<strong>Answer attempts</strong>

<% qa[:a].each_with_index do |ans, index| %>
    <div class="code-review-header <%= ans.is_correct ? "mcq-ans-correct" : "mcq-ans-incorrect" %>">
      <%= index + 1 %>
      <div class="pull-right"><%= time_ago_in_words(ans.created_at) %></div>
    </div>
    <div style="margin-left: 10px">
      <%= style_format('[mc]' + ans.code + '[/mc]') %>
    </div>
<% end %>
<% if qa[:g] %>
    <p style="margin-top: 18px"><strong>Final Grade: </strong><%= qa[:g].grade %> / <%= qa[:q].max_grade %></p>
<% end %>

