<p><%= style_format(@current_question.description) %></p>
<% if @current_question.select_all %>
  <p>Select all correct answers</p>
<% end %>
<ul>
  <% @current_question.mcq_answers.each do |ans| %>
      <li class="checkbox-text">
        <% if @current_question.select_all %>
          <input class="choices" type="checkbox" name="answers[]" value="<%= ans.id %>" id="value=<%= ans.id %>"/>
        <% else %>
          <input class="choices" type="radio" name="answers" value="<%= ans.id %>" id="value=<%= ans.id %>"/>
        <% end %>
        <label for="value=<%= ans.id %>"> <%= ans.text %></label>
      </li>
  <% end %>
</ul>

<div id="explanation" class="well hidden">
  <h3 class="result"></h3>
  <p class="reason"></p>
</div>
