<div class="page-header">
  <h1><%= @training.title %></h1>
</div>
<p class="well"><%= @training.description.html_safe %></p>

<%= render partial: "file_uploads/download_files",
           locals: {owner: @training}%>

<div id="training-stop-pos"><br></div>

<hr/>
<div class="step-list">
  <% questions = @training.questions %>
  <% questions_done = @training_submission.answered_questions %>
  <% (1..@max_step).each do |i| %>
      <% if i == @step %>
          <%= link_to i, "?step=#{i}#training-stop-pos", class: "step step-current" %>
      <% elsif questions_done.include? questions[i - 1] %>
          <%= link_to i, "?step=#{i}#training-stop-pos", class: "step step-done" %>
      <% else %>
          <% can_access = (curr_user_course.is_staff? or @training.can_skip? or i == @current_step) %>
          <%= link_to i, "#{('?step=' + i.to_s) if can_access }#training-stop-pos", class: "step  #{can_access ? 'step-available' : 'step-disabled'}" %>
      <% end %>
  <% end %>
</div>
<hr/>

<% if !@current_question %>
    <h2>Congratulations, you're done!</h2>
    <p>
      <a href="<%= course_assessment_training_training_submission_path(@course, @training, @training_submission)%>">
        Click here
      </a> to review your answers.
    </p>
<% else %>
    <form id="training-step-form">
      <input type="hidden" name="current_step" value="<%= @step %>">
      <input type="hidden" name="update_url"
             value="<%= course_assessment_training_training_submission_submit_path(@course,
                                                                        @training, @training_submission) %>" />
      <input type="hidden" name="qid" value="<%= @current_question.id %>" />

      <% if @current_question.class == Mcq %>
          <%= render "do_mcq" %>
      <% elsif @current_question.class == CodingQuestion %>
          <%= render "do_coding" %>
      <% end %>

      <div class="form-actions">
        <% if @current_question.class == Mcq %>
            <%= link_to "Submit", '#', :class => 'btn btn-primary', :id => 'submit-btn' %>
        <% elsif @current_question.class == CodingQuestion %>
            <%= link_to "Run (ALT+R)", '#', class:'btn btn-danger', id:"pathrun" %>
            <!--<input id="pathrun" class="path_button" type="button" value="Run (ALT+R)" />-->
        <% end %>

        <%= link_to "Continue",
                    edit_course_assessment_training_training_submission_path(@course, @training,
                                                                  @training_submission, anchor: 'training-stop-pos', step: @step + 1), :class => 'btn disabled',
                    :id => 'continue-btn' %>
      </div>
    </form>

    <% if curr_user_course.is_staff? %>
        <%= render partial: "comments/list",
                   locals: { comments:  CommentTopic.comments_to_json(@current_question.comment_topic, curr_user_course),
                             target:    @current_question,
                             header:    "Comments on the Question",
                             margin_left: "0px" } %>
    <% end %>
<% end %>
