<div class="page-header">
  <h1>
    Training submission: <%= @training.title %>
  </h1>
</div>

<table width="100%">
  <col width="10%" />
  <tr><td><strong>Student:</strong> </td><td><%= render partial: "layouts/user_name_link", locals: {user_course: @training_submission.std_course} %></td></tr>
  <tr><td><strong>Submitted at:</strong> </td><td><%= time_ago_in_words(@training_submission.created_at) %> ago</td></tr>
  <% if @grading %>
      <tr>
        <td><strong>Total grade:</strong> </td>
        <td>
          <%= @grading.grade %> / <%= @training.max_grade %>
        </td>
      </tr>
      <% if @grading.grader %>
          <tr><td><strong>Grader:</strong> </td><td><%= @grading.grader.name %></td></tr>
      <% else %>
          <tr><td><strong>Grader:</strong> </td><td>Auto graded!</td></tr>
      <% end %>
  <% end %>
</table>
<hr/>

<p class="well"><%= style_format(@training.description) %></p>
<% @qadata.each_with_index do |(qid, qa), index| %>
    <h4>Question: <%= index + 1 %> </h4>
    <p><%= style_format(qa[:q].description.html_safe) %></p>
      <% if qa[:q].class == Mcq %>
        <ul>
          <% qa[:q].mcq_answers.each do |ans| %>
              <li>
                <% if can? :manage, Training %>
                    <input type="checkbox" disabled <%= "checked" if ans.is_correct %> />
                <% else %>
                    <input type="checkbox" disabled />
                <% end %>
                <span><%= ans.text %></span>
              </li>
          <% end %>
          </ul>
          <% if qa[:a] %>
              <strong>Answer attempts</strong>
              <table class="table">
                <thead>
                <tr>
                  <th width="2%"></th>
                  <th>Answer</th>
                  <th width="15%">Submitted at</th>
                </tr>
                </thead>
                <tbody>
                <% prev_ans = nil %>
                <% qa[:a].each_with_index do |ans, index| %>
                    <% display_index = true %>
                    <% ans.mcq_answers.each do |answer| %>
                        <tr class="<%= answer.is_correct ? "mcq-ans-correct" : "mcq-ans-incorrect" %>">
                          <td><%= index + 1 if display_index%></td>
                          <td><%= answer.text %></td>
                          <td><%= index == 0 ?
                                          time_ago_in_words(ans.created_at) + " ago"
                                  : " + " + distance_of_time_in_words(prev_ans.created_at, ans.created_at) %></td>
                        </tr>
                        <% display_index = false %>
                    <% end %>
                    <% prev_ans = ans %>
                <% end %>
                </tbody>
              </table>
              <% if qa[:g] %>
                  <p><strong>Final Grade: </strong><%= qa[:g].grade %> / <%= qa[:q].max_grade %></p>
              <% end %>
          <% end %>
      <% elsif qa[:q].class == CodingQuestion %>
          <%= render partial: "coding_review", locals: {qa: qa} %>
      <% else %>
          <strong>Not attempted.</strong>
      <% end %>
      <hr />
<% end %>
