<div id='forum'>
  <div id='forum_topic_links' class='btn-group pull-right'>
    <% unless @topic.try(:new_record?) %>
      <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => "btn btn-primary" %>
    <% end %>
    <% if @topic %>
      <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum), :class => "btn" %>
    <% end %>
    <% if curr_user_course.is_staff? %>
      <!--<%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "btn btn-inverse" %>-->
    <% end %>
  </div>
  <div class="page-header">
    <h1><!--<%= link_to t('forem.forum.forums'), forem.root_path %> &raquo; <%= link_to forem_emojify(forum.category), [forem, forum.category] %> &raquo; --><%= link_to forem_emojify(forum.title), [forem, forum] %></h1>
  </div>
  <!--<span id='description'><%= forem_format(forum.description) %></span>-->
</div>
