<table id='forums' class='forums table table-striped' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post span9"><%= t('forum', :scope => 'forem.general') %></th>
    <th class="topics-count span1"><%= t('topics', :scope => 'forem.general') %></th>
    <th class="posts-count span1"><%= t('posts', :scope => 'forem.general') %></th>
    <th class="views-count span1"><%= t('forem.forums.index.views') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
