<%= form_for [@course, @mission, @question], :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :title, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title, class: "text_field span7" %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span7 html-editor', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_grade, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_assessment_mission_path(@course, @mission), :class => 'btn' %>
  </div>

  <%= render :partial => "layouts/html_editor" %>
<% end %>
