<tr class="materials-file-row">
  <td>
    <input type="checkbox" class="materials-select-file-checkbox" data-fileid="<%= material.id %>">
  </td>
  <td>
    <% link = if material.is_virtual? then material.url else course_material_file_path(@course, material) end %>
    <%= link_to link do %>
    <span>
      <% if @is_new[material.id] %>
      <input type="hidden" class="new_<%= material.class.model_name.human.pluralize %>" />
      <span class="label label-warning">New</span>
      <% end %>
      <i class="icon-file"></i> <strong><%= material.filename %></strong> <span class="muted"><%= get_pretty_file_size(material.filesize) %></span>
    </span>

    <% end %>

    <% if material.description %>
        <p><%= material.description.html_safe %></p>
    <% end %>
  </td>

  <td>
    <%= datetime_format(material.updated_at) %>
    <div class="muted"><%= material.file.creator.name %></div>
  </td>

  <td>
    <div class="pull-right">
      <% if (can? :manage, material) %>
          <% if material.is_virtual? %>
              <%= render partial: "disabled_controls" %>
          <% else %>
              <% if (can? :manage, Material) %>
                  <%= link_to '#materials-statistics-' + material.id.to_s, 'class' => 'btn materials-statistics-button', 'data-toggle' => 'modal', 'role' => 'button' do %>
                      <i class="icon-eye-open"></i>
                  <% end %>
                  <div class="materials-statistics modal hide fade" id="materials-statistics-<%= material.id %>" role="dialog" aria-labelledby="Download Statistics" aria-hidden="true">
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">×</a>
                      <h3>File Statistics</h3>
                    </div>
                    <div class="modal-body">
                      <table>
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Downloaded/Seen at</th>
                        </tr>
                        </thead>
                        <% role_counts = [] %>
                        <% SeenByUser.course(@course).materials.where(:obj_id => material).
                                   includes(user_course: [:role, :user]).each {|view| %>
                            <%
                               unless view.user_course
                                 next
                               end
                               role_id = view.user_course.role.id
                               while (role_counts.length <= role_id) do
                                 role_counts[role_counts.length] = 0
                               end
                               role_counts[role_id] += 1
                            %>
                            <tbody>
                            <tr>
                              <th><%= view.user_course.user ? view.user_course.user.name : '(unknown)' %></th>
                              <td><%= datetime_format(view.created_at) %></td>
                            </tr>
                            </tbody>
                        <% } %>
                      </table>
                      <h3>Summary</h3>
                      <ul>
                        <% Role.all.each {|role|
                          role_users = @course.user_courses.where(:role_id => role.id).count
                          next unless role_users > 0
                        %>
                            <li><%= role.title %>: <%= role_counts[role.id] ? role_counts[role.id] : 0 %> out of <%= role_users %> seen</li>
                        <% } %>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                  </div>
              <% end %>
              <%= link_to edit_course_material_file_path(@course, material), class: 'btn' do %>
                  <i class="icon-edit"></i>
              <% end %>
              <%= render :partial => "layouts/delete_confirm", :locals => { :path_to_item => course_material_file_path(@course, material) } %>
          <% end %>
      <% end %>
    </div>
  </td>

</tr>
