<table class="table assignments materials-list-table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 12%">Size</th>
      <th style="width: 25%">Date uploaded</th>
      <% if can? :manage, Material %>
      <th style="width: 13%">&nbsp;</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% (@virtual_folders + @folder.subfolders).each do |subfolder| %>
      <tr>
        <td>
          <% link = if subfolder.is_virtual then
              course_material_virtual_folder_path(@course, subfolder.id)
            else
              course_material_folder_path(@course, subfolder)
            end %>
          <%= link_to link do %>
            <%= render partial: "layouts/material_subfolder_title", locals: {subfolder: subfolder} %>
          <% end %>
        </td>

        <td>
          <%= t('materials.subfolder_items', :count => subfolder.files.count + subfolder.subfolders.count) %>
        </td>
        
        <td>
          <%= datetime_format(subfolder.updated_at) %>
        </td>

        <td>
          <% if (can? :manage, Material) && not(subfolder.is_virtual) %>
            <%= link_to course_edit_material_folder_path(@course, subfolder), class: 'btn' do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to course_material_folder_path(@course, subfolder),
              method: :delete,
              data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              class: 'btn btn-danger' do %>
                <i class="icon-trash"></i>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>

      </tr>
    <% end %>

    <% @folder.files.each do |material| %>
      <tr>
        <td>
          <% link = if material.is_virtual then
              material.url
            else
              course_material_path(@course, material)
            end %>
          <%= link_to link do %>
            <%= render partial: "layouts/material_title", locals: {material: material} %>
          <% end %>
          <% if material.description %>
            <p><%= material.description %></p>
          <% end %>
        </td>
        
        <td>
          <%= get_pretty_file_size(material.filesize) %>
        </td>

        <td>
          <%= datetime_format(material.updated_at) %>
        </td>

        <td>
          <% if (can? :manage, Material) && not(material.is_virtual) %>
            <%= link_to edit_course_material_path(@course, material), class: 'btn' do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to course_material_path(@course, material),
              method: :delete,
              data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              class: 'btn btn-danger' do %>
                <i class="icon-trash"></i>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>