<div class="materials-folder-controls">
  <% if (can? :manage, Material) %>
  <span>
    <% if @folder.is_virtual %>
    <span class="workbin-disabled-controls" title="This folder is reserved for Mission/Training files.">
    <a class='btn btn-primary disabled'>
      Upload Files
    </a>
    <a class='btn btn-success disabled'>
      Create Folder
    </a>
    </span>
    <% else %>
    <%= link_to t('.new', :default => t("Upload files")), course_new_material_path(@course, @folder), :class => 'btn btn-primary' %>
    <%= link_to "Create Folder", "#create-subfolder-modal", "data-toggle" => "modal", :class => 'btn btn-success' %>
    <% end %>
  </span>
  <% end %>

  <span class="pull-right btn-group">
    <% if (can? :manage, Material) %>
      <% if @folder.is_virtual %>
      <a class="btn disabled workbin-disabled-controls" title="This folder can't be edited.">Edit</a>
      <% else %>
      <%= link_to "Edit", "#edit-subfolder-modal", "data-toggle" => "modal", :class => 'btn' %>
      <% end %>
    <% end %>
    <%= link_to "Download .zip", (@folder.is_virtual ?
        course_material_virtual_folder_path(@course, @folder.id, :format => 'zip') :
        course_material_folder_path(@course, @folder, :format => 'zip')), :class => 'btn' %>
    <% if not(@folder.is_virtual) %>
    <%= link_to "Mark as Seen", course_material_mark_folder_read_path(@course, @folder), :class => 'btn' %>
    <% end %>
  </span>
</div>

<% if (can? :manage, Material) && not(@folder.is_virtual) %>
<div id="create-subfolder-modal" class="modal hide fade">
  <div class="modal-header">
    Create Subfolder
  </div>
  <%= render partial: "subfolder_modal_form", locals: { :folder_to_change => @subfolder, :subfolder_method => :post } %>
</div>

<div id="edit-subfolder-modal" class="modal hide fade">
  <div class="modal-header">
    Edit Folder
  </div>
  <%= render partial: "subfolder_modal_form", locals: { :folder_to_change => @folder,  :subfolder_method => :put } %>
</div>
<% end %>
