<div class="materials-folder-controls">
  <span>
    <% if (can? :upload, @folder) %>
      <% if @folder.is_virtual? %>
        <span class="workbin-disabled-controls" title="This folder is reserved for Mission/Training files.">
          <a class='btn btn-primary disabled'>
            Upload Files
          </a>
          <a class='btn btn-success disabled'>
            Create Folder
          </a>
        </span>
      <% else %>
      <% if (can? :upload, @folder) %>
        <%= link_to t('.new', :default => t("Upload files")), upload_course_material_folder_path(@course, @folder), :class => 'btn btn-primary' %>
      <% end %>
      <% if (can? :manage, @folder) %>
        <%= link_to "Create Folder", "#create-subfolder-modal", "data-toggle" => "modal", :class => 'btn btn-success' %>
      <% end %>
      <% end %>
    <% end %>
    &nbsp;
  </span>

  <span class="pull-right btn-group">
    <% if (can? :manage, @folder) %>
      <% if @folder.is_virtual? %>
      <a class="btn disabled workbin-disabled-controls" title="This folder can't be edited.">Edit</a>
      <% else %>
      <%= link_to "Edit", "#edit-subfolder-modal", "data-toggle" => "modal", :class => 'btn' %>
      <% end %>
    <% end %>
    <%= link_to "Download .zip", (@folder.is_virtual? ?
        course_material_virtual_folder_path(@course, @folder.id, :format => 'zip') :
        course_material_folder_path(@course, @folder, :format => 'zip')), :class => 'btn' %>
    <% if not(@folder.is_virtual?) %>
    <%= link_to "Mark as Seen", course_material_folder_mark_read_path(@course, @folder), :class => 'btn' %>
    <% end %>
  </span>
</div>

<% if (can? :manage, @folder) && not(@folder.is_virtual?) %>
<div id="create-subfolder-modal" class="modal hide fade">
  <div class="modal-header">
    Create Subfolder
  </div>
  <%= render partial: "subfolder_form", locals: { modal: true, folder_to_change: @folder, subfolder_method: :post } %>
</div>

<div id="edit-subfolder-modal" class="modal hide fade">
  <div class="modal-header">
    Edit Folder
  </div>
  <%= render partial: "subfolder_form", locals: { modal: false, folder_to_change: @folder, subfolder_method: :put } %>
</div>
<% end %>
