<%= render partial: "layouts/file_uploader_complicated",
           locals: { owner: nil } %>

<%= form_for [@course, @folder], :html => { :class => 'form-horizontal', :id => 'submit_material_uploads' }, :method => :post do |f| %>
  <div id="uploaded_files_div"></div>
  <div class="form-actions">
    <%= f.submit "Done", :class => 'btn btn-primary', data: {disable_with: "Submitting..."} %>
    <%= hidden_field_tag :type, :files  %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_material_folder_path(@course, @folder), :class => 'btn' %>
  </div>
<% end %>

<% # This is a modification of the template given in file_uploader_complicated so we can input file descriptions. %>
<script id="template-materials-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade" id="template-upload-id-{%= file.id %}">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="delete">
      <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" style="display: none;"></button>
      <input type="checkbox" name="delete" value="1">
    </td>
    <td class="name">
      <input type="hidden" name="files[{%=file.name%}]" class="uploaded-files" value="{%=file.id%}">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{% if (file.original) { %}{%=file.original%}{% } else { %}{%=file.name%}{% } %}</a>
      <div class="span5" style="overflow: visible; padding-top: 1em">
        <div class="span9">
          <textarea class="text_area span9 html-editor uploaded-file-description" name="descriptions[{%=file.name%}]" rows="10"></textarea>
        </div>
      </div>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="timestamp" colspan="2"><span>{%= file.timestamp %}</span></td>
    {% } %}
    <td class="delete">
      <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
        <i class="icon-trash icon-white"></i>
      </button>
    </td>
  </tr>
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
(function() {
  $(document).ready(function() {
    $('#fileupload').fileupload('option', 'downloadTemplateId', 'template-materials-download');
  });
  $('form#submit_material_uploads').submit(function() {
    // Copy all the HTML editor contents to our form.
    var $uploaded_files_div = $('div#uploaded_files_div');
    $('textarea.uploaded-file-description').each(function(n, textarea) {
      var $input = $('<input type="hidden" name="' + textarea.name + '" />');
      $input.val(textarea.value);
      $uploaded_files_div.append($input);
    });
  });
})();
</script>
