<div id="create-subfolder-modal" class="modal hide fade">
  <%= form_for [@course, @subfolder], :html => { :class => 'form-horizontal' }, :url => :course_new_material_folder, :method => :post do |f| %>
  <div class="modal-header">
    Create Subfolder
  </div>
  <div class="modal-body control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field span3' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= hidden_field_tag :type, :subfolder %>
    <%= f.submit nil, :class => 'btn btn-primary', data: {disable_with: "Submitting..."} %>
    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
</div>