<%- model_class = MaterialFolder -%>
<div class="page-header">
  <h1>
    Workbin: <%= @folder.name %>
    <% if not @folder.is_open? %>
    <span class="label label-important large-label">Closed</span>
    <% end %>
  </h1>
  <% if @folder.description %>
  <div>
    <p><%= @folder.description.html_safe %></p>
  </div>
  <% end %>
</div>

<%= render :partial => 'folder_controls' %>

<div class="container">
  <div class="span2">
    <%= render :partial => 'folder_tree' %>
  </div>
  <div class="span7">
    <%= render :partial => 'folder_listing' %>
  </div>
</div>
