<%- model_class = MaterialFolder -%>
<div class="page-header">
  <h1>Materials: <%= @folder.name %></h1>
  <% if @folder.description %>
  <div>
    <p><%= @folder.description.html_safe %></p>
  </div>
  <% end %>
  <% if (can? :manage, Material) && not(@folder.is_virtual) %>
    <%= render :partial => 'folder_controls' %>
  <% end %>
</div>

<div class="container">
  <div class="span2">
    <%= render :partial => 'folder_tree' %>
  </div>
  <div class="span7">
  <%= render :partial => 'folder_listing' %>
  </div>
</div>
