<%- model_class = MaterialFolder -%>
<div class="page-header">
  <h1>Materials: <%= @folder.name %></h1>
</div>
<% if @folder.description %>
<div>
<h2 class="materials-description-title">Folder Description</h2>
  <p><%= @folder.description %></p>
  <% if can? :manage, Material %>
    <%= render :partial => 'folder_controls' %>
  <% end %>
  <hr>
</div>
<% end %>

<div class="container">
  <div class="span2">
    <%= render :partial => 'folder_tree' %>
  </div>
  <div class="span7">
  <%= render :partial => 'folder_listing' %>
  </div>
</div>