<%= simple_form_for [@course, @assessment, @question],
                    html: { class: 'form-horizontal'}  do |f| %>

    <%= f.input :title %>
    <%= f.association :language, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :max_grade, as: :integer, input_html: {class: "number_field input-mini"}, min: 0  %>
    <%= f.association :dependent_on,
                      collection: @assessment.questions.coding.before(@question.question, @assessment.questions.count),
                      label_method: :title, value_method: :id,
                      include_blank: true, hint: "Include student solution from this question" %>

    <%= f.input :description, as: :text, input_html:{class: "span7 text-area html-editor", rows:10}  %>
    <% if @question.persisted? %>
        <div class="control-group">
          <h3>Comments (staff only)</h3>
          <% require 'digest/md5' %>
          <% ecid =  Digest::MD5.hexdigest(@question.class.to_s << @question.id.to_s) %>
          <div>
            <%= render partial: "comments/list",
                       locals: { comments:  CommentTopic.comments_to_json(@question.question.comment_topic, curr_user_course),
                                 target:    @question,
                                 header:    'Comments',
                                 ecid:      ecid
                       } %>
          </div>
        </div>
    <% end %>

    <% if @assessment.is_mission? %>
        <%= f.input :auto_graded, as: :boolean, inline_label: "Check to enable auto-grading" %>
    <% end %>

    <h3>Options</h3>

    <%= f.input :memory_limit,label: "Memory Limit (MB)", as: :integer, input_html: {class: "number_field input-mini"}  %>
    <%= f.input :time_limit,label: "Time Limit (secs)", as: :integer, input_html: {class: "number_field input-mini"}  %>

    <% if @assessment.is_mission? %>
        <%= f.input :test_limit,label: "Test Limit (times)", as: :integer, input_html: {class: "number_field input-mini"}  %>
    <% end %>

    <div id="pathstep_content">
      <div class="cos_code path-code" id="path_dooptions">
        <div>Pre-filled code:</div><textarea  rows="4" id="prefilled"></textarea>
        <div>Included code (optional, hidden):</div><textarea  rows="2" id="included"></textarea> <br />
      </div>

      <div id="path_testcases">
        <h3>Test Cases</h3>
        <p><strong>NOTE:</strong> The expression in the <strong>'CODE TO RUN'</strong> column will be compared with the expression in the <strong>'EXPECTED OUTOUT'</strong> column using the equality operator. The return value of <code>print()</code> is <code>None</code> and the printed output should not be confused with the return value. </p>
        <div id="public_tests">
          Public Tests: <input type="button" id="add-public-test"  class="btn btn-info pull-right" value="Add New Test"  onclick="path.addTest('public');"  />
          <table id="public_test" class="table table-bordered test_table">
            <thead>
            <tr>
              <th>
                Code to Run
              </th>
              <th>
                Expected Output
              </th>
              <th class="test-delete-col">
              </th>
            </tr>
            </thead>
            <tbody id="public_test_tbody">
            </tbody>
          </table>
        </div>
        <div id="private_tests">
          Private Tests: <input type="button" id="add-private-test" class="btn btn-info pull-right" value="Add New Test" onclick="path.addTest('private');" />
          <table id="private_test" class="table table-bordered test_table">
            <thead>
            <tr>
              <th>
                Code to Run
              </th>
              <th>
                Expected Output
              </th>
              <th>
                Hint
              </th>
              <th class="test-delete-col">
              </th>
            </tr>
            </thead>
            <tbody id="private_test_tbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%= f.hidden_field :data, id: "coding_question_data" %>
    <%= f.button :form_submit, id:"saveCQ", cancel: :back %>
    <%= render :partial => "layouts/html_editor" %>
<% end %>

