<div class="page-header">
  <h1>Course Statistics</h1>
</div>
<h3>Assessment</h3>
<p>View detail statistics of each assessment:</p>
<table class="table-basic">
  <tr>
    <td>Mission</td>
    <td>
      <select id="select-mission">
        <%= @course.missions.each do |asm| %>
            <option value="<%= course_stats_mission_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-mission">View</a></td>
  </tr>
  <tr>
    <td>Training</td>
    <td>
      <select id="select-training">
        <%= @course.trainings.each do |asm| %>
            <option value="<%= course_stats_training_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-training">View</a></td>
  </tr>
</table>
<br/>
<h3>Levels</h3>

<table class="table">
  <tr>
    <th width="10%">Level</th>
    <th width="10%">Count</th>
    <th>Students</th>
  </tr>
  <% @course.levels.each do |lvl| %>
      <% lvl_stds = lvl.user_courses.student.where(is_phantom:false) %>
      <% no = lvl_stds.count %>
      <% if no > 0 %>
          <tr>
            <td><%= lvl.get_title %></td>
            <td><%= no %></td>
            <td>
              <% lvl_stds.first(20).each do |sc| %>
                  <%= render partial: "user_courses/short_name_display",
                             locals: { user_course: sc } %>
              <% end %>
              <% if no > 20 %>
                  <a href="<%= course_level_url(@course, lvl) %>">more...</a>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<br/>
<h3>Achievements</h3>
<table class="table">
  <tr>
    <th width="10%"></th>
    <th width="20%">Title</th>
    <th width="10%">Count</th>
    <th>Students</th>
  </tr>
  <% @course.achievements.each do |ach| %>
      <% std_ucs = ach.user_courses.student.where(is_phantom: false) %>
      <% no = std_ucs.count  %>
      <% if no > 0 %>
          <tr>
            <td><img class="achievement-icon" src="<%= ach.icon_url %>" /></td>
            <td><%= ach.title %></td>
            <td><%= no %></td>
            <td>
              <% std_ucs.first(20).each do |uach| %>
                  <%= render partial: "user_courses/short_name_display",
                             locals: { user_course: uach } %>
              <% end %>
              <%if no > 20 %>
                  <a href="<%= course_achievement_path(@course, ach) %>">more...</a>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>
<!-- A graph to show statistical exp -->


