<div class="page-header">
  <h1>Training Statistics</h1>
</div>
<h3>Training: <%= @training.title %></h3>
<%= link_to "Click here",
  course_submissions_path(@course, asm: {id: @training.id,
                                         type: @training.class.name}.to_json),
  method: "GET" %>
to review all submission for this training.
<br/>
<br/>
<table class="table">
  <tr>
    <th width="15%">Current Step</th>
    <th>Count</th>
    <th>Students</th>
  </tr>
  <% @sbms_by_progress.each do |current_step, sbms| %>
    <tr>
      <td><%= current_step > @training.questions.count ? 'Finished' : current_step %></td>
      <td><%= sbms.size %></td>
      <td>
        <% sbms.each do |sbm| %>
          <%= render partial: "user_courses/short_name_display",
            locals: { user_course: sbm.std_course } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Not started</td>
    <td><%= @unsubmitted.size %></td>
    <td>
      <% @unsubmitted.each do |uc| %>
        <%= render partial: "user_courses/short_name_display",
          locals: { user_course: uc } %>
      <% end %>
    </td>
  </tr>
</table>
<h3>Grade</h3>
<div class="graph-container">
  <div id="asm_grade_graph" class="graph"></div>
</div>
<%= render_chart(@grade_chart, "asm_grade_graph") %>
<h3>Start time</h3>
<div id="asm_starttime_graph" class="graph"></div>
<%= render_chart(@date_chart, "asm_starttime_graph") %>
<h3>Progress</h3>
<div id="asm_progress_graph" class="graph"></div>
<%= render_chart(@progress_chart, "asm_progress_graph") %>
<h3>Mcq stats</h3>
<% @mcqs.each do |mcq| %>
  <p class="well"><%= mcq.description.html_safe %></p>
  <table class="table">
    <colgroup>
      <col width="5%"></col>
      <col width="35%"></col>
      <col width="5%"></col>
    </colgroup>
    <% mcq.mcq_answers.each do |choice| %>
      <% uniq_stds = choice.std_mcq_answers.map { |sma| sma.student }.uniq %>
      <tr>
        <td><input type="checkbox" disabled <%= "checked" if choice.is_correct %> /></td>
        <td><%= choice.text %></td>
        <td><%= uniq_stds.size %></td>
        <td>
          <% uniq_stds.each do |std| %>
            <span class="label label-info"><%= std.name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<hr>
<p>View detail statistics of other assignment:</p>
<table class="table-basic">
  <tr>
    <td>Mission</td>
    <td>
      <select id="select-mission">
        <%= @missions.each do |asm| %>
          <option value="<%= course_stats_mission_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-mission">View</a></td>
  </tr>
  <tr>
    <td>Training</td>
    <td>
      <select id="select-training">
        <%= @trainings.each do |asm| %>
          <option value="<%= course_stats_training_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-training">View</a></td>
  </tr>
</table>
