<div class="page-header">
  <h1>Training Statistics: <span style="font-style: italic; font-weight: normal"><%= @training.title %></span> </h1>
  <%= link_to "Click here",
              submissions_course_assessment_trainings_path(@course, asm: @training.assessment.id),
              method: "GET" %>
  to review all submission for this training.
</div>

<div class="btn-group">
  <a class="btn <%= 'active' unless @summary[:all] %>" href="<%= course_stats_training_path(@course, @training) %>?mode=mine">My Students</a>
  <a class="btn <%= 'active' if @summary[:all] %>" href="<%= course_stats_training_path(@course, @training) %>?mode=all">All Students</a>
</div>
<br/>

<h3>Summary</h3>
<table class="table table-bordered">
  <tr>
    <th width="15%">Current Step</th>
    <th>Count</th>
    <th>Students</th>
  </tr>
  <% @summary[:progress].each do |current_step, sbms| %>
      <tr>
        <td><%= current_step > @training.questions.count ? 'Finished' : current_step %></td>
        <td><%= sbms.size %></td>
        <td>
          <% sbms.each do |sbm| %>
              <%= render partial: "user_courses/short_name_display",
                         locals: { user_course: sbm.std_course } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td>Not started</td>
    <td><%= @summary[:not_started].length %></td>
    <td>
      <% @summary[:not_started].each do |uc| %>
          <%= render partial: "user_courses/short_name_display",
                     locals: { user_course: uc } %>
      <% end %>
    </td>
  </tr>
</table>

<h3>Grade Distribution</h3>
<div class="graph-container">
  <div id="asm_grade_graph" class="graph"></div>
</div>
<%= render_chart(@summary[:grade_chart], "asm_grade_graph") %>
<h3>Start time</h3>
<div id="asm_starttime_graph" class="graph"></div>
<%= render_chart(@summary[:date_chart], "asm_starttime_graph") %>
<h3>Progress</h3>
<div id="asm_progress_graph" class="graph"></div>
<%= render_chart(@summary[:progress_chart], "asm_progress_graph") %>
<div id="summary" style="padding-top: 30px">
  <h3>Question Summary</h3>
</div>
<table class="table table-bordered table-striped" style="width: 250px">
  <thead>
  <tr>
    <td>Question No.</td>
    <td>Wrong/ Total Attempts</td>
  </tr>
  </thead>
  <tbody>
  <% @training.questions.each_with_index do |qn, i| %>
      <tr>
        <td style="text-align: center"><a href="#question_<%= i + 1%>"> <%= i + 1 %></a></td>
        <td style="text-align: center">
          <strong style="color: red">
            <%= qn.wrong_answers_of_students(@students).count %> </strong> / <%= qn.answers_of_students(@students).count %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div id="ruler">&nbsp;</div>
<h3>Question stats</h3>
<% @training.questions.includes(:as_question).each_with_index do |qn, i| %>
    <section id="question_<%= i + 1%>" style="padding-top: 40px">
      <div class="grey_background" style="margin: 10px">
        <strong><%= i + 1 %>. </strong>
        <%= style_format qn.description %>
      </div>
      <% if qn.specific.class == Assessment::McqQuestion %>
          <table class="table" style="margin: 10px; margin-left: 50px; width: auto; min-width: 90%">
            <colgroup>
              <col width="5%"/>
              <col width="35%"/>
              <col width="5%"/>
            </colgroup>
            <% qn.options.each do |opt| %>
                <% uniq_stds = opt.uniq_std(@course).uniq & @students %>
                <tr>
                  <td><input type="checkbox" disabled <%= "checked" if opt.correct %> /></td>
                  <td><%= opt.text %></td>
                  <td><%= uniq_stds.size %></td>
                  <td>
                    <% uniq_stds.each do |std| %>
                        <span class="label label-info"><%= std.name %></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <% answers = qn.answers_of_students(@students).order(:std_course_id).includes(:std_course) %>
          <div style="margin: 10px; margin-left: 50px;">
            Wrong / Total Attempts: <strong style="color: red"> <%= answers.where(correct:false).length %> </strong> / <%= answers.length %>
            <a class="btn" data-toggle="collapse"  href="#code<%= i + 1%>">Click To Expand / Collapse Code</a>
          </div>
          <div id="code<%= i + 1%>" class="collapse out">
            <% answers.each_with_index do |ans, index| %>
                <div class="code-review-header <%= ans.correct ? "mcq-ans-correct" : "mcq-ans-incorrect" %>" style="margin-left: 50px">
                  <%= index + 1 %> : <%= ans.std_course.name %>
                  <div class="pull-right"><%= time_ago_in_words(ans.created_at) %></div>
                </div>
                <div style="margin-left: 60px">
                  <%= style_format('[mc]' + ans.content + '[/mc]', false) %>
                </div>
            <% end %>
          </div>
      <% end %>
    </section>
<% end %>
<hr>
<p>View detail statistics of other assignment:</p>
<table class="table-basic">
  <tr>
    <td>Mission</td>
    <td>
      <select id="select-mission">
        <%= @missions.each do |asm| %>
            <option value="<%= course_stats_mission_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-mission">View</a></td>
  </tr>
  <tr>
    <td>Training</td>
    <td>
      <select id="select-training">
        <%= @trainings.each do |asm| %>
            <option value="<%= course_stats_training_path(@course, asm) %>"><%= asm.title %></option>
        <% end %>
      </select>
    </td>
    <td><a href="#" class="btn btn-select-nav" data-target="#select-training">View</a></td>
  </tr>
</table>

<div data-spy="affix" data-offset-top="800" class="float-submit" style="top:50px" id="back-to-top">
  <a class="btn" style="height: 45px; width: 45px;font-size: 40px" href="#summary"><i class="icon-arrow-up"></i></a>
</div>
<script>
    $(document).ready(function(){

        $('#back-to-top').affix({
            offset: {
                top: $("#ruler").height() * 2
            }
        });

    });
</script>