<%- display_name = @course.customized_title("Missions").singularize -%>
<%= form_for [@course, @mission], :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span7' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span7 html-editor', :rows => 10 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :exp, 'EXP', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :exp, :class => 'number_field input-medium',id:"mission-exp" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :open_at, :class => 'control-label' %>
      <div class="controls">
        <div class="datetimepicker future-only input-append date">
          <%= f.text_field :open_at,
                           :value => datetime_format(@mission.open_at),
                           :class => 'input-medium',
                           id: 'open_at',
                           required: true %>
          <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :close_at, :class => 'control-label' %>
      <div class="controls">
        <div class="datetimepicker future-only input-append date">
          <%= f.text_field :close_at,
                           :value => datetime_format(@mission.close_at),
                           :class => 'input-medium',
                           id: 'close_at',
                           required: true %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
           </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :published, 'Publish?', class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :published %> Check to publish <%= display_name.downcase %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Comment Mode", Class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :comment_per_qn %> Check to have comment box per question (Otherwise per mission)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :file_submission, 'Submission Type', class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :file_submission %> Allow File Submission
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Submission Format", class: 'control-label' %>
      <div class="controls checkbox-text">
        <%= f.check_box :file_submission_only %> Check to <strong style="color: red">only</strong>  allow file submission
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Format", class: 'control-label' %>
      <div class="controls" >
        <div class="checkbox-text">
          <label>
            <%= f.check_box :single_question,
                            'data-toggle' => "collapse",
                            'data-target' => '#question-types',
                            id: "mission-format-checkbox"
            %>
            Questions are contained in <%= display_name.downcase %> files
          </label>
        </div>
        <br>
        <div id="question-types" class="collapse <%= @mission.single_question? ? 'in' : 'out'  %>">
          <div class="control-group">
            <%= f.label "Answer Type", class: 'control-label' %>
            <div class="controls">
              <% qn = @mission.get_all_questions.first  %>
              <select name="answer_type" class="input-medium" >
                <option value="code" <%= 'selected="selected"' if !qn or qn.class ==  CodingQuestion %>>Code</option>
                <option value="essay" <%= 'selected="selected"' if qn and qn.class ==  Question %>> Essay </option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "Max Grade", class: 'control-label' %>
            <div class="controls">
              <input type="text" class="input-medium" name="max_grade" id="mission-max-grade" value="<%= @mission.max_grade %>">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Display Mode", class: 'control-label' %>
      <div class="controls">
        <select id="select-display-mode" name="mission[display_mode_id]">
          <% AssignmentDisplayMode.all.each do |mode| %>
            <option value="<%= mode.id %>" <%= 'selected' if @mission.display_mode == mode.id %> > <%= mode.title %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :dependent_id, 'Dependency', class: 'control-label' %>
      <div class="controls">
        <%- missions = @missions - [@mission]
            missions = missions.map { |m| [m.title, m.id] }
        %>
        <%= f.select :dependent_id, missions, class: 'select', include_blank: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Topics', class: 'control-label' %>
      <div class="controls">

        <%= render partial: "tags/form_checkboxes",
                   locals: { course: @course } %>
      </div>
    </div>
    <div id="uploaded_files_div"></div>
    <div class="form-actions">
      <%= f.submit "#{@mission.new_record? ? 'Create' : 'Update'} #{display_name}", :class => 'btn btn-primary', id: "mission-update",data: {disable_with: "Submitting..."} %>
      <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                  @mission.persisted? ? course_assessment_mission_path(@course, @mission) :
                                        course_assessment_missions_path(@course),
                  :class => 'btn' %>
    </div>

    <%= render :partial => 'layouts/html_editor' %>
<% end %>
<h3>Upload <%= display_name.downcase.humanize %> files</h3>
<br/>
<%= render partial: "layouts/file_uploader_complicated",
           locals: { owner: @mission, access_control: true } %>

