<div class="missions">
<%- model_name = "Missions" -%>
<div class="page-header">
  <h1><%=t '.title', :default => @course.customized_title(model_name).pluralize %></h1>
</div>


<%= render partial: 'navigation' %>


<div>
  <h3><a href="#" data-toggle="collapse" data-target="#tag-checklist">&raquo; Filter</a> <small>(click to reveal)</small></h3>
  <%= form_tag(course_assessment_missions_path(@course), method: :get) do %>
      <div class="collapse <%= @summary[:selected_tags] ? "in" : "out" %>" id="tag-checklist">
        <div class="well">
          <%= render partial: "tags/form_checkboxes",
                     locals: { course: @course } %>
          <button class="btn">Filter</button>
        </div>
      </div>
  <% end %>
</div>

<% if can? :manage, Assessment::Mission %>
    <p>
      <%= link_to "New #{@course.customized_title(model_name).singularize}",
                  new_course_assessment_mission_path(@course),
                  :class => 'btn btn-primary' %>
    </p>
<% end %>
<% to_display = @display_columns.keys %>
<% if to_display.include? 'tag' %>
    <p class="assignments-blurb"><em>* Click on the tags to view <%= @course.customized_title(model_name).pluralize.downcase %> and <%= @course.customized_title_by_model(Training).pluralize.downcase %> in that tag.</em></p>
<% end %>

<table class="table assignments missions-list-table">
  <thead>
  <tr>
    <% @display_columns.each do |key, val| %>
        <th width="<% if key == 'tag'  %>
          15%
          <% elsif key == 'title' %>
          25%
          <% end %>
          "><%= val %></th>
    <% end %>

    <% if curr_user_course.id && can?(:manage, Assessment::Submission) %>
        <th width="10%"></th>
    <% end %>
    <% if can?(:view_detail, Assessment::Mission) %>
        <th width="10%"></th>
    <% end %>
  </tr>
  </thead>

  <tbody class="table-hover">
  <% @missions.each do |mission| %>
      <tr id="row-<%= mission.id %>">
        <% if to_display.include? 'title' %>
            <td>
              <%= link_to "", id: "link-#{mission.id}" do %>
                  <h4 id="title-<%= mission.id %>">
                    <%= mission.title %>
                  </h4>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'tag' %>
            <td>
              <% mission.tags.each do |tag| %>
                  <%= link_to course_tag_path(@course, tag) do %>
                      <span class="label label-info"><%= tag.name %></span>
                  <% end %>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'exp' %>
            <td><%= mission.exp %></td>
        <% end %>
        <% if to_display.include? 'award' %>
            <td>
              <% mission.as_requirements.each do |req| %>
                  <a href='#' title="<%= req.obj.title %>">
                    <img class="asm-ach-icon" src="<%= req.obj.icon_url %>" >
                  </a>
              <% end %>
            </td>
        <% end %>
        <% if to_display.include? 'start' %>
            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if mission.open_at > Time.now then time_ago_in_words(mission.open_at) else '----' end%>
              <% else %>
                  <%= mission.open_at.strftime(@time_format.prefer_value)  %>
              <% end %>
            </td>
        <% end %>

        <% if to_display.include?  'end'%>
            <td>
              <% if @time_format.prefer_value == 'ago' %>
                  <%= if mission.close_at > Time.now then time_ago_in_words(mission.close_at) else '----' end%>
              <% else %>
                  <%= mission.close_at.strftime(@time_format.prefer_value) %>
              <% end %>
            </td>
        <% end %>
        <% if curr_user_course.id%>
            <td>
              <div id="<%= mission.id %>"></div>
            </td>
        <% end %>
        <% if can? :view_detail, mission %>
            <td>
              <%= link_to course_assessment_mission_path(@course, mission), class: 'btn' do %>
                  <i class="icon-external-link"></i>
              <% end %>
              <% if can? :manage, mission %>
                  <%= link_to course_assessment_mission_path(@course, mission),

                              method: :delete,
                              data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete: #{mission.title}?")) },
                              class: 'btn btn-danger' do %>
                      <i class="icon-trash"></i>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @paging.display? %>
    <%= paginate @missions %>
<% end %>

</div>
<input type="hidden" class="json-data" value='<%= @summary.to_json %>'>

