<%- title =  @course.customized_title('Mission').pluralize %>
<div class="missions missions-overview">
  <div class="page-header">
    <h1>Update <%= title %></h1>
  </div>
  <%= render partial: 'navigation', locals: {title: title} %>

  <%= simple_form_for @course, url: bulk_update_course_assessment_missions_path(@course), :method => 'POST' do |f| %>
      <table class="table">
        <thead>
        <tr>
          <th><%= @display_columns['title'] %></th>
          <th><%= @display_columns['exp'] %></th>
          <th><%= @display_columns['start'] %></th>
          <th><%= @display_columns['end'] %></th>
          <th>Dependency</th>
          <th>Publish?</th>
        </tr>
        </thead>
        <tbody>
          <%= f.simple_fields_for :missions do |mf| %>
            <tr>
              <td><%= mf.input_field :title, class: "input-medium" %></td>
              <td><%= mf.input_field :exp, as: :integer, class: "input-mini" %></td>
              <td><%= mf.input_field :open_at, as: :datetime_picker, class: "input-medium" %></td>
              <td><%= mf.input_field :close_at, as: :datetime_picker, class: "input-medium" %></td>
              <td>
                <%= mf.association :dependent_on,
                                  collection: @course.assessments.mission - [mf.object.assessment] + @course.assessments.training,
                                  label_method: :full_title,
                                  value_method: :id,
                                  include_blank: "No Dependency",
                                  label: false,
                                  wrapper: false,
                                  input_html: {class: "input-medium"} %>
              </td>
              <td class="publish"><%= mf.input_field :published, as: :boolean %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="center">
        <button class="btn btn-large" id="submit-button">Update</button>
      </div>
  <% end %>
</div>
