<div class="page-header">
  <h1><%= @course.customized_title_by_model(Mission).singularize %> Grading: <%= @mission.title %></h1>
</div>

<input type="hidden" value="<%= course_assessment_mission_dump_code_path %>" id="dump_url" />

<% if @my_std_courses.size > 0 %>
    <h3>My Students</h3>
    <br>
    <% if (@mission.single_question? and @mission.coding_questions.first) || @mission.file_submission_only?  %>
        <%= link_to "Download Submissions",
            "#{course_mission_dump_code_path(:format => 'zip')}?_type=mine",
            class: "btn"
        %>
    <% end %>
    <table class="table">
      <thead>
      <th>Student</th>
      <th>Status</th>
      <th>Grade</th>
    </thead>
    <tbody>
      <% @my_std_courses.each do |std| %>
        <% sub = @submissions.select {|sub| sub.std_course == std }.first %>
        <tr>
          <% if sub %>
            <td><a href="<%= course_mission_submission_path(@course, @mission, sub) %>"><%= std.name %></a> </td>
          <% else %>
            <td><%= std.name %></td>
          <% end %>
          <td><%= sub ? sub.status.capitalize : '<span class="not-started">Not Started</span>'.html_safe %></td>
          <td><%= (sub and sub.final_grading) ? sub.final_grading.grade : 0 %>/ <%= @mission.max_grade %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>

<h3>All Students</h3>
<br>
<% if (@mission.single_question? and @mission.coding_questions.first) || @mission.file_submission_only?  %>
    <%= link_to "Download Submissions",
                course_mission_dump_code_path(:format => 'zip'),
                class: "btn"
    %>
<% end %>
<table class="table">
  <thead>
  <th>Student</th>
  <th>Tutor</th>
  <th>Status</th>
  <th>Grade</th>
  </thead>
  <tbody>
  <% @std_courses.each do |std| %>
      <% sub = @submissions.select {|sub| sub.std_course == std }.first %>
      <tr>
        <% if sub %>
            <td><a href="<%= course_assessment_mission_assessment_submission_path(@course, @mission, sub) %>"><%= std.name %></a> </td>
        <% else %>
            <td><%= std.name %></td>
        <% end %>
        <td><%= std.get_my_tutor_name %></td>
        <td><%= sub ? sub.status.capitalize : '<span class="not-started">Not Started</span>'.html_safe %></td>
        <td><%= (sub and sub.grade) ? sub.grade : 0 %> / <%= @mission.max_grade %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @stats_paging.display? %>
  <%= paginate @std_courses %>
<% end %>

<% if @std_courses_phantom.length > 0 %>
    <h3>Phantom Students</h3>
    <br>
    <% if (@mission.single_question? and @mission.coding_questions.first) || @mission.file_submission_only?  %>
        <%= link_to "Download Submissions",
                    "#{course_mission_dump_code_path(:format => 'zip')}?_type=phantom",
                    class: "btn"
        %>
    <% end %>
    <table class="table">
      <thead>
      <th>Student</th>
      <th>Tutor</th>
      <th>Status</th>
      <th>Grade</th>
    </thead>
    <tbody>
      <% @std_courses_phantom.each do |std| %>
        <% sub = @submissions.select {|sub| sub.std_course == std }.first %>
        <tr>
          <% if sub %>
            <td><a href="<%= course_assessment_mission_assessment_submission_path(@course, @mission, sub) %>"><%= std.name %></a> </td>
          <% else %>
            <td><%= std.name %></td>
          <% end %>
          <td><%= std.get_my_tutor_name %></td>
          <td><%= sub ? sub.status.capitalize : '<span class="not-started">Not Started</span>'.html_safe %></td>
          <td><%= (sub and sub.final_grading) ? sub.final_grading.total_grade : 0 %>/ <%= @mission.max_grade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
