<div class="navbar">
  <a class="btn btn-navbar collapsed" data-toggle="collapse"
     data-target=".sidenav-collapse">
    <span class="icon-chevron-down"></span>
  </a>
</div>
<div class="clearfix"></div>
<div class="sidenav-collapse collapse" style="height: 0px;">
  <ul class="nav nav-list sidenav">
    <li><%= link_to "Users", admins_path %></li>
    <li><%= link_to "Masquerade", admin_masquerades_path %></li>
    <li>
      <a href="<%= role_requests_path %>">
        Role Requests <% if @request_count && @request_count > 0 %><span class="sidenav-count " ><%= @request_count %></span><% end %>
      </a>
    </li>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li><%= link_to "Send Announcement", admins_system_wide_announcement_path %></li>
  </ul>
</div>


