<% if current_uc %>
<div class="user-short-profile">
  <table>
    <tr>
      <td>
        <img class="user-profile-pic"
          src=<%= current_user.profile_photo_url %> />
      </td>
      <td style="padding-left: 10px">
        <h3><%= current_user.name %></h3>
      </td>
    </tr>
  </table>
  <% if current_uc.is_student? %>
    <table class="table user-short-stat" style="text-align:center">
      <thead>
        <tr>
          <% # <th>Ranking</th> %>
          <th>Achievement</th>
          <th>Level<th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% # <td>10</td> %>
          <td><%= current_uc.user_achievements.count() %></td>
          <td><%= current_uc.level ? current_uc.level.level : 0 %></td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="progress" style="margin-bottom: 3px">
        <div class="bar bar-success" style="width: 
          <%= current_uc.level_percentage %>%"></div>
      </div>
      <span class="pull-right">
        <%= current_uc.exp %>
        /
        <%= current_uc.level ? current_uc.level.exp_threshold : 0 %> EXP</span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>
<hr/>
<% end %>
<ul class="nav nav-list sidenav">
  <% @nav_items.each do |item| %>
    <li>
      <a href=<%= item[:url] %>>
        <% if item.has_key?(:img) %>
          <img src=<%= item[:img] %> />
        <% else %>
          <i class=<%= item[:icon] %>></i>
        <% end %>
        <%= item[:text] %>
        <% if item.has_key?(:count) && item[:count] > 0 %>
          <span class="sidenav-count pull-right"><%= item[:count] %></span>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
