<div class="row-fluid" style="width: 90%">
  <div class="span2 sidebar">
    <%= render "layouts/course_side_bar" %>
  </div>
  <div class="course-title span9">
    <a href="<%= course_path(@course) %>">
      <%= @course.title %>
    </a>
  </div>
  <div class="span9 content">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div style="clearfix"/>
    <%= yield %>
  </div>
  <%= render "layouts/course_popup" %>
</div>

