<a href="<%= main_app.course_path(@course) %>">
  <img class="sidebar-course-logo"  src="<%= @course.logo_url %>" />
</a>

<% if curr_user_course.id %>
    <div class="user-sidebar-container">
      <div class="user-sidebar-profile">
        <a class="user-thumb-profile" href="<%= get_social_media_url(curr_user_course)%>">
          <img class="user-profile-pic" src="<%= current_user.get_profile_photo_url %>" />
        </a>
        <div id="user-profile-name">
          <a href="<%= main_app.course_user_course_path(@course, curr_user_course)%>">
          <%= current_user.name %></a>
        </div>
        <div class="clearfix"></div>
      </div>



      <% cache ("sidebar/#{@course.id}/uc/#{curr_user_course.id}") do %>
          <% if curr_user_course.is_student? and @course.show_ranking? %>
              <hr>
              <table class="table user-short-stat" style="text-align:center">
                <thead>
                <tr>
                  <th><%= link_to 'Achievement', main_app.course_achievements_path(@course) %></th>
                  <th><%= link_to 'Level', main_app.course_user_course_exp_transactions_path(@course, curr_user_course) %><th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <% # <td>10</td> %>
                  <td><%= curr_user_course.user_achievements.count %></td>
                  <td><%= curr_user_course.level ? curr_user_course.level.level : 0 %></td>
                </tr>
                </tbody>
              </table>
              <div>
                <div class="progress" style="margin-bottom: 3px">
                  <div class="bar bar-success" style="width: <%= curr_user_course.level_percentage %>%"></div>
                </div>
                <span class="pull-right">
                    <strong style="font-size: 1.2em"><%= curr_user_course.exp_gained_in_level %></strong>
                    /
                  <%= curr_user_course.level ? curr_user_course.exp_to_next_level : @course.levels.first.exp_threshold %> EXP</span>
                <div class="clearfix"></div>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>



<% cache("sidebar/#{@course.id}/role/#{curr_user_course.role_id}") do %>
    <div class="navbar">
      <a class="btn btn-navbar collapsed" data-toggle="collapse"
         data-target=".sidenav-collapse">
        <span class="icon-chevron-down"></span>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="sidenav-collapse collapse" style="height: 0px;">
      <ul class="nav nav-list sidenav" id="navbar_tabs" url="<%= course_notifications_path(@course)%>">
        <% if @nav_items %>
            <% @nav_items.each do |item| %>
                <li>
                  <a href="<%= item[:url] %>">
          <span class="nav-icon">
            <% if item.has_key?(:img) && item[:img] && !item[:img].empty? %>
              <img src="<%= item[:img] %>" />
            <% else %>
              <i class="<%= item[:icon] %>"></i>
            <% end %>
          </span>
                    <%= item[:text] %>
                    <span class="sidenav-count" style="display: none"
                          id="badge_<%= item[:item] %>"></span>
                  </a>
                </li>
            <% end %>
        <% end %>
      </ul>
      <% if @admin_nav_items %>
          <br>
          <h3>Admin Functions</h3>
          <ul class="nav nav-list sidenav">
            <!--TODO: refactoring-->
            <% @admin_nav_items.each do |item| %>
                <li>
                  <a href="<%= item[:url] %>">
            <span class="nav-icon">
              <% if item.has_key?(:img) && item[:img] && !item[:img].empty? %>
                <img src="<%= item[:img] %>" />
              <% else %>
                <i class="<%= item[:icon] %>"></i>
              <% end %>
            </span>
                    <%= item[:text] %>
                    <span class="sidenav-count" style="display: none" id="badge_<%= item[:text].split(" ").join %>"></span>
                  </a>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>
<% end %>