<footer>
  <hr/>
  <div class="navbar-bottom">
    <div class="container-fluid">
      <p class="pull-left">&copy; 2013 -
        <%= Time.now.year %>
        Coursemology.org. All Rights Reserved.</p>
      <nav class="pull-right">
        <ul class="nav">
          <li><%= link_to "Term of Service", terms_of_service_path %></li>
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
          <li><%= link_to "Contact Us", contact_us_path %></li>
          <li><a href="https://github.com/Coursemology/coursemology.org.git">Source code</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

