<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "/", id: "logo" do %>
        course<span style="font-weight: normal">mology</span>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            <li class="dropdown">
              <a id="usercontrol" class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.name %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" arial-labelled-by="usercontrol">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Setting</a></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
