<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "/", id: "site-logo" do %>
          <img src="/images/coursemology_white.png" />
      <% end %>
      <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-chevron-down"></span>
      </a>
      <div class="nav-collapse" style="height: 0px;">
        <ul class="nav pull-right">
          <li><%= link_to "Courses", main_app.courses_path %></li>
          <% if current_user %>
              <li class="dropdown">
                <a id="usercontrol" class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= current_user.name %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" arial-labelled-by="usercontrol">
                  <li><%= link_to "Account management", main_app.users_settings_path %></li>
                  <% if can? :manage, :user %>
                      <li><%= link_to "Admin panel", main_app.admins_path %></li>
                  <% end %>
                  <li><%= link_to "Sign out", main_app.destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign up", main_app.new_user_registration_path %></li>
              <li><%= link_to "Sign in", main_app.new_user_session_path %></li>
          <% end %>
          <% if masquerading? %>
              <li>
                <%= link_to "(Stop Masquerading)", main_app.destroy_masquerades_path, method: :delete %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
