<% @qadata.each do |qid, qa| %>
    <hr/>
    <% unless @mission.single_question? %>
        <h3>Question <%= qa[:i] %>:</h3>
        <div class="row-fluid">
          <div class="submission-question-block span10"><%= style_format(qa[:q].description) %></div>
        </div>
    <% end %>
    <h3>Answer:</h3>
    <% if qa[:a] %>
        <% if qa[:q].class == CodingQuestion %>
            <%= render partial: "submissions/do_coding",
                       locals: {answer: qa[:a],
                                qn:     qa[:q],
                                mode:   "view"}%>
        <% else %>
            <div class="row-fluid">
              <div class="submission-question-block span10">
                <%= qa[:a].text.html_safe %>
              </div>
            </div>
        <% end %>
        <input type="hidden" name="ags[<%= qa[:g].id if qa[:g] %>][student_answer_id]" value="<%= qa[:a].id %>">
        <input type="hidden" name="ags[<%= qa[:g].id if qa[:g] %>][student_answer_type]" value="<%= qa[:a].class.name %>">
        <div class="row-fluid">
          <div class="span10">
            <% require 'digest/md5' %>
            <% ecid =  Digest::MD5.hexdigest(qa[:a].class.to_s << qa[:a].id.to_s) %>
            <input type="hidden" id="submission_url_<%= ecid %>" value="<%= course_mission_submission_url(@course, @mission, @submission) %>">
            <%= render partial: "comments/list",
                       locals: { comments:  qa[:a].comments_json,
                                 target:    qa[:a],
                                 header:    "Comments",
                                 ecid:      ecid,
                                 margin_left: "0px"} %>
          </div>
        </div>
        <!--TODO:ugly, to refactor-->
        <% if (@submission_grading and @submission_grading.id) || @do_grading || (@grading and !@mission.single_question?) %>
            <div class="row-fluid">
              <div class="span10">
                <div class="grading-block">
                  <% max_grade = qa[:q].max_grade  %>
                  <% exp = (@mission.exp * (qa[:q].max_grade.to_f / @mission.max_grade.to_f)).to_i %>
                  <h4>Grade awarded</h4>
                  <% if mode == 'view' %>
                      <strong><%= qa[:g].grade if qa[:g] %></strong>
                  <% else %>
                      <input type="text"
                             name="ags[<%= qa[:g].id if qa[:g] %>][grade]"
                             value="<%= qa[:g].grade if qa[:g] %>"
                             class="input-medium grade-input"
                             max="<%= max_grade %>"
                             id="exp-awarded"
                             onchange="suggestEXP( <%= max_grade %>, <%= exp %>, '<%= qid %>')"
                             required/>
                  <% end %>
                  <strong> / <%= max_grade %> </strong>

                  <h4>EXP awarded</h4>
                  <% if mode == 'view' %>
                      <strong><%= qa[:g].exp if qa[:g] %></strong>
                  <% else %>
                      <input id = "<%= qid %>"
                             type="text"
                             name="ags[<%= qa[:g].id if qa[:g] %>][exp]"
                             value="<%= qa[:g].exp if qa[:g] %>"
                             max="<%= exp %>"
                             class="input-medium exp-input"
                             required/>
                  <% end %>
                  <strong> /  <%= exp %></strong>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;Multiplier:</span>
                  <input type="text"
                         id="exp-multiplier"
                         class="input-mini"
                         value="1"
                         onchange="suggestEXP( <%= max_grade %>, <%= exp %>, '<%= qid %>')"
                  >
                  <br><br>

                </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <h4>No answer</h4>
    <% end %>
<% end %>
<script>

    function suggestEXP(max, exp, expId) {
        grade = $("#exp-awarded").val()
        if (!IsNumeric(grade) || (grade > max)) {
            return;
        }
        multiplier = $("#exp-multiplier").val() - 0;
        multiplier = multiplier > 1 ? 1 : multiplier;

        var result = Math.round(Math.round(multiplier * (exp * grade / max) / 5) * 5);
//        var result = Math.round( Math.round(exp * grade/ max));
        document.getElementById(expId).value = result;
    }
    //    $(document).ready(function(){
    //
    //
    //        $('#save_grading').click(function(e){
    //            e.preventDefault();
    //
    //            grades = $('.grade-input');
    //            exps = $('.exp-input');
    //            for (var i = 0; i < grades.length; i++) {
    //                gradeInput = grades[i];
    //                max = gradeInput.max - 0;
    //                if (!IsNumeric() || gradeInput.value > max) {
    //                    $(gradeInput).addClass(input_with_error);
    //                }
    //            }
    //        })
    //    });
</script>