<!DOCTYPE html>
<html>
<head>
  <title>Coursemology</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if !@course %>
    <style>
      body {
        background-color: white;
      }
    </style>
  <% end %>
  <% if @theme_settings %>
    <style>
      <% if @theme_settings['Background Color'] && @theme_settings['Background Color'] != '' %>
        body {
          background-color: <%= @theme_settings['Background Color'] %>
        }
      <% end %>
      <% if @theme_settings['Background Image'] && @theme_settings['Background Image'] != '' %>
        body {
          background-image: url(<%= @theme_settings['Background Image'] %>);
          background-position: bottom left;
          background-repeat: no-repeat;
        }
      <% end %>
      <% if @theme_settings['Sidebar Link Color'] && @theme_settings['Sidebar Link Color'] != '' %>
        .sidebar a {
          color: <%= @theme_settings['Sidebar Link Color'] %>;
        }
        .sidenav-count {
          background-color: <%= @theme_settings['Sidebar Link Color'] %>;
        }
      <% end %>

    </style>
  <% end %>
  <%= render partial: "layouts/google_analytics" %>
</head>
<body>
  <%= render "layouts/header" %>
  <% if @course && @course.id %>
    <div class="container-fluid course-content">
      <%= render "layouts/course_layout" %>
    </div>
  <% else %>
    <div class="container-fluid">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  <% end %>
  <%= render "layouts/footer" %>
</body>
</html>
