<div class="page-header">
  <h3>Update credentials</h3>
</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put, class: "form-horizontal" } ) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current_password, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :current_password %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :password, "New password", class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "New password confirmation", class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
    <div><%= f.submit "Update", class: "btn btn-primary" %></div>
  </div>
<% end %>

<%= render partial: "layouts/image_uploader",
      locals: { upload_to: file_uploads_path,
                container_class: '',
                image_url_class: '' } %>
